[2014-03-17 20:41] twadleigh opened #10 "Make Graphs.jl a dependency."
I'm looking to revisit getting the simplification algorithm working. In the process, I'm also going to entertain all manner of changes to the implementation.

One of them is to consider is re-basing the data structures on the relevant bits in Graphs.jl.

[2014-08-12 16:42] sjkelly opened #20 "Proposals for v0.1.0"
I've been adding a few non-breaking features recently. Once I am finished I think we should tag a new version and work on package uniformity. I think we should bump the minor version and implement these (breaking) changes. I'll add some ideas to this issue as I think of them.

API:
- [x] Uniform API for import/export
- [x] Uniform function naming

Mesh Type:
- [x] Determine and represent if a mesh

[2014-08-14 16:21] sjkelly opened #21 "Types are too specific"
@simondanisch mentioned on Julia-users

- which is why I don't see any harm in getting OpenCL into the discussion.

For example, the library should only use parametric types, which would enable me to use Float32.
It's a small thing if you do it from the beginning, but gives you quite a headache if you try to integrate it later on.

That's why I wrote: "lets start with julia and add OpenCL later"

[2014-09-12 16:12] sjkelly opened #25 "Perfomance Regressions on Julia master"
This should be isolated and reported upstream:

[code]

Regressions seem to be in: `testUnionNotInterection()` and `testCylinders()` in test_meshes.jl.

[2015-01-26 17:25] twadleigh commented on #32
Is your work in a branch that can be reviewed?

Also, is the code against which you are comparing marching tetrahedra performance at least as up to date as dd8142c5343ac0efdba79032f533963efd49ca37? @simonster reported about a 6x speed increase with that commit.

[2015-01-26 17:40] sjkelly commented on #32
Yes, please link to your package/fork/branch. I have been think about this a lot recently.

[2015-01-26 17:46] SimonDanisch commented on #32
No, I haven't used this commit. Sounds like an exciting speed up!... It looks like an easy adaption, so I'll see how that works out with my code ;)

I didn't really do this linearly, instead I kind of gathered the bits and pieces. But, I'm in the middle of putting it into a package, I'll post the link when I've uploaded it.

[2015-01-26 17:53] SimonDanisch commented on #32
Interesting, my solution is still 1.5 times faster than the newest approach. But introducing NTuples sounds like a good optimization which I haven't used yet. Maybe we can get it even faster =)

[2015-01-26 18:26] SimonDanisch commented on #32
Update: I actually have been using @simonster version, but I removed the NTuples, so I didn't recognize it.
The performance jitters quite a bit but its something like this:
N=200³
my version: 1.26
meshes:     1.458748696
N=400³
my version: 11 - 13 s
meshes:     14 - 18 s

Test code:
[code]

[2015-01-29 15:29] twadleigh commented on #33
Can you provide an academic reference or two? I might be willing to tackle it around the time I get back to trying to get simplification up and running (hopefully within the next few months).

[2015-02-06 12:05] SimonDanisch commented on #32
Sorry, I haven't moved forward as fast as I thought, so I uploaded the prototype in its own package for now:
https://github.com/SimonDanisch/Meshes2.jl
I'm still waiting for FixedSizeArrays to finish, so that I can put the algorithms in meshes on a solid basis.
This means that Meshes2 is not in a working state, as it's written to use FixedSizeArrays at some point.

[2015-02-07 00:44] sjkelly commented on #32
This is great! I've been following your work on FixedSizeArrays. If you have any low-hanging fruit I could help with, please let me know.

[2015-02-07 18:34] SimonDanisch commented on #32
Thanks a lot! The lowest hanging fruit coming to mind are convenience constructors, like creating a vec2 from a vec3 and things like that. All these little things making it enjoyable to use the vectors. Besides that, I've started to include a list of missing items in the readme. If you find anything interesting there, but don't know where to start, just write me or open an issue!

[2015-02-14 01:02] sjkelly commented on #32
Okay great! I will look into that this weekend.

I have added Meshes2.jl as a remote and pushed it as a branch here: https://github.com/JuliaGeometry/Meshes.jl/tree/sjk/meshes2-merge

My plan is to reorganize so the code can be rebased nicely and we can start working on a 0.4+ branch. We have a good amount of improvements over the last tag. I would like to add my slicing stuff, and put some more d

[2015-02-14 20:16] sjkelly commented on #32
I started with some basic rebasing stuff here: https://github.com/JuliaGeometry/Meshes.jl/pull/36/files

[2015-02-23 22:31] sjkelly commented on #37
related:

[code]

empty.stl is an empty file.

[2015-03-10 02:37] sjkelly commented on #25
Closed once https://github.com/JuliaLang/julia/pull/10460 is merged.

[2015-03-10 03:01] JeffBezanson commented on #25
Can you confirm that https://github.com/JuliaLang/julia/pull/10460 restores the performance you had before?

[2015-03-11 01:56] sjkelly commented on #25
Yep!
[code]

[2015-03-11 01:56] #25 closed

[2015-03-16 20:13] PetrKryslUCSD commented on #21
@SimonDanisch
It seems to me your mesh would support storage of JFinEALE element sets? Or am I wrong?

One of the design features I think are important is to have a way of maintaining association of "similar" or "analogous" element types. For instance, for boundary-integral operations the elements should support being embedded in spaces of dimension equal to or greater than their manifold dimensio

[2015-03-16 21:19] SimonDanisch commented on #21
Preferably, everything mesh like is supported!
I'm not sure if that is sensible with the current design, though... Dict CAN represent everything, but the question is, if everything should be represented by the dict in the mesh.
I know mighty little about the mesh types that you're using for your FE algorithms.
I hope you can help out a little with that ;)
Probably sketch out minimal examples, or v

[2015-04-12 22:42] sjkelly commented on #21
I think this can be closed. We still need to make some functionality more generic though, but the types are more parametric.

[2015-04-12 22:42] #21 closed

[2015-04-21 13:50] baconscript commented on #40
I'll tackle this issue. Thought I'd be able to assign it to myself, but GitHub doesn't seem to be letting me.

[2015-04-21 14:37] sjkelly commented on #40
:+1:  I have added you as a collaborator so you can assign yourself.

[2015-06-06 17:50] sjkelly opened #46 "Move IO into Submodule"
This will allow Meshes to co-exist with FileIO.

[2015-06-07 01:32] sjkelly commented on #46
Closed in 41b587482631c0a7f879298c7cd4e974ba2ea669

[2015-06-07 01:32] #46 closed

[2015-06-08 20:38] jminardi opened #47 "Versioning"
The latest commit broke our codebase. If version numbers were used we could specify which version we depend on.

[2015-06-09 00:19] sjkelly commented on #47
Yes, master is targeting 0.4 and the GLVisualize infrastructure, so it is highly unstable. The current work is to switch to GeometryTypes and integrate the MeshesIO API. I can go back and tag a safe 0.3 release if that is what you need, or a release prior to the breakage you noticed.

[2015-06-09 18:16] sjkelly commented on #47
I tagged a 0.1.0 release, pending publication: https://github.com/JuliaLang/METADATA.jl/pull/2724

Again, sorry for breaking the API. The breakage is relatively minor compared to what is on a couple of my branches right now ;).

As I mentioned, master will target `julia 0.4-` so I have made a branch for the `v0.1.x` series so we can submit bug fixes, and so this API can stay frozen.
https://github

[2015-06-09 19:41] jminardi commented on #47
Thanks!

On Tue, Jun 9, 2015 at 2:16 PM, Steve Kelly <notifications@github.com>
wrote:

--
Jack Minardi
jack.minardi.org
jack@minardi.org

[2015-06-11 03:48] sjkelly commented on #47
It should be tagged now. See NEWS.MD for notable API changes.

[2015-06-11 03:48] #47 closed

[2015-07-06 02:20] sjkelly opened #50 "Wrap assimp?"
It supports a lot of formats.

https://github.com/assimp/assimp

[2015-09-02 16:56] dreammaker opened #56 "Invalid UTF-8 character index error when importing binary stl"
We are currently misidentifying binary stl format as ascii stl, which is causing this error.  SolidWorks, in particular, exports binary stl files with the string "solid" in the header.  Since the 80-byte header can be anything in the binary format, it shouldn't be used to determine the format.

This is the backtrace I'm seeing.

    ERROR: invalid UTF-8 character index
     in next at ./utf8.jl:69

[2015-09-02 17:26] sjkelly commented on #56
Can you attach the file in question? Maybe MeshesIO will help?

cc @SimonDanisch

[2015-09-02 17:32] sjkelly commented on #56
FWIW this is how Cura disambiguates: https://github.com/Ultimaker/CuraEngine/blob/160612f0dc09f3084d7d7aec6b6147e5f391af7b/src/MeshGroup.cpp#L105-L136

[2015-09-02 17:46] SimonDanisch commented on #56
This is solved in MeshIO + FileIO: https://github.com/JuliaIO/FileIO.jl/blob/sd/improvements/src/registry.jl#L153

Hope we can publish this soon!

[2015-09-02 17:55] dreammaker commented on #56
Without actually running it, it looks like both of the above links to Cura and MeshIO have this bug also.  They both check for the string "solid" and if found, assume the file is ascii.  This will fail.  From what I can tell, SolidWorks is treating the header as a comment.

See [Blender's source](https://developer.blender.org/diffusion/BA/browse/master/io_mesh_stl/stl_utils.py;ae5de3a68c9f19c6443f

[2015-09-02 17:57] SimonDanisch commented on #56
that's actually not true for detect_stlbinary... If it detects "solid ", it knows its not binary... ;) the detection of ascii is independant of this (though probably not correct).

[2015-09-02 17:58] SimonDanisch commented on #56
Hm, yeah but you're still right, that this might fail. I can remove that line!

[2015-09-02 18:01] SimonDanisch commented on #56
So, any pull requests are welcome to improve the detection ;)

[2015-09-02 18:36] dreammaker commented on #56
GitHub doesn't seem to allow arbitrary files in comments.  I made a branch with an example file and a failing test.  I'll make a patch and pull request when I have time.  I think the issue should be open in the meantime.

[2015-09-02 21:32] SimonDanisch commented on #56
Nice, thank you =) Would you mind creating the PR in MeshIO though? IO in Meshes.jl should be deprecated soon.

[2015-09-02 21:52] SimonDanisch commented on #56
Okay I included it into FileIO and MeshIO :D

[2015-09-02 22:23] dreammaker commented on #56
Nice, @SimonDanisch!  That was quick!

I'm probably going to still backport your fix here to Meshes.jl.

[2015-09-04 19:35] sjkelly commented on #56
Should be fixed in the 0.1.x branch

[2015-09-04 19:35] #56 closed

[2015-09-04 19:36] sjkelly commented on #20
This is now fixed and the Mesh type is stored in GeometryTypes.

[2015-09-04 19:36] #20 closed

[2015-09-04 19:37] sjkelly opened #59 "Integrate GeometryTypes"
The `HomogenousMesh` type supplants the current `Mesh` type.

[2015-09-04 19:41] sjkelly opened #60 "Integrate Meshing"
Meshing is supposed to permit multiple types of algorithms in general dimensions. This will be the new home of the contents of isosurface.jl.

[2015-09-05 18:57] sjkelly commented on #3
See: https://github.com/JuliaGeometry/GeometryTypes.jl

[2015-09-06 16:34] #59 closed

[2015-09-19 19:23] #60 closed

[2015-09-19 19:25] sjkelly commented on #50
@SimonDanisch should we close this? I feel that the ultimate goal is to supplant assimp with MeshIO.

[2015-09-19 19:27] sjkelly commented on #61
We didn't really have to do anything for this except depend on GeometryTypes.

[2015-11-09 21:57] sjkelly commented on #40
This has been moved to MeshIO, and it probably supplanted by ThreeJS.jl.

[2015-11-09 21:59] sjkelly commented on #32
10 months later, I think it is safe to close this. Everyone seems happy enough :)

[2015-11-09 22:00] sjkelly commented on #24
Moved to MeshIO.

[2015-11-09 22:02] sjkelly commented on #54
The benchmarks grew stale, so they were nuked in this commit: https://github.com/JuliaGeometry/Meshes.jl/commit/6cd57c38dbae77d10e93a8ffdd0b0c40bc0f6dba

[2015-11-09 22:02] sjkelly commented on #37
Probably still an issue in MeshIO, but I'm about to be all up in the joint.

[2016-05-30 19:54] hroncok commented on #33
This is a thesis about ADMesh and what it does

http://www.varlog.com/admesh-htm/ADMeshThesis.zip

[2016-06-19 02:48] sjkelly commented on #33
@hroncok thanks for sharing!

[2019-06-21 17:11] #10 closed

[2019-10-10 19:27] twadleigh opened #72 "Archive?"
It looks like all the interesting stuff here has migrated to [Meshing.jl](https://github.com/JuliaGeometry/Meshing.jl) and this package has been removed from the registry.

If there are no objections, I will archive this repo in the next 24 hours.

[2019-10-10 21:53] sjkelly commented on #72
What was the status of the simplification code?

[2019-10-10 21:57] sjkelly commented on #72
I agree with the archiving. RIP. This was the genesis of so many packages Meshing, GeometryTypes, MeshIO. Thanks @twadleigh!

[2019-10-10 21:58] twadleigh commented on #72
I recall I ran into unexpected failures when I was testing what I had written. Assuming no one has touched it since I originally wrote what was there, it is still bug-riddled. And it has remained so because I haven't had any personal need for it. If the need ever arises, the code can be copied and pasted from here as a starting point.

[2019-10-10 22:54] twadleigh commented on #72
BTW, I renamed the repo to free up the Meshes.jl name.

[2019-10-11 17:23] #50 closed

[2019-10-11 17:23] #72 closed

[2020-01-15 02:09] juliohm opened #2 "An interface for meshes"
Hi @SimonDanisch , this is a follow up from yesterday's Discourse post where we shared that it would be nice to have an interface for general meshes, from simple Julia arrays (treated as regular meshes with zero storage for the coordinates) to general mixed-element meshes for various different purposes.

As an initial target, we could try to prove the concept that such interface would enable (1) g

[2020-01-15 08:29] visr commented on #2
Discourse thread for reference: https://discourse.julialang.org/t/finite-element-mesh-interface/33325

Just want to mention mesh types are becoming more frequent in geospatial context as well, so I'm quite interested in having an interface that could help there as well.

See for instance [MDAL](https://www.mdal.xyz/) that @evetion make a start at wrapping in [MDAL.jl](https://github.com/evetion/MD

[2020-01-15 10:38] juliohm commented on #2
That is a quite important use case as well @visr , thanks for sharing. We can start by creating a minimum interface for discretising geometrical objects into mesh elements as above, and then start adding more traits for projections, geometry, etc to include the use case with geo maps. Hopefully we can find a nice set of traits that gives us the power to express both 3D models of the subsurface as

[2020-01-15 11:02] SimonDanisch commented on #2
Some of these are already implemented with a different name... Btw, I'd much prefer writing out the names, e.g. a novice user likely (or actually me, I can only guess) won't know what `ctype` or `cbuff` does ;)

[2020-01-15 15:01] juliohm commented on #2
Thank you @SimonDanisch perhaps a doc string solves the issue? Please let me know if it is not clear and we can rename to something more explicit.

I've put a draft here organized by different types of traits, inspired by the existing efforts: https://github.com/juliohm/Meshes.jl

I will try to make the types in GeometryTypes.jl and CompScienceMeshes.jl adhere to the interface as a proof of concep

[2020-01-15 15:32] SimonDanisch commented on #2
I'm roughly sticking to the [YASGuide](https://github.com/jrevels/YASGuide), and I also find it super useful for reading code by someone else to have more explicit names without starting to look up docstrings (e.g. when reading code on github, you can't even look them up... And even if you have a running julia session, it's not always clear where the function comes from and therefore unclear how t

[2020-01-15 19:20] visr commented on #2
Not at this point, and I'm not sure these should be part of the mesh interface. As long as there is a solid, well though out mesh interface that supports a wide variety of mesh types, I'm sure it will be useful.

[2020-01-16 00:57] PetrKryslUCSD commented on #2
For the mesh interface design, wouldn't it be helpful to start with a verbal description of what is to be expected of such an interface. What types of operations should be supported, roughly at what level, and so on. I think writing code at this point is a bit premature.

[2020-01-16 01:02] juliohm commented on #2
@PetrKryslUCSD I have some ideas of what is expected from the interface coming from a statistical perspective, but certainly will miss other views from FEM solver writers and visualisation package writers. I want to get this draft going so that we at least have a proof of concept that this interface includes two existing implementations designed with these other goals in mind.

[2020-01-16 01:08] PetrKryslUCSD commented on #2
Perhaps this may help? https://petrkryslucsd.github.io/FinEtools.jl/latest/guide/guide.html#Finite-element-1

[2020-01-16 01:14] juliohm commented on #2
Awesome :) one more reference to dive in.

On Wed, Jan 15, 2020, 22:08 Petr Krysl <notifications@github.com> wrote:

[2020-01-16 03:26] PetrKryslUCSD commented on #2
This is interesting: https://codedocs.xyz/CEED/FMS/. I found it especially so since it uses several concepts included in my FinEtools. :)

[2020-01-27 00:48] PetrKryslUCSD commented on #2
I wonder if this conversation could be revived? Again, I am asking: what is the purpose of the interface?

To answer my own question I will try to describe a scenario.

Let us say there are application libraries A, B, C (as you say, perhaps statistical modeling,  finite element modeling, visualization). Then there is a package the user writes to define the mesh, D. The package D defines the struct

[2020-01-27 01:15] juliohm commented on #2
That is pretty much it @PetrKryslUCSD. The ultimate goal is to be able to seamlessly transfer mesh types across different frameworks and have them work out of the box, no matter the internal storage layout, the different complexities involved, etc.

Sorry I didn't get back yet regarding this interface initiative. I've migrated the repository to the organization already, but got busy with a submiss

[2020-01-27 01:25] PetrKryslUCSD commented on #2
OK. So I take it your plan is to work on I? It seems to me that in order for this to make sense, package I should not reflect the realities of current mesh implementations (GeometryBasics.jl and CompScienceMeshes.jl). To begin with, they are fairly limited in what they can support (mostly only simplexes?).

I believe that a good place to start would be to list the functionality that this interface

[2020-01-27 01:38] PetrKryslUCSD commented on #2
I guess the alternative to an interface package with some functionality (which should work without any need for access to implementations other than through the interface) would be a bare-bones access to plane-vanilla mesh data (coordinates, connectivity), leaving everything up to the packages using the interface.

[2020-01-27 01:39] juliohm commented on #2
Yes, the plan is to work on the set of traits in "I". You can find a very rough initial draft from that discussion in the beginning of the month here: https://github.com/JuliaGeometry/Meshes.jl

I certainly don't have the expertise to cover the FEM requirements well, and your help is much appreciated. To give you some context, my experience with FEM is limited to writing a simple 3D heat transfer

[2020-01-27 03:18] PetrKryslUCSD commented on #2
I think traits is the right tool. In addition to the mesh itself, I think also the "element" types should be equipped with trait dispatch. It other words, imagine you have an FE with four nodes. Obviously it must be handled differently when it is a quad as opposed to a tet.

[2020-01-27 16:42] PetrKryslUCSD commented on #2
By the way, I don't think it is enough to consider homogeneous meshes. Mixing triangles with quadrilaterals, or wedges with hexahedra is quite common.

Also, there are meshes for the interior  and meshes for the boundary. Obviously they are related by compatibility requirements. Should these meshes be stored separately or together?

Quite often multi-material domains require some treatment to dist

[2020-01-27 18:33] juliohm commented on #2
Fully agree. We have to provide a set of traits for elements of the mesh, and that is in the plans. The traits should be such that the different branches of code are determined at compile time without runtime penalties.

What taxonomy of elements you currently have in mind? The draft could start by listing the different element trait types like:

[code]

This taxonomy will interplay with the conne

[2020-01-27 18:37] PetrKryslUCSD commented on #2
FinEtools separates FEs by manifold dimension. Then by individual characteristics (how to compute basis functions, how to determine boundary, how to determine point inside/outside, etc.).

[2020-01-27 18:39] SimonDanisch commented on #2
Btw, the mesh type in here already supports arbitrary connections & vertex types, and it also supports arbitrary edge/face/vertex metadata!

[2020-01-28 01:23] PetrKryslUCSD commented on #2
Here is a sample implementation  of the mesh interface and a package that wraps FinEtools meshes.
Only a little bit of the functionality is actually implemented.
https://github.com/PetrKryslUCSD/TestMeshInterface.jl.git
https://github.com/PetrKryslUCSD/MeshInterface.jl.git

[2020-01-28 01:56] juliohm commented on #2
Thank you @PetrKryslUCSD , I am collecting all the resources shared so far to tackle this interface seriously in the near future. When time allows, I will try to list the major use cases behind the interface.

[2020-01-28 13:29] Paulms commented on #2
Hi, I have been learning recently the virtual element method VEM (works in polytopal heterogeneous meshes) and replicated some of my class examples by modifying the JuaFEM.jl code. The base mesh type that I found useful for VEM is the following:
[https://github.com/Paulms/jFEMTools.jl/blob/master/src/mesh.jl](https://github.com/Paulms/jFEMTools.jl/blob/master/src/mesh.jl)
I hope you find it useful

[2020-02-10 14:46] evetion commented on #2
For me, adding a CRS attribute would be enough to have this working, you could refer to the `CoordinateReferenceSystemFormat` type here: https://github.com/JuliaGeo/GeoFormatTypes.jl/blob/master/src/GeoFormatTypes.jl

To be fair, Simple Features does specify some mesh support (PolyhedralSurface, such as TINs), see my issue here: https://github.com/yeesian/GeoInterfaceRFC.jl/issues/3. I would like

[2020-03-13 02:02] PetrKryslUCSD commented on #2
I have designed a lightweight mesh library. I believe it could accommodate the desirable features listed above. Even though it currently implements only linear shapes (simplex and cuboid types), adding quadratic and higher-order shapes is trivial. It may even be possible to accommodate shapes with implicit geometry (such as for topologically regular grids). https://github.com/PetrKryslUCSD/MeshCor

[2020-03-13 12:53] juliohm commented on #2
Thank you @PetrKryslUCSD , it seems like you have an implementation of meshes for FEM, correct? I see some structs defined there, and some actual implementations of how things behave.

I am almost done with that journal paper, and will start reviewing the prior art soon. Thank you for sharing yet another resource. 💯

[2020-03-13 13:00] SimonDanisch commented on #2
Cool! There is lots of overlap with GeometryBasics, how do we want to handle that?

[2020-03-13 13:16] juliohm commented on #2
I maintain that viewpoint that we can work together on a lightweight Meshes.jl interface (without implementations), and let people implement the interface for their own mesh types.

P.S.: I bought this book on Voronoi tessellation that arrived yesterday, and I hope that I will find the time to start working on the interface by the end of the month. Do you have suggestions of books on meshes and me

[2020-03-13 13:53] PetrKryslUCSD commented on #2
There are good papers I'd recommend. I will make up a list and post it here.

There are also poor mesh topology designs: The one underlying FENICS (as implemented in Dolfin) is for instance wrong.

[2020-03-13 13:53] PetrKryslUCSD commented on #2
I need to go to work, but later today I will address the questions above.

[2020-03-13 21:48] PetrKryslUCSD commented on #2
The mesh library can not a simple container of stuff. It needs to be able to generate new information: incidence relations, often based on new, derived, meshes. That means that either the library must have an implementation built-in for these purposes, or the user must provide hooks for the mesh information to be generated on the fly and stored in the user's data structures.

At this point I decid

[2020-03-13 21:50] PetrKryslUCSD commented on #2
This one is rather good:
![image](https://user-images.githubusercontent.com/9855832/76661910-d20f9800-6539-11ea-9a80-c3475309a5aa.png)
This paper  has a lot of good stuff on high-order methods and the requirements they impose on meshes:
![image](https://user-images.githubusercontent.com/9855832/76661967-f5d2de00-6539-11ea-9c3d-4ac97e2fb5c0.png)

[2020-03-13 21:52] PetrKryslUCSD commented on #2
Please correct me if I'm wrong but there don't seem to be any topological operations implemented yet in GeometryBasics. On the other hand it does have the "shapes" covered pretty well.

[2020-03-13 22:00] SimonDanisch commented on #2
What kind of operations are you thinking of?

[2020-03-13 22:05] PetrKryslUCSD commented on #2
So in my little library I have implemented so far the indicated operations:
![image](https://user-images.githubusercontent.com/9855832/76662596-ae4d5180-653b-11ea-9343-b0826bf0710c.png)
But, eventually one should provide all those incidence relations. For instance, continuous mixed methods may require adjacency information for which faces separate individual finite elements, which edges are shared

[2020-03-13 22:13] SimonDanisch commented on #2
You need to consider, that I have no formal education in geometries whatsoever, so it's pretty hard for me to follow ;) Are you talking about connections between vertices? Because I think I've all combinations of flat + volume simplices with arbitrary edge metadata covered...
But I already figured out with @mohamed82008 in https://github.com/JuliaGeometry/GeometryBasics.jl/issues/2, that we'll nee

[2020-03-13 22:21] PetrKryslUCSD commented on #2
The table above is straightforward: d -> 0 means list the vertices connected by the entity, 0 -> d means list entities connected to a vertex. The other incidence relations indicated by an "X" may be, for instance, for a given face list all edges in the mesh that are connected to it (2  -> 1), or list all faces in the mesh that bound a given solid (3 -> 2), or list the solid elements that share fac

[2020-03-13 23:50] PetrKryslUCSD commented on #2
I should add that the entities involved in these relations are global, not local, entities. For instance, all faces of a 3D mesh constitute a related mesh, consisting of unique faces.

[2020-03-14 01:19] sjkelly commented on #2
@PetrKryslUCSD can you drop a link to your library?

If I am understanding correctly and can put the table into (other) words... We would want to be able to pick an edge and get all tetrahedra with that edge?

[2020-03-14 01:24] PetrKryslUCSD commented on #2
https://github.com/PetrKryslUCSD/MeshCore.jl

Yes, that type of relation.

[2020-03-15 02:50] PetrKryslUCSD commented on #2
Two more topology operations implemented. There are easy two more, by transposition. That will give me a pretty good idea what sort of interface we should implement by traits if the user's code was to store the data instead of the library.

[2020-03-15 03:00] mohdibntarek commented on #2
I think realistically we also need to think about the tradeoffs here. For example, the time and memory complexity of various topology operations for different mesh representations. Optimizing the memory access patterns for different topology operations and different mesh representations is another practical concern. I don't know if people here have given these much thought yet but I imagine it's n

[2020-03-15 03:51] PetrKryslUCSD commented on #2
Would you elaborate a bit? Sounds relevant, but I am not sure what is being suggested.

[2020-03-15 19:53] PetrKryslUCSD commented on #2
Found an interesting series of papers on the Sieve. It is implemented in DMPlex. Looks really cool, despite its fierce insistence on using words not normally used in this subject area.

[2020-03-15 23:14] mohdibntarek commented on #2
@PetrKryslUCSD what I mean is that the 0 -> 3 operation may have a time complexity of O(N) where N is the number of points/elements if we only store the points in each element but not the inverse mapping. If we store the inverse mapping, 0 -> 3 can be made O(1) in time but O(N) additional memory is needed. The same applies to other mappings.

[2020-03-16 00:48] PetrKryslUCSD commented on #2
@mohamed82008 Very true. These costs are often hidden with the use of fancy stuff (iterators). It is probably better to make these costs explicit.

[2020-03-16 06:14] mohdibntarek commented on #2
Yes so one can have arguments specifying which mappings get pre-computed and stored at mesh construction time. Dispatch should then be able to do the 0 -> 3 query for example in O(1) time if possible. Otherwise, an O(N) fallback can be used. If the query is done once or a few times, the user may not need the additional caching. But if an algorithm will call 0 -> 3 many (~N) times, then the user ca

[2020-03-16 06:19] mohdibntarek commented on #2
I think this automatic caching and iterator interface plus visualization are enough reasons for me to switch to the new mesh interface in TopOpt.jl. It will simplify a fair bit of code that I have over there.

[2020-03-16 13:59] PetrKryslUCSD commented on #2
Yes, I see the value. At this point I am redesigning the lib using incidence relations consistently. It should be checked in later today. That will fill in all those incidence relations in the "guide" table that make sense (not the d -> d, d > 0; those need definitions through a third entity. That is another place where the Logg mesh interface of FENICS does not make sense.)

[2020-03-16 14:13] SimonDanisch commented on #2
Btw, the whole idea of the metadata system in GeometryBasics was, to easily add caching like that...

[2020-03-16 14:17] PetrKryslUCSD commented on #2
Yes, but this is not caching of local information. For certain incidence relations, the information to compute (and cache) is global.

[2020-03-16 14:18] SimonDanisch commented on #2
Yes, but I also need global metadata, probably don't have any examples right now ;)

[2020-03-16 14:20] PetrKryslUCSD commented on #2
Neat, I'll check it out.

[2020-03-16 14:22] SimonDanisch commented on #2
I'll need to create tests & examples for it - likely doesn't work out of the box ;) Sorry if I was misleading. What I meant was, that the current metadata system has been written to allow exactly this, but it hasn't been added to all types yet.

You think that will mostly cover the needed funcitonality?

[2020-03-16 14:23] PetrKryslUCSD commented on #2
I see. Might be...

[2020-03-19 01:39] PetrKryslUCSD commented on #2
https://github.com/PetrKryslUCSD/MeshCore.jl has been redesigned from the ground up. Meshes are now based on incidence relations and shape collections, and the geometry is an attribute of the shape collection of vertices. Understanding mesh topology as an incidence relation made the conceptual view of the mesh self-consistent and easier to understand, in my opinion at least.
The entire spectrum of

[2020-06-05 21:03] juliohm commented on #2
Getting back to this issue, finally! I am excited to start reviewing this immense body of work on meshes. I will try to prepare a document as I do this review so that we are all aligned with design choices adopted in our ecosystem, missing features, and possible improvements.

[2020-06-06 02:44] PetrKryslUCSD commented on #2
Sounds good. Just in case this is useful: here's the submitted paper on the https://github.com/PetrKryslUCSD/MeshCore.jl library.
[102557_0_art_file_394454_qggdgd_sc.pdf](https://github.com/JuliaGeometry/GeometryBasics.jl/files/4739240/102557_0_art_file_394454_qggdgd_sc.pdf)

[2020-06-07 17:41] juliohm commented on #2
@SimonDanisch is it possible to create a 3D regular grid mesh with GeometryBasics.jl? Could you please share a code snippet? I've noticed that the codebase evolved a lot since the last time I looked into it.

[2020-06-07 18:21] juliohm commented on #2
I've started a document this weekend to collect/organize the information shared in this thread: https://docs.google.com/document/d/1eFE4MSwARDJdQ_eX1UYLlN5gdayigjSa2PAOGfJRvsQ/edit?usp=sharing Could you please review it to see if it makes sense?

I am finding it challenging to map some of the concepts in the document to the GeometryBasics.jl implementation. If someone can point out how I can const

[2020-06-11 00:08] juliohm commented on #2
@SimonDanisch did you have a chance to take a look into this? It would be really nice to be able to construct some simple example meshes to try implement/evolve the interface.

[2020-06-11 09:17] SimonDanisch commented on #2
You can create a `Mesh` from any `AbstractVector{<: PolyTope}`. The most common one is `FaceView(positions::Vector{AbstractPoint}, faces::Vector{AbstractFace})`, which the Mesh constructor has a convenience constructor for: `Mesh(positions, faces)`.
I just notice, that I don't have a convenience constructor for `FaceView` since it's covered by `connect` and `Mesh`:
[code]
The `FaceView` will use t

[2020-06-11 09:21] SimonDanisch commented on #2
Btw, there are quite a few utitilities in place to keep the memory layout of existing meshes.
E.g. consider having an Int array for faces:
[code]

[2020-06-11 14:50] sjkelly commented on #2
@juliohm I did some work with mesh evolutions using Tetgen and GeometryBasics here: https://github.com/juliageometry/DistMesh.jl . The current limitation is that it is 3D only, and doesn't preserve properties. I can send you my paper and the original thesis if you are interested.

[2020-06-11 17:10] juliohm commented on #2
Thank you all for the updates. I will try to look into it today.

@SimonDanisch is there a helper function to build a N-dimensional regular grid as well? I will play with your code snippets to see if I am able to grasp the functionality.

@sjkelly I'd be happy to learn more. How would you like to share your thesis and paper? Maybe over Zulip/Slack?

[2020-06-11 17:30] SimonDanisch commented on #2
I dont know what exactly that would create, so I guess no :D
But maybe? This creates a 50x50 quadmesh on a rectangular grid:
[code]

[2020-06-11 18:21] juliohm commented on #2
Thank you @SimonDanisch , how to visualize this mesh with Makie.jl? That will help grasping the concepts.

[2020-06-11 18:39] juliohm commented on #2
I tried `Makie.mesh` and `Makie.plot` on the object, but the renderer returned an error. Stable version of the packages.

[2020-06-11 20:02] SimonDanisch commented on #2
![image](https://user-images.githubusercontent.com/1010467/84433734-13920b00-ac2f-11ea-8da1-29fbd0114534.png)

Lol...

![image](https://user-images.githubusercontent.com/1010467/84433785-26a4db00-ac2f-11ea-8793-f29034f6d491.png)

This calls for some tests & bug fixes^^

[2020-06-11 20:14] SimonDanisch commented on #2
Wireframe already works:
[code]

[2020-06-11 22:24] SimonDanisch commented on #2
Alright, fixes in:
https://github.com/JuliaGeometry/GeometryBasics.jl/pull/62
https://github.com/JuliaPlots/AbstractPlotting.jl/pull/450

[2020-06-11 22:45] juliohm commented on #2
Awesome @SimonDanisch . The wireframe is great actually for visualizing the meshes. I am trying to shape the interface in Meshes.jl and implement it for the meshes in GeometryBasics.jl as planned.

[2020-06-12 01:21] juliohm commented on #2
I think I've reached a point where I can start replacing the [spatial domain types in GeoStatsBase.jl](https://juliaearth.github.io/GeoStats.jl/stable/domains/) by the mesh types defined in GeometryBasics.jl. Currently, I am only using 4 function names from the Meshes.jl proposal: `ndims`, `coordtype`, `elements`, and `ecoords!`.

Below are proof-of-concept implementations of the interface for (1)

[2020-06-13 14:08] juliohm commented on #2
I've renamed `ecoords` to `elmcoords` and `vcoords` to `vertcoords` to be more explicit. Appreciate if you can review the proposal in Meshes.jl and the other questions (2 to 5) above.

[2020-10-19 01:03] yeesian opened #3 "Violation of Copyright -- Please fix immediately"
https://github.com/JuliaGeometry/Meshes.jl/commit/a1d408c64425cd510b60ff5e7eed9a725eae6b6d is in violation of the [MIT license](https://github.com/JuliaGeometry/GeometryBasics.jl/blob/4bc7ebcad7dafae1392ef2fabc3405fcd7c78033/LICENSE) under which the code from https://github.com/JuliaGeometry/GeometryBasics.jl is copied: see accompanying discussion in https://github.com/JuliaGeometry/GeometryBasics

[2020-10-19 01:44] juliohm commented on #3
@yeesian how exactly should this commit history issue be fixed? Is there a set of Git commands that I should run to include the old commits? I had an existing repository with other commits and a branch `cleanup` in GeometryBasics.jl from which I took a subset of the files.

Also, from what I understand from the MIT license, all that one needs to do is to properly copy the license copyright authors

[2020-10-19 04:00] yeesian commented on #3
If you veer from accepted norms, the onus is on you to license and release code in a responsible manner. See https://opensource.guide/legal/#what-if-i-want-to-change-the-license-of-my-project and https://opensource.guide/legal/#does-my-project-need-an-additional-contributor-agreement for some of the complications.

IANAL but https://github.com/salesforce/gorp/pull/3 is one way in which people in a

[2020-10-19 09:29] juliohm commented on #3
I have taken action to fix the issue in all legal scope. No license, including the MIT license, requires copy of commit history. The project GeometryBasics.jl is licensed under MIT, and has always been under this license. The only change that needs to be made is to add all past contributors to the LICENSE file copyright statement as I did.

The list of past contributors can be found with:

[code]

[2020-10-19 09:29] #3 closed, assigned to nobody

[2020-10-20 01:32] yeesian commented on #3
My comments are vague and broad and I am sorry for being alarmist.

You have been really prompt and polite and comprehensive in handling it. Thank you.

[2020-11-01 12:23] JuliaTagBot opened #4 "TagBot trigger issue"
This issue is used to trigger TagBot; feel free to unsubscribe.

If you haven't already, you should update your `TagBot.yml` to include issue comment triggers.
Please see [this post on Discourse](https://discourse.julialang.org/t/ann-required-updates-to-tagbot-yml/49249) for instructions and more details.

[2020-11-01 12:23] #4 closed, assigned to nobody

[2020-11-03 23:51] ElOceanografo opened #5 "Package installation/building fails"
After installing v0.3, `using Meshes` produces the following error:
[code]
I also tried `Pkg.dev("Meshes"); using Meshes`, which failed a different way:
[code]

[2020-11-03 23:59] juliohm commented on #5
Can you please share your environment?

I've tried in a fresh environment and everything worked just fine:

[code]

[2020-11-04 23:14] ElOceanografo commented on #5
Just tried adding in a fresh environment as you suggested, but get the same error.  My default environment is:
[code]

I was able to install and load `Meshes` on my Ubuntu laptop, however, so this either seems to be a Windows-specific error, or some idiosyncratic way I got my package environment screwed up.

[2020-11-04 23:45] juliohm commented on #5
That is interesting because the tests are consistently failing on Mac on
Travis CI with a strange error message I never seen. Something related to
the name of the package. I'll investigate it further tomorrow.

On Wed, Nov 4, 2020, 20:14 Sam <notifications@github.com> wrote:

[2020-11-05 11:17] juliohm commented on #5
I learned that MacOS is not case-sensitive and the files Meshes.jl and meshes.jl were conflicting. I've renamed the meshes.jl file to mesh.jl and now the build is passing on MacOS as well. Triggering a new patch release. Thanks for reporting the issue.

[2020-11-05 11:17] #5 closed, assigned to nobody

[2020-11-05 17:13] ElOceanografo commented on #5
That makes sense, since Windows isn't case-sensitive either.  Just confirmed that the patch works on my Windows machine too 👍

[2020-11-07 16:56] serenity4 opened #6 "Unite Face subtypes and Polygon type"
Hi,
I was experimenting with the library and saw that
[code]
which I found a bit odd at first. Then I realized that `Polygon` is a concrete type. I might be wrong, but wouldn't any 2-face be a polygon? I also understand that the current `Polygon` struct serves to construct any kind of polygon, simple or not, including triangles and quadrangles (geometrically, not `Triangle` nor `Quadrangle` instan

[2020-11-07 17:17] juliohm commented on #6
I was also thinking about this a lot, and ended up naming it a `Polygon` to match what most people would expect in the GIS world. However, I agree that this is confusing, and we should probably rename it to `Ngon` or some more specialized name.

We have `Quadrangle <: Polytope` and that works as expected. If we rename `Polygon -> Ngon` I think it will be more difficult to expect people trying `Qua

[2020-11-07 20:36] serenity4 commented on #6
I have been thinking some more about this, and I believe the confusion _may_ come from the definition of the abstract types `Polytope` and `Face`.
In the following I assume that the current `Polytope` type refers to a geometric polytope, and not to an abstract polytope.

You can classify a k-polytope by its "dimension" or "number" k. You can have a polygon or a polyhedron for example for k=2 and k

[2020-11-07 20:48] juliohm commented on #6
It is already there. The embedding dimension is `embeddim` and the k in your explanation I called `paramdim` for parametric dimension.

This is also already there. I am having the impression that you are just describing the current version of the source code. If you check each Face type, there is a `facets` function that returns the polytopes of lower dimension.

Regarding your proposal, I spent s

[2020-11-07 21:43] juliohm commented on #6
Regarding the need of the `Face` type, it is there to make it explicit what is acceptable as a finite element in a mesh. Not all polytopes are valid finite elements in meshing algorithms. So it is nice to be dispatch on Face only, instead of all kinds of polygons.

[2020-11-07 22:16] serenity4 commented on #6
What benefit is there in not using a type parameter to describe this parametric dimension? The same could be done as in `embeddim`: the type is parametrized by `Dim`, and the function `embeddim` is a convenience function for querying `Dim`. You can define a `paramdim` in the exact same way.
Since a polygon is just a polytope with 2 as its parametric dimension, having this number as a type paramete

[2020-11-07 23:12] juliohm commented on #6
Let me say that I like the feedback. It is good polish these types as much as possible as we progress. Below are some quick comments before I call the day here. I can continue the discussion tomorrow.

That is a good point, and I remember iterating over this design some weeks ago. The problem I faced specifically with the parametric dimension is that it is a property of the type of the polytope, n

[2020-11-08 14:17] serenity4 commented on #6
If we put the parametric dimension in the `Polytope` type itself, you could construct other types with a fixed parametric dimension by "instantiating" a type from it. I believe this could be enough. The intention is not to use a general polytope with an unknown parametric dimension for future supertypes, but a `Polytope{2, Dim, T} where {Dim, T}` for example. From the snippet above
[code]
if we de

[2020-11-08 14:34] serenity4 commented on #6
I forgot to answer your question:

For now it does what I want in that it stores vertices and connects them. But if for some reason it gets a different treatment because it is considered a finite element, then I'd have to convert it to something else. An example might be triangulation. I don't know if triangulating FEM quads would make sense, while it probably would for geometric quads if you cons

[2020-11-08 14:37] juliohm commented on #6
Really good suggestions!

Nice! Would you mind submitting a PR with the proposed change? We could then feel how it works out with what is already implemented in the test suite.

That one deserves a PR too! What do you think of PolySurface instead to encompass the case in which the polygon is embedded in 3D?

I think this shouldn't be an issue if the plot recipe is aware of this possibility. I am w

[2020-11-08 14:53] serenity4 commented on #6
Good! I'll make the two PRs.

[2020-11-08 21:18] serenity4 commented on #6
Some renaming didn't get through. My mistake - the whole word option was toggled for search/replace and filenames are not affected by the search so some got through as well. I'll add a PR with these fixes.

I have made a series of experiments that implement my vision of the discussion above regarding the separation of FEM elements. I'll open a new issue to this end and close this one, since the or

[2020-11-08 21:31] #6 closed, assigned to nobody

[2020-11-08 22:37] serenity4 opened #11 "Separate FEM logic from the mathematical model"
As we discussed in #6, it would be nice to clearly separate what is related to FEM from polytope theory. Currently, a `Face` is used to denote the fact that a type is a polytope used in FEM. Then, common polytopes are defined as `Face` subtypes, with a convenience `facets` function that connects all polytope vertices into facets from the GMSH project conventions.

The specificity of `Face` subtype

[2020-11-08 22:38] serenity4 commented on #11
I have changes that I still need to put into separate commits before submitting PRs, but it's time to sleep now.

[2020-11-09 10:23] serenity4 opened #12 "Define a full polytope structure"
So far we never define a full polytope structure, but maybe it would be nice to have one. So that if you're interested in an object with all its vertices, edges, faces and so on (essentially, a mesh in 3D) without relying on conventions, there's a type available and you don't have to pass around all k-faces individually. We don't even need to encode the value of the vertices if we stick to an abst

[2020-11-09 10:41] juliohm commented on #12
It would be really nice to see how a prototype implementation of this. I wonder how it scales and what the public API would look like. Looking forward to learning more about it.

[2020-11-09 17:35] serenity4 commented on #12
For simple shapes, when it's possible to use a mapping to find all k-faces from vertices, it's probably going to just be inefficient memory-wise. Although, if you don't really care about efficiency at that level, it would be easier for querying faces should you the indices you want. One good thing though is that the resulting polytope would be portable, particularly when the polytope is complex: i

[2020-11-09 17:43] serenity4 commented on #12
I think it might be worth it to see if we could simply use graphs as an internal representation. For example, if you have a polyhedron with V vertices, E edges and F faces:

- you begin from a list of vertex indices `1:V`, instancing a first graph G1
- you form E edges between the graph vertices of G1, that represent the geometric edges
- you create a new graph G2 from edge indices `1:E`
- you for

[2020-11-09 18:30] serenity4 commented on #12
Just to give an idea of the number of vertices/edges/faces of 3D Voronoi triangulations, here are some plots (produced from p.46 of [this](http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.470.5065&rep=rep1&type=pdf) source; when only bounds are available, I took the average of min and max bounds):

Gist: https://gist.github.com/serenity4/7783951c517ecee5e40fb90768434c41

![voronoi_vertices

[2020-11-10 01:30] juliohm commented on #12
Nice plots! Sorry for the hiatus today. I was finishing a tutorial and I am finally free again to jump back into Meshes.jl development.

[2020-11-11 10:35] serenity4 commented on #12
So, after looking up `UnstructuredMesh` in detail, this one in theory allows a full polytope structure. It's just that people need to fill the `connec` field with connectivity information regarding all faces, and that vertex data is required.
I believe though that with a hierarchical graph-based approach, it would be closer to the mathematical theory and more efficient for parametric dimensions >

[2020-11-11 10:55] juliohm commented on #12
I was considering the graph-like structure as well. It is very common in other mesh implementations out there (e.g. GMSH) as it allows efficient traversal of ranks. From what I understand we only need to store the connectivities of the highest-dimensional polytopes (e.g. tetrahedron) and provide adjacency and incidence lists to navigate the ranks.

After I finish the triangulation algorithm, I wil

[2020-11-12 14:09] juliohm commented on #11
Awesome improvements here. Closing the issue as it is now fixed on master :100:

[2020-11-12 14:09] #11 closed, assigned to nobody

[2020-11-13 14:44] serenity4 commented on #12
Sorry for the delay, I've been working on some geometric algebra package in parallel (something that would ressemble Grassmann.jl, MIT-licensed, more user-friendly, but probably- hopefully not by much- less performant).

As for proposals, I've quickly drafted an implementation

[code]

It introduces `LightGraphs` as a dependency. The reason for that is that it would be useful for querying graph pr

[2020-11-13 20:11] juliohm commented on #12
Thanks for sharing! I think we want to strike a full polytope structure as a mesh with incidence and adjacency lists as I mentioned, without explicitly creating graph objects. I have a guess that the code will look much simpler that way, but we need to evolve these ideas over time.

What package you are working on for geometric algebra? It would be nice to contribute and learn there as well. :)

[2020-11-13 21:16] serenity4 commented on #12
Are those incidence and adjacency lists the same as implemented in LightGraphs ? In that case, if we don't want to exploit the structure of the graph we can use them yes. Else, I think reusing what LightGraphs provides could reduce the amount of code we have to write (things like checking for cycles, shortest path between two nodes - edges, vertices, faces...). All that because a polytope can be r

[2020-11-14 12:25] juliohm commented on #12
I am looking forward to playing more with geometric algebra. :) Are you on Zulip as well? We could exchange messages there too.

[2020-11-14 15:52] juliohm opened #16 "Implement orientation method of Held, M. 1998"
We have implemented the winding method of Balbes & Siegel 1990 for polygonal chains. It turns out that the method doesn't work with polygons that are not simple. I have added an empty implementation of Held, M. 1998 in chains.jl in case someone wants to give it a try. It should be a very simple calculation of triangular areas: https://link.springer.com/article/10.1007/s00453-001-0028-4

[2020-11-16 18:42] ElOceanografo opened #18 "Generating meshes from point clouds"
Apologies if this is already possible and I just couldn't find it.  It would be excellent to have methods for generating meshes from randomly ordered point clouds.  Likewise, methods for refining them so they are "nice" (angles not too acute, etc.).

[2020-11-16 20:32] juliohm commented on #18
You are not missing anything, we still need to implement such methods. I am trying to finish something first before jumping into the tesselation problem from point clouds. It would be nice to understand how you are using the package? Also, more than welcome to contribute with code too :+1:

[2020-11-16 22:54] ElOceanografo commented on #18
Good to hear! I'm interested in generating meshes for Markov random spatial fields, to use in spatio-temporal statistical models.  My use case is to take a set of geographical boundaries (e.g. coastlines) and a set of irregularly-spaced observations and generate a triangulated mesh that follows the boundaries and is higher-resolution in areas with more observations.  A simple example is on the Rea

[2020-11-16 23:02] juliohm commented on #18
It would be nice to interface with GeoStats.jl at some point, that is create a solver that is compatible with the project so that it can be easily plugged with other types and features there.

Meshes.jl is being developed with spatial modeling in mind, it is nice to see projects like yours in this context. :)

[2021-01-19 09:06] jwscook opened #23 "Docs pages are down"
I just thought I'd let you know that the documentation pages are down. Perhaps the CI needs to be re-triggered?

[2021-01-19 14:24] juliohm commented on #23
Thank you @jwscook for reporting the issue. We don't have doc pages yet, still in progress. Please consider reading the tests to understand how to use the concepts form the package.

[2021-01-19 14:27] juliohm opened #24 "Rename PolySurface to PolyArea"
@serenity4 I was thinking about the name `PolySurface` I suggested last year but I think the name `PolyArea` is clearer. I will prepare a quick PR with the changes, ok?

Please let me know if you feel that the name `PolyArea` isn't clear.

[2021-01-19 14:33] serenity4 commented on #24
I was wondering what was the exact difference between surface and area after all. From Wikipedia:

So, area refers to a measure, and not to a shape. I think this renaming is totally fine in 2D (and, as you point out, clearer). It's the higher-D case that could lose in clarity. But if you intend to mostly use it in 2D, then I'd say this loss of generality can still be worth it.

[2021-01-19 14:36] serenity4 commented on #24
So, I would say, just consider whether you are going to use it in 3D (and more) or not. If you do, then you _might_ regret this renaming, if not it's totally fine.

[2021-01-19 14:37] juliohm commented on #24
That is a very good point. Thanks for sharing your thoughts. The use cases are mostly 2D indeed, and I think surfaces in N-D will have better mesh representations. I will create the PR now to make sure that tests are passing as expected. 👍🏽

[2021-01-19 14:45] #24 closed, assigned to juliohm

[2021-01-19 18:06] jwscook commented on #23
Ahh ok 👍 , the docs badge threw me.

[2021-01-26 02:03] juliohm commented on #23
This is now fixed, you can access the dev version of the documentation here: https://juliageometry.github.io/Meshes.jl/dev/

We will soon tag a new release with a stable documentation too.

[2021-01-26 02:03] #23 closed, assigned to nobody

[2021-01-26 07:22] jwscook commented on #23
Thank you!

[2021-01-26 15:56] juliohm opened #27 "Wrong intersection of segments"
I found an example where the intersection algorithm is failing:

[code]

I've read the paper multiple times, and yet I can't figure out what is wrong with the implementation. The algorithm implemented in `intersecttype` enters in case (II) as expected, but then it branches on the wrong intersection type at the last minute based on the non-zero winding number. I did the calculation by hand and all

[2021-01-26 21:54] serenity4 commented on #27
It might have to do with floating point errors. Printing debug information inside `intersecttype`,  the current implementation outputs

[code]

While, if we brutally set `windingx = 0` inside `intersecttype` (modification not shown), it succeeds

[code]
I can't believe that in such a simple setup, this `-4.214684823367065e-8` winding value would actually be different from zero.

Also, note that th

[2021-01-27 08:41] juliohm commented on #27
That is amazing. Thank you for spotting the error. Maybe we should increase
the tolerance of the wxzero calculation to twice the atol(T) or another
threshold? Also I agree we need to fix the angle calculation in single
precision. Probably even replace the calls to norm and cross there manual
implementations? I'll be far from my computer until the weekend so if you
would like to submit a PR with a

[2021-01-27 18:23] henry2004y opened #28 "Parallelization support?"
Hi,

Glad to see this brand new package in the Julia community! Hopefully this will become the go-to choice for constructing a 2D/3D mesh in Julia!

I do have a question regarding parallelization: does it now support building a mesh in a distributed manner, or if not, will that be considered in the future?

[2021-01-27 18:38] juliohm commented on #28
Thanks! Can you elaborate on what you mean by building meshes in parallel?
You mean parallel meshing algorithms?

On Wed, Jan 27, 2021, 15:23 Hongyang Zhou <notifications@github.com> wrote:

[2021-01-27 20:40] henry2004y commented on #28
I am thinking of a scenario where multiple processors are involved, and ideally each processor owns a partition of the mesh. In computational astrophysics, we often do large simulations based on block-based AMR mesh, for example [AMReX](https://amrex-codes.github.io/amrex/). The general idea is to split the whole mesh into small parts, where each individual part knows its relation to its neighbors

[2021-01-27 21:12] juliohm commented on #28
I see your point. We certainly plan to have partitions at some point but
help is needed in order to achieve something parallel as you suggested.

On Wed, Jan 27, 2021, 17:40 Hongyang Zhou <notifications@github.com> wrote:

[2021-01-27 22:25] henry2004y opened #29 "Segment bug?"
Hi,

I am confused by the `segment` function results:
[code]
Is it a bug? Sorry if I made a mistake here; too tired to think...

[2021-01-27 22:27] henry2004y commented on #29
Sorry I didn't check; it was already reported #27.

[2021-01-28 10:29] serenity4 commented on #29
Hi, thanks for signaling the error. This is actually different. #30 fixes #27 but not this case.

[2021-01-30 22:25] juliohm commented on #28
Closing the issue for now. Thanks for raising the question.

[2021-01-30 22:25] #28 closed, assigned to nobody

[2021-01-30 23:07] juliohm commented on #29
Thank you @henry2004y for reporting this 🐞. In this case the correct output of `s1 ∩ s3` should be `Point(2.5, 1.5)`.

[2021-01-31 11:21] #27 closed, assigned to nobody

[2021-01-31 14:37] #29 closed, assigned to nobody

[2021-02-01 16:20] henry2004y opened #32 "Types of point and segment"
Hello,

When playing with the code, I got a question about the type system in the package. For example,
[code]
Do I need to specify all the parameters for the type, e.g. `typeof(a) == Segment{2,Float64,StaticArrays.SArray{Tuple{2},Point{2,Float64},1,2}}`? Why is `Point` not a general supertype for all points?

[2021-02-01 16:31] juliohm commented on #32
The function `typeof` in Julia returns the exact type of the object, which includes the type parameters. Perhaps you can share your use case and we can try to help. If you are only interested in figuring out if a geometry is a segment, you can do `a isa Segment` for example.

Also, please consider asking questions in Zulip instead.

[2021-02-01 16:33] juliohm commented on #32
I've created a meshes.jl stream there: https://julialang.zulipchat.com/#narrow/stream/275558-meshes.2Ejl

[2021-02-01 16:37] #32 closed, assigned to nobody

[2021-02-01 17:53] juliohm opened #33 "Increase test coverage"
As we write more algorithms, we can certainly benefit from more tests. We are happy to submit PRs.

cc: @henry2004y @PaulDebus

[2021-02-01 18:02] henry2004y opened #34 "Point embedded in R^1"
Hi,

I found another potential bug for allocating a `CartesianGrid` object. Following the [example in the document](https://juliageometry.github.io/Meshes.jl/dev/meshes.html#Meshes.CartesianGrid)
[code]
This operation can never finish, no matter what values I input for `dims`. I also tried
[code]
Same issue I guess.

[2021-02-01 18:11] juliohm commented on #34
Yes, I think this is actually related to another issue about creating points in R^1. We need to add a constructor to handle the case `Point(1.0)` for example with a single coordinate.

[2021-02-06 12:55] #34 closed, assigned to juliohm

[2021-02-06 12:59] juliohm opened #36 "Finish recovery process in FIST algorithm"
The FIST algorithm is ready except for the recovery process that is needed when there exists self-overlapping edges.

[2021-02-06 21:17] FPGro opened #37 "Low priority: consistency with implicit conversion in Point constructors"
This is a reference to small inconsistencies that were left over from the #35 fix. Point constructors for all dimensions work now, but a small inconsistency remains with mixed-type inputs: Implicit conversion is disallowed for some constructors but not all:

[code]

One should decide to either allow or forbid implicit conversion in all Point constructors and enforce that scheme. (But this is reall

[2021-02-06 21:47] juliohm commented on #37
Amazing @FPGro , thanks for opening the issue. Feel free to tackle it if you have ideas. 💯

[2021-02-06 21:47] #36 closed, assigned to juliohm

[2021-02-07 07:13] ucalyptus2 commented on #18
@juliohm would delaunay triangulation be a good candidate to answer this issue?

[2021-02-07 10:41] juliohm commented on #18
@forkbabu yes, Delaunay is a valid approach. I've finished the FIST algorithm for triangulation of polygonal areas, and the next step is to add some Delaunay/Voronoi functionality. If you have experience in the subject, please feel free to contribute. There is also other open issues that could be addressed more quickly like test coverage.

[2021-02-08 18:34] juliohm opened #38 "Trait for the coordinates of the centroid of the i-th element of a mesh"
I've pushed a trait to the master branch under the name `coordinates` that returns the coordinates of the centroid of the i-th element of a mesh or point set:

[code]

Do you think that the name `coordinates` is a fine name for the trait? The trait returns a raw vector as opposed to a `Point` object.  Currently, we can't create mutable points, but perhaps we should? If we can create mutable points

[2021-02-08 22:01] ElOceanografo commented on #18
I was recently looking at the method in [this paper](https://arxiv.org/abs/0901.4107), which is what VoronoiDelaunay.jl uses and seems like a fast and robust approach.  I don't think it would be that hard to implement using the interface in this package. While I'm tempted, I unfortunately don't think I have the time to do it myself right now.

Whatever approach is used, having some way to refine t

[2021-02-10 11:22] plut opened #39 "`Point(1)` provokes an infinite type recursion"
This also happens when calling the fully-specified constructor `Point{1,Int}(SA[1])`. (I don't think there is right now any way to define a 1-dimensional point!). The simplest way to fix this is probably to define an inner constructor.

[2021-02-10 11:24] juliohm commented on #39
@plut can you please confirm the version of the package you are using? This issue was fixed by @FPGro in the latest release.

[2021-02-10 11:42] #39 closed, assigned to nobody

[2021-02-17 15:41] juliohm commented on #38
I am progressing with this approach and we can refactor the code later after things are working smoothly downstream. My plan is to refactor GeoStats.jl until the end of the month to use Meshes.jl as a proof of concept.

[2021-02-17 15:41] #38 closed, assigned to nobody

[2021-02-17 15:43] juliohm commented on #37
@FPGro do you have a suggestion to fix this one? I am working actively in other fronts of the codebase and help with these constructors would be awesome. You are the master of constructors 🥇

[2021-02-17 16:04] FPGro commented on #37
@juliohm Sure, though I leave it as a first issue for somebody else but it shouldn't be too hard, I can try it.

What's the decision on behavior? Forbid implicit conversion everywhere? And should there be restrictions on the element type of `Point`?
I'm especially thinking about weird edge cases like `Point{N, Tuple{Int, Int}}` or so, should those be allowed?

[2021-02-17 16:12] juliohm commented on #37
I think forbidding implicit conversion everywhere sounds reasonable. Regarding the extra constraint on the type of coordinates, let's leave this untouched. We never know how people will use the package. :)

[2021-02-17 16:13] serenity4 commented on #37
Since implicit conversions are natural for arrays, why wouldn't it be the case for points? Especially if the point type is specified as in `Point{2, Float64}(0, 1.)` where I believe implicit conversion should occur. What about `Point{2, Float64}(0, 1)` by the way? Typing in the dots to have float literals is good practice, but maybe we shouldn't make it a hard requirement. In the case where the po

[2021-02-17 16:23] juliohm commented on #37
I think the main issue here is performance. Whenever we throw an error about implicit conversions users will be aware of the issue and likely fix their code to avoid unnecessary conversions in large point clouds. I can't see an application where mixed coordinate types make sense other than space-time reference systems. If all the coordinates live in a spatial coordinate system, which I think is th

[2021-02-17 16:24] juliohm commented on #37
Sorry I confused things a bit. We already have a design that forces a single coordinate type, the parameter T of the Point{Dim,T}. However the discussion here is about supporting conversions in constructors. I feel that we shouldn't allow it in order to warn users of potential unnecessary conversions in their use cases.

[2021-02-17 16:28] FPGro commented on #37
Would it make sense to set up a tiny benchmark for point creation to see the impact of pure or mixed argument types to the constructor?

[2021-02-17 16:33] serenity4 commented on #37
I believe that if you have large point clouds, you wouldn't specify points by hand. Therefore you would rely on variables that already have some type, and the points would just wrap around that type. If whatever you put into the points have inconsistent types, then the problem comes from the point cloud coordinate generation process.

However, if you just want to type in a point manually, I see fr

[2021-02-17 16:34] serenity4 commented on #37
@FPGro Yes, that would be ideal to make better informed decisions. I believe a benchmark suite for Meshes in general would be quite handy as well at some point.

[2021-02-17 16:35] juliohm commented on #37
@serenity4 the example you gave with `Point2(1,2)` works fine with the current implementation, can you please clarify with another example?

[2021-02-17 16:36] juliohm commented on #37
I just feel that we may over-complicate the design to support a rare use case where users mistype a dot here and there. It is good to have a benchmark, but code complexity is also an important dimension to keep in mind.

[2021-02-17 16:36] serenity4 commented on #37
`Point2(1., 2)` then?

Edit: even `Point(1., 2)`, if you typed a dot you would probably mean float coordinates.

[2021-02-17 16:37] serenity4 commented on #37
With `Base.promote_rule` overloads, it shouldn't be much work, right?

[2021-02-17 16:39] juliohm commented on #37
You would like to see this one working? It is not clear to me that this type of typo would be common in the wild. But I am looking forward to benchmarks and to the proposed solution. 👍🏽

[2021-02-17 16:40] serenity4 commented on #37
Yes, I would like to see it working _exactly_ as `[1., 2]` for better consistency with Julia array types. Most people will think of points as arrays of numbers anyway. `SVector{2, Float64}(1., 2)` works as well AFAIK. So basically, I think all implicit conversions should happen like Julia arrays.

[2021-02-17 16:44] serenity4 commented on #37
I can try a PR soon if you like.

[2021-02-17 16:51] juliohm commented on #37
That would be awesome. Please double check with @FPGro to make sure you guys are not spending time on the same task 👌🏽

[2021-02-17 16:57] FPGro commented on #37
@serenity4 You want to PR a benchmark or a change in constructors?

I don't think you even need `promote_rule` here, the construction of the internal `StaticVector` should do this already :D less may be more here, let's see

[2021-02-17 17:04] serenity4 commented on #37
I was going for the change in constructors + a small micro-benchmark in the description (not included in the PR, but just to test the conversion performance penalty). If you want I can let you do that, since you are already familiar with constructors. Then I could do a PR with more elaborate benchmarks (though you may want to do your own micro-benchmark for the PR) and open another benchmarking is

[2021-02-17 17:07] serenity4 opened #40 "Benchmarking infrastructure"
As discussed in #37, we could benefit from benchmarks for:
- informing the users of the costly and cheap functions
- tracking performance regressions during development

It can be implemented first as a simple `benchmark` folder, and possibly added as a GitHub action is desired.

[2021-02-17 17:18] FPGro commented on #37
@serenity4 sounds good

[2021-02-18 04:28] FPGro commented on #37
Microbenchmark for constructing SVectors in different ways, because these are the speeds we ultimately want to match:

Input: | Int | Float | Mixed
-------|----|-------|---------
SVector(x,y,z):      |   2.700 ns (allocs: 0)   | 2.400 ns (allocs: 0) |   2.400 ns (allocs: 0)
SVector((x,y,z)):    |   33.551 ns (allocs: 1)  | 32.998 ns (allocs: 1) |  36.419 ns (allocs: 1)
SVector([x,y,z]):   |    Err

[2021-02-18 04:31] FPGro commented on #37
I'll try the `Point` constructors tomorrow, but they shouldn't be too far off. Considering the high performance and negligible cost of mixed input, it would probably do more harm than good (for performance) to explicitly check that inputs don't have mixed types.

[2021-02-18 09:36] FPGro commented on #37
The current definition gives these timings:
Input:              |    Int              |       Float            |       Mixed
-----------------|--------------|------------------|--------------
Point(x,y,z):        |   6.200 ns (allocs: 0)  |  2.400 ns (allocs: 0)   | Error
Point((x,y,z)):      |   58.996 ns (allocs: 1)  | 83.060 ns (allocs: 1)  | 90.259 ns (allocs: 1)
Point([x,y,z]):      |   2.456

[2021-02-18 09:57] FPGro commented on #37
Slight rewrite with 1 inner and just 4 outer constructors gives:

Input:              |    Int             |        Float            |       Mixed
----------------|--------------|--------------------|---------------
Point(x,y,z):        |   2.700 ns (allocs: 0)  |  4.700 ns (allocs: 0)  |  4.500 ns (allocs: 0)
Point((x,y,z)):      |   31.992 ns (allocs: 1)  | 66.940 ns (allocs: 1) |  61.631 ns (al

[2021-02-18 10:05] FPGro commented on #37
PR's out #42

In case anybody want's to run it themselves, here's the benchmark skript for `Point`s, again renamed to .txt because GitHub won't let me append .jl files to a comment :octocat:
[bench_copy.txt](https://github.com/JuliaGeometry/Meshes.jl/files/6001928/bench_copy.txt)

[2021-02-18 13:16] juliohm commented on #37
Fixed on master.

[2021-02-18 13:16] #37 closed, assigned to nobody

[2021-02-18 17:29] juliohm opened #43 "Replace rotation conventions by actual rotation representations"
As a quick workaround to include more features to the package, I've included a couple of rotation conventions from various software in geosciences under the `conventions` folder as we did with the `GMSH` ordering convention. These conventions should be replaced by actual types following the `ReferenceFrameRotations.jl` API so that we can easily convert back and forth between different rotation rep

[2021-02-18 18:47] juliohm opened #44 "Fix broken neighborhood tests after migration from GeoStatsBase.jl"
I've migrated some rotation functionality from GeoStatsBase.jl to Meshes.jl, and some of the tests are broken.

@rmcaixeta since you are much more familiar with this part of the codebase than I am, could you please take a look?

Here are the 3 broken tests: https://github.com/JuliaGeometry/Meshes.jl/blob/61e71ec471f47c0d5a76d0ca44e16d6156ef84ec/test/neighborhoods.jl#L49-L56

I did my best to not m

[2021-02-19 11:13] #44 closed, assigned to nobody

[2021-02-23 12:05] #2 closed, assigned to nobody

[2021-02-23 12:10] juliohm opened #48 "Traits for array-like domains"
I am considering adding the following trait for domain types in the package:

[code]

Do you think this is an appropriate term for the concept? Basically I want to encode the fact that some domains like `CartesianGrid` are just a Cartesian arrangement of connected elements. So computing bounding boxes for example reduces to looking up the first and last elements instead of looping over all element

[2021-02-23 12:59] juliohm commented on #48
I think the term `IsGrid` is more appropriate even though I am having a hard time to formalize the exact properties of the grid we are interested in.

[2021-02-23 13:31] serenity4 commented on #48
An array may have elements of any kind, ordered or not; I think that `IsGrid` would be preferable yes, as it implies a certain order for its elements (in any slice).
A grid seems to imply, however, that you don't have any relation of order when you take something else than a slice (so basically a 1D subset of the grid, a line or row in the 2D case). I mean, a corner of a grid greater than another

[2021-02-23 13:33] serenity4 commented on #48
For me, a grid represents a domain that can be formed by extruding coordinates along several dimensions (with a possible transformation, an identity map being for a cartesian domain), so that you only need (n + m) coordinates instead of n x m coordinates in the 2D case. Note that this is just my opinion though.

[2021-02-23 13:36] juliohm commented on #48
I like this definition in terms of extrusions, I wonder if there is a consensus somewhere in computational geometry for these properties. I added the `IsGrid` trait as suggested and also a `isgrid` equivalent for new domain types that may want to interop with the package after the fact.

Let's open a separate issue then in the future when things settle down a bit. I am almost here porting all the

[2021-02-23 13:36] #48 closed, assigned to nobody

[2021-02-23 13:37] juliohm commented on #48
Here is the commit: https://github.com/JuliaGeometry/Meshes.jl/commit/7485d4b6c7775118f430973a0f2db5bf7359671a

[2021-02-23 18:18] juliohm commented on #33
Test coverage is better nowadays. Closing the issue as it is a never ending goal.

[2021-02-23 18:18] #33 closed, assigned to nobody

[2021-02-24 17:32] serenity4 opened #49 "Declare collaboration practices"
I stumbled upon SciML's [ColPrac](https://github.com/SciML/ColPrac) which is a set of guidelines aimed towards package developers to facilitate collaborative work. I found it quite interesting and it includes a lot of good practices that we already seek to apply whenever possible (such as "PRs do one thing", "code changes should be tested", etc.). Maybe we should link to those (by adding the badge

[2021-02-24 18:29] juliohm commented on #49
I've seen the ColPrac repo and it is a very extensive collection of good practices for sure. I wonder if we could write down a subset that is more quick to read and relevant to this project? I find the ColPrac scary for new contributors. I think what we want is a short list of bullet points regarding PRs and issues.

[2021-02-24 18:29] juliohm commented on #40
Fixed on master ❤️

[2021-02-24 18:29] #40 closed, assigned to nobody

[2021-02-24 18:49] serenity4 commented on #49
I agree that it is maybe too extensive. If we decide to follow most of ColPrac but just decide not to show everything on the front page, we can link to it and state the points that we specifically focus on (and maybe those we explicitly ignore, or modify).

For example, it has a ton of stuff regarding package versioning, breaking changes, etc..., these are not really targeting casual contributors.

[2021-02-24 18:52] juliohm commented on #49
That is a very good plan. Would you like to draft this PR? We can evolve the specific points there.

[2021-02-24 18:56] serenity4 commented on #40
Yes, this is exactly what we did in #41 and #50. Thank you for pointing it out though, this is a very handy package.

[2021-02-24 22:55] juliohm commented on #49
Fixed on master 💯

[2021-02-24 22:55] #49 closed, assigned to nobody

[2021-02-27 14:33] juliohm opened #53 "Warning related to SimpleTraits.jl"
Do you know what is happening here? How to fix this warning during precompilation?

[code]

[2021-02-27 15:13] serenity4 commented on #53
I've never used SimpleTraits, but it looks like the dispatching bit `IsGrid{D}` is ignored or something (judging by the warning message). It's very strange though, because the _linear trait function you defined (snippet below taken from Meshes) matches the documented example very well.
[code]
It's a bit different from mauro3/SimpleTraits.jl#7, but maybe related?

[2021-02-27 15:17] juliohm commented on #53
I think it is the exact same issue. I asked there to see if he has a good fix in mind.

[2021-02-28 14:34] Arkoniak opened #54 "Brainstorming intersection interface"
[code]
returns (I leave only the beginning of the message)
[code]

It looks like it originates from `intersectcolinear`, for two reasons:

1. this function has `@error` in one of the branches (and an output of `@error` has different type then all other branches).
2. It returns too many different types and Julia's compiler gives up on them.

[2021-02-28 14:41] juliohm commented on #54
Thanks for catching the issue. Do you have a suggestion? Perhaps eliminating the `@error` branch would be enough to solve the type instability? I am happy to review a PR.

[2021-02-28 16:29] Arkoniak commented on #54
This is complicated, I do not know a good answer. If it was not for overlapping segments, then it could make sense to change output result to something like
[code]
In this approach intersect function is going to be type stable, but of course, it'll be a responsibility of a user to process results correctly (yet he should do it anyway).

Unfortunately, overlapping segments complicate things, becaus

[2021-02-28 19:56] Arkoniak commented on #54
On a second thought using different algorithms for intersection could be not such a bad idea. For example, one can choose for example between fast, but less numerically stable intersection search and full-scaled, but relatively slow version. It can propagate then into all algorithms which actually use intersections to calculate something more complicated.

But the return type should be fixed once,

[2021-02-28 20:03] juliohm commented on #54
We need to brainstorm a better solution that does not compromise user experience. I am open to suggestions. Perhaps we could fix type instability without changing the API? The fact that the intersection can be of many types seems to imply no escape from type instability. If you need a fast intersection assuming it is a point then `intersectpoint` is available. Similarly you can use `intersectcolin

[2021-03-01 07:59] Arkoniak commented on #54
Just to clarify things and be on the same page, here is an example, that shows that large enough number of return types makes function type unstable
[code]

[code]

Multiple return types are type instability, by definition, so there is no way to avoid it. The only way to work with it is to reduce the number of output types.

Regarding what to return from the function, I think it's natural to retur

[2021-03-01 10:19] juliohm commented on #54
Thanks for sharing the type instability issue, didn't know Julia would stop trying in the presence of many branches.

Regarding the current interface, the way I am currently using it is as follows:

[code]

So it is more explicit about the types, which are actually Julia types as opposed to just flags. The other benefit is that we return a single object, which is good practice in general when we t

[2021-03-01 10:53] juliohm commented on #54
I think we can reduce the number of branches in the colinear case. In the current implementation I am doing a lot of manual calculation to find the intersections along the two lines, but we can probably just compute these a priori and have say 2 or 3 branches only with the different types of intersection. I can try to work on it this week.

[2021-03-01 11:02] serenity4 commented on #54
Regarding the type instability issue, I believe its consequences can be greatly limited with return type annotations, for example in the `algorithm` function above

[code]

That way you allow for some dynamic behavior inside `algorithm` but don't let it propagate, e.g. you tell the compiler that no matter what branch will be executed the return type will always be the same. That's what [ResultType

[2021-03-01 11:34] Arkoniak commented on #54
1. Regarding `isa` comparison. It's all good and it's basically union splitting and there was a good discussion about it on zulip: https://julialang.zulipchat.com/#narrow/stream/225542-helpdesk/topic/Dispatching.20over.20an.20abstract.20iterable.3F/near/209704354

It has a couple of problems though. First of all, it is not faster than the `Int` comparison (actually it is slower). Secondly, it is s

[2021-03-01 11:44] juliohm commented on #54
It is nice to catch these performance issues and learn more about the language. Thanks for sharing the knowledge. I will try to work on the colinear case first to see if I can simplify it it further, and then we can discuss an API that meets the needs of both types of users. 👍🏽

[2021-03-01 11:50] serenity4 commented on #54
Regarding union splitting on non-concrete types, I think we could we explicit the concrete types from the type of the arguments, but it would be quickly unreadable with so many parameters.

About type instability, as I said above there are ways to deal with it. If the type unstable region is handled well by the user, no dynamic dispatch happens so the residual cost would probably be dominated in g

[2021-03-01 12:21] Arkoniak commented on #54
I think we are talking about different things here. In current implementation there is no way for user to avoid type instabilities. I mean, consider the following naive example
[code]

Function `count_all_intersections` is type stable on it's own (it returns `Int`), but internally it calls unstable `intersect` and this loop is going to run forever. In proposed approach it is going to be something

[2021-03-01 13:00] serenity4 commented on #54
Ok, I was basically saying that any user function `process` which uses `intersect` can be made type stable, so we agree on that. I am not getting then what exactly you are proposing. Unless `process` is a library function of Meshes (that we could efficiently define ourselves), I don't see a way to make it easier for the user.

Oh, I think I get it. Are you proposing to add layers on top of `inters

[2021-03-01 13:40] serenity4 commented on #54
After reading the issue and the code again, I realized that
- `intersectpoint` is already available, so no need for the function above
- the issue seems to be about a potential performance loss due to the `Any` return type of `intersect_colinear`

It wasn't really clear, so I got a bit lost. Replacing `@error "please report bug"` with `error("please report bug")` in `intersect_colinear` makes a `U

[2021-03-01 21:17] Arkoniak commented on #54
Well, in my practice union types were always bad for performance, and If/else conditions play nicely when you need to gain maximum performance and they do not contradict Julia types structures approach. I only can advise to rethink the current approach, but decision is yours of course.

Also, I've made some tests and it seems that there is another problem.

Here is some comparison
[code]
Here, `co

[2021-03-01 21:22] juliohm commented on #54
Yes you can't compare the algorithm implemented here with the one implemented in GeometryBasics.jl because there they assume point intersection already. So you never get a segment for example nor an empty intersection. It explains the difference in performance already without even considering type stability.

EDIT: At least that is what I remember from the last time I looked into the code.

[2021-03-01 21:28] juliohm opened #55 "Remove CategoricalArrays.jl dependency when plot recipes are gone"
Currently we have plot recipes inside this repository as a temporary solution. In order to plot categorical values over meshes I had to add the CategoricalArrays.jl dependency temporarily. The plan is to move all the plot recipes to a separate repository with Makie.jl recipes instead. After that we can remove the CategoricalArrays.jl dependency from here.

[2021-03-01 22:58] serenity4 commented on #54
From the tests I did locally, commenting out the `@error` message still made the inferred type be `Any`, while making it an `error` (not the macro, the function) made the inferred type be the union of all three intersection types. Maybe this could help speed things up a bit? From what I understand, the `error` function makes it clear to the compiler that we'll never enter that branch (normally), w

[2021-03-01 23:03] serenity4 commented on #54
Regarding

I don't get how we would get rid of this union since the algorithm `intersect_colinear` can return three different types by design? The approach returning two points that I mentioned above could solve this, although it would be less clear and so any performance gain would have to really make a difference in my opinion.

[2021-03-02 10:31] juliohm commented on #54
Ok, now that we have simplified the colinear intersection algorithm, we can come back to the type instability issue and possible discussions around a different api that addresses the two types of users. I will try to read the thread carefully again when I find some time, but feel free to suggest improvements in the form of PRs that we can review. 👍🏽

[2021-03-02 14:23] juliohm commented on #54
Regarding the original code posted in the start of the issue, we now have a Union type as the output (Julia v0.6-rc1), which is already much cleaner than the previous version:

[code]

[2021-03-02 14:34] juliohm commented on #54
Ok, after reading the entire thread again I realized that @Arkoniak is interested in `intersectpoint` as an equivalent of the GeometryBasics.jl implementation. The function should be type stable already in Meshes.jl and as fast or faster.

Regarding the more general `intersect` operation which allows all kinds of intersections, there is no way to make it type stable by definition since the return

[2021-03-02 23:02] PetrKryslUCSD opened #57 "Derived relationships"
I would like to point out that MeshCore implements derivation of various adjacency relationships. I wonder if there is some synergy we could exploit here?

[2021-03-03 00:48] juliohm commented on #57
Yes, it would be great to operate with incidence relations using a general approach like the one you have in MeshCore.jl. I am taking a course that starts next week on geometric processing where various data structures for meshes will be covered, and I will take the opportunity to compare the different approaches in the literature, possibly as a final project. Do you know if the book [Polygon Mesh

[2021-03-03 01:43] PetrKryslUCSD commented on #57
As far as I can tell the book only deals with surface mesh structures.

[2021-03-03 02:07] juliohm commented on #57
That is true. I will read your submitted paper carefully for additional references. I have the link from past discussions: https://github.com/JuliaGeometry/GeometryBasics.jl/files/4739240/102557_0_art_file_394454_qggdgd_sc.pdf

[2021-03-03 16:18] PetrKryslUCSD commented on #57
Now I realize that you guys are big on arbitrary polygons and polyhedrons. MeshCore will unfortunately be no help there as it is.

[2021-03-03 17:16] juliohm commented on #57
You mean that the incidence relations implemented in MeshCore.jl are for simplicial elements? They may be useful still.

[2021-03-03 17:22] PetrKryslUCSD commented on #57
It is not as bad as that: the library handles three-dimensional and two-dimensional and lower-dimensional entities for the usual suspects: cube-like elements and simplex elements.

[2021-03-03 17:28] serenity4 commented on #57
Well, we like generality because it makes understanding things easier and leads to a cleaner and more consistent API. But, we are also interested in high-performance applications. As long as we rely on zero-cost abstractions, it's fine, but if there is a performance hit at some point then we need to start looking at more specific ways of doing things. #12 discusses about explicitly materializing p

[2021-03-03 17:32] serenity4 commented on #57
We'd need to come up with a good design, but I don't see why we wouldn't be able to use what MeshCore offers. Although, Meshes will never be as lightweight, for sure.

[2021-03-03 17:35] PetrKryslUCSD commented on #57
Adding pyramids and  prisms to MeshCore would be no big deal.

[2021-03-03 17:36] PetrKryslUCSD commented on #57
What makes the representation in MeshCore lightweight and efficient is the encoding of the topology in a separate data structure which does not change.

[2021-03-03 17:37] serenity4 commented on #57
Ah, I was mostly talking about the size of the library. Runtime wise, the goal would be not to lose any of that from MeshCore.

[2021-03-05 21:33] juliohm opened #61 "Replace coordinates! by centroid"
I've migrated the trait `coordinates!` from GeoStatsBase.jl to Mehes.jl for computing the coordinates of the centroid of the i-th element of the mesh. Most algorithms follow this pattern:

[code]

Now I realized that this pre-allocation of the coordinates with `MVector` doesn't make any difference in performance. I could have simply used a non-mutating version `x = coordinates(mesh, i)` in the loo

[2021-03-06 10:42] serenity4 commented on #61
Yes I believe using a `SVector` instead of a `MVector` is completely fine here. My guess is that only if `centroid` returned a vector with many elements (like, 100 or 1000 elements), then using the `MVector` would save time (since AFAIK the `SVector` would probably be allocated on the heap at every loop).

[2021-03-06 16:48] #61 closed, assigned to nobody

[2021-03-08 11:43] juliohm opened #63 "Generalize Meshes.ear to any orientation"
The `Meshes.ears` function returns the indices in a chain that correspond to ears as defined in the FIST paper. The current implementation assumes a CCW orientation of the chain and that is causing issues in the FIST triangulation.

We need to generalize the `Meshes.ears` implementation so that it works with both orientations.

[2021-03-08 13:39] juliohm opened #64 "Define centroid for Point"
In various algorithms there is a pattern `coordinates(centroid(domain, i))` that works well when the domain is a `Mesh`. However, when the domain is a `PointSet` the centroid isn't defined. We could simply add a method `centroid(p::Point) = p` to avoid over-engineering downstream. I am still thinking about the implications of doing this, but it sounds reasonable mathematically speaking?

Let me kn

[2021-03-08 14:08] serenity4 commented on #64
I believe the centroid is defined as being the point that has the minimum distance with all other points, so in the case there is only one point, it is logically the point itself. I think it is reasonable.

[2021-03-08 14:14] serenity4 commented on #64
Actually, it is rigorously the arithmetic mean of all other points (from [Wikipedia](https://en.wikipedia.org/wiki/Centroid)), so it holds.

[2021-03-08 15:33] juliohm commented on #64
I realized that in the latest version of the project the code `centroid(domain, i)` already works even for point sets because we specialized the `centroid` for the `PointSet` itself. Given that this already works we can save ourselves from adding a trivial `centroid(p) = p` for points for now.

We can reopen this issue in the future if we feel that we should add a trivial method like this. The pre

[2021-03-08 15:33] #64 closed, assigned to nobody

[2021-03-08 20:35] evetion commented on #18
FWIW, there's a first work-in-progress attempt at wrapping [startin](https://github.com/hugoledoux/startin) over at [StarTIN.jl](https://github.com/evetion/StarTIN.jl), so you would have at least the Delaunay Triangulation part covered.

[2021-03-08 20:43] juliohm commented on #18
Thanks @evetion there is also VoronoiDelaunay.jl in pure Julia right? We would like to have an implementation inside Meshes.jl to avoid the fragmentation we currently have in JuliaGeometry. Also we would like to use a consistent set of geometry and point types that has been extensively tested as we are doing here. VoronoiDelaunay.jl uses raw Julia vectors for points and from what I quickly scanned

[2021-03-08 20:48] evetion commented on #18
VoronoiDelaunay.jl only accepts coordinates between 1.0 and 2.0 I believe. StarTIN.jl should use a trait based interface to accept points and return meshes, while the underlying C interface just are vectors.

Btw, do you have a `star` struct already in Meshes? See Blandford et al. (2003). https://citeseerx.ist.psu.edu/viewdoc/summary?doi=10.1.1.9.6823

[2021-03-08 20:55] juliohm commented on #18
Em seg., 8 de mar. de 2021 às 17:49, Maarten Pronk <notifications@github.com>
escreveu:

It would be nice to try to reuse some of the work in VoronoiDelaunay.jl and
provide a scaling of the result (pre and post) processing the results.

As in the star generator right? The region of a polygon from which all
other points are seen... I have to remember the exact definition, but we
don't have a type f

[2021-03-09 16:34] #16 closed, assigned to nobody

[2021-03-09 16:56] #63 closed, assigned to nobody

[2021-03-09 17:36] juliohm opened #65 "Corner cases in FIST algorithm"
The FIST implementation we have is reasonably robust, but it is still failing with some difficult polygonal areas. In our test suite we have a bunch of polygonal area examples in the `data` directory that are loaded for testing. Tests are passing for most polygonal areas in the family `poly1...5.line`, for example:

# poly1.line
![image](https://user-images.githubusercontent.com/3345261/110510122-

[2021-03-09 18:28] serenity4 commented on #65
I can give it a shot. I read a bit about the FIST paper some time ago, but some explanations would be very welcome. We can continue the discussion on Zulip if you want.

[2021-03-09 18:32] juliohm commented on #65
That would be great @serenity4. Feel free to reach out on Zulip, and we can even setup a video chat there. I'd be happy to walk through the current implementation to explain what is happening.

[2021-03-10 23:07] PetrKryslUCSD commented on #57
https://github.com/PetrKryslUCSD/MeshTutor.jl now shows how to use implicitly defined geometry. Such as for  topologically regular block, where no coordinates are stored but rather are computed on the fly.

[2021-03-10 23:12] juliohm commented on #57
@PetrKryslUCSD I can't see any tutorial in the repository. Can you please point to the file you are referring to?

Also, the binder link is pointing to a non-working build.

[2021-03-11 00:09] PetrKryslUCSD commented on #57
https://github.com/PetrKryslUCSD/MeshTutor.jl/blob/master/deps/tutorial9.jl

Sorry about the binder failure: it does not support Julia 1.6 yet, and hence the configuration files break the build.

[2021-03-11 00:24] PetrKryslUCSD commented on #57
The tutorial may be run by including it from the  Julia prompt.

[2021-03-12 00:54] juliohm opened #67 "Improve show method for Chain"
Currently we are printing a big list with all vertices. We need to truncate the list like we do with other types.

[2021-03-12 01:49] juliohm opened #69 "Add vertices method for PolyArea"

[2021-03-12 01:50] juliohm commented on #57
Thank you @PetrKryslUCSD for sharing the links. They are already in our radar. I will close the issue given that it is not an issue with the codebase but a discussion around possible features. Feel free to join the #meshes.jl Zulip channel to continue the discussions.

[2021-03-12 01:50] #57 closed, assigned to nobody

[2021-03-12 10:08] #65 closed, assigned to nobody

[2021-03-12 10:23] #69 closed, assigned to nobody

[2021-03-12 10:28] #67 closed, assigned to nobody

[2021-03-12 12:56] serenity4 opened #70 "Test results of discretization methods"
Keeping track of the fact that additional tests should be added for FIST, notably to test the correctness of the result. Additional tests introduced in #66 but eventually not merged in #68 included tests for the output regarding the number of triangles, connectivity coverage and vertex data.

[2021-03-12 16:34] juliohm opened #71 "Intersection of segments in single precision"
Found an issue with the last branch of the intersection algorithm:

[code]
![image](https://user-images.githubusercontent.com/3345261/110969029-fb265c80-8336-11eb-9e16-9fe9aa78c0c1.png)

In this plot `s1` is the black segment and `s2` is the red segment. The intersection algorithm reaches the `CASE (III)` correctly, and then tries to decide whether or not these two segments are co-linear:

[code]

[2021-03-12 16:41] juliohm commented on #71
I will try to use the length of the orthogonal component of the red segment with respect to the black segment as the condition. That way the `atol(T)` will apply to a distance as opposed to an area. Let me know if you have other ideas.

[2021-03-13 09:56] serenity4 commented on #71
What about simply using `atol(T)^2`? This should be correct for areas in theory, right?

[2021-03-13 10:29] serenity4 opened #73 "Bug in vertex concatenation for PolyArea"
I stumbled upon a bug that occurs when a `PolyArea` has no inner chains (julia 1.6.0-rc2):

[code]
We should either add an empty vector as `init` argument to `reduce`, or use a different concatenation method for inner chains.

[2021-03-13 11:12] #71 closed, assigned to nobody

[2021-03-13 12:32] #73 closed, assigned to nobody

[2021-03-13 13:12] serenity4 commented on #70
Triangle count and vertex data tests are now implemented via #75. We may want to consider the following tests:
- [ ] Connectivity coverage: check that all points are connected to a `Triangle` in the mesh.
- [ ] Triangulation correctness: check that all triangles are simple.
- [ ] Triangulation quality: We may want to test that several options (not implemented yet) in FIST give actual improvements

[2021-03-13 13:24] juliohm commented on #70
Amazing. Thanks for the organizing these tests. I agree that it would be nice to have some quality metrics for mesh elements 👍🏽

I will also open other issues on my radar so that we keep things moving in parallel.

[2021-03-13 13:25] juliohm opened #76 "Fix tests with readpoly(Float64, fname)"
Some tests are still using `readpoly(Float64, fname)` with an explicit `Float64` type. This is because we first need to fix some issues in single precision. Opening this issue to keep track of this effort.

[2021-03-13 13:30] serenity4 opened #77 "Add mesh quality metrics"
At some point, we will most likely want to compare meshing algorithms. For the moment, we may want to only evaluate the quality of _triangulated_ meshes, to compare triangulation algorithms, but in the future other types of algorithms (e.g. quad meshing) may probably be implemented. Besides algorithmic time performance, there are many geometrical considerations that are of importance. This can be

[2021-03-15 19:06] serenity4 opened #78 "Geometric primitives"
There are a few geometric primitives already defined (ball, box, cylinder and sphere). Do we plan to complete this collection with other primitives (Bézier curves, splines, torus, circles...)? For example, I need to use Bézier curves, which are naturally defined from control points, should I make a PR to implement them here?

This is an open question. I would personally think that we may want to p

[2021-03-15 19:16] juliohm commented on #78
I think it is a good addition. It is better to concentrate efforts here to
make sure we have nice interoperability and then later in the future we
split if needed.

On Mon, Mar 15, 2021, 16:06 Cédric Belmant ***@***.***> wrote:

[2021-03-15 19:18] #78 closed, assigned to nobody

[2021-03-16 08:12] serenity4 opened #81 "Additional chain constructors"
The `Chain` type is missing a few constructors. For example, we can't initialize one with a static vector:
[code]

nor can we with just points (as varargs), although the docstring mentions `Chain(p1, p2, ..., pn)` at the struct definition:
[code]

The second case should be fixed if the first one is too.

[2021-03-16 11:22] juliohm commented on #81
Yes, we need some convenience constructors for `Chain`. I miss them sometimes too. Feel free to submit a PR and we can review the possibilities.

[2021-03-16 14:23] juliohm opened #82 "Add examples to illustrate features in documentation"
We have a lot of functionality that is hidden in the source code. We need to add examples to illustrate some of the important features we already have.

[2021-03-16 21:33] #81 closed, assigned to nobody

[2021-03-18 23:22] #76 closed, assigned to nobody

[2021-03-19 20:40] serenity4 opened #84 "Make parametric objects callable"
Some geometric objects possess a natural parametric space. For example, segments linearly interpolate between two points, rays can be evaluated from the origin to the infinity, bezier curves can be evaluated between its endpoints... I had the idea of making these objects callable on their parametric inputs, so a segment could be called with `t` going from 0 to 1 to make a linear interpolation of i

[2021-03-19 20:52] juliohm commented on #84
Yes, it would be great to parameterize these geometries when this is possible. We can start with the ones of parametric dimension 1 as you suggested 👍🏽

[2021-03-21 20:53] juliohm commented on #84
As an update, we currently have `Segment`, `Ray` and `BezierCurve` as callables.

[2021-03-21 20:56] juliohm opened #87 "Implement different data structures for unstructured meshes"
Currently, we have `UnstructuredMesh` as the only data structure for unstructured meshes. It actually implements a Face-based structure that is useful for visualization. It is not useful at all for neighbor search or other kinds of queries.

We need to rename `UnstructuredMesh` to `FaceMesh` (Face-based mesh) or a similar name, and introduce other data structures such as Edge, HalfEdge, etc.

[2021-03-22 18:47] serenity4 commented on #87
I am not sure I understand the issue, and I am admittedly a bit confused about the current implementation of `UnstructuredMesh`. I'll try to communicate what I understood. From polytope theory, meshes can be described as a collection of faces. Since a face is a polytope, it describes what it's made of, i.e. edges, which are polytopes that describe their relation to vertices. So, a `UnstructuredMes

[2021-03-22 19:01] juliohm commented on #87
In summary, we have multiple ways of storing the topological information of the mesh. In `UnstructuredMesh` we have a global vector of vertices and a list of connectivity objects that point to this global vector. In this case, we allow this list of connectivity objects to contain faces of any rank (e.g. triangle, edge, tetrahedron).

Other data structures encode the connectivities differently. The

[2021-03-22 21:23] stillyslalom opened #89 "Separate parametric from non-parametric primitives?"
It seems strange for `Chain` and `Segment` to be `<: Polytope` while `BezierCurve <: Primitive`. Do we want to separate these 'parametric primitives' into their own category?

[2021-03-22 21:35] juliohm commented on #89
@stillyslalom the only reason we add a common parent type is if we foresee a common set of applications where dispatching on the abstract type would simplify things. If you read the docstring of `Primitive` you will see that it is for geometries that have a somewhat analytical form. They are not discretizations or junctions of smaller flat parts as a `Polytope`.

So answering your question, I don'

[2021-03-22 21:37] juliohm commented on #89
Think of `Polytopes` as as the natural building blocks of a polygonal mesh. There are other representation of surfaces with Bezier that would benefit from the `BezierCurve` type but these representations are so orthogonal that we don't want to mix the types. That is my current opinion, but it may change in the future.

[2021-03-22 21:52] serenity4 commented on #89
To be accurate, polytopes (abstract polytopes at least but that's the formalism we use) only describe combinatorial information with some kind of hierarchical inclusion. It doesn't even assume that the result will be polygonal. So, a lot of geometrical objects are polytopes (see a digon for example, it's curved). A bezier curve is actually not a polytope, since the vertices it uses are not all nec

[2021-03-22 21:55] juliohm commented on #89
Nice. I think we can close this issue and if something else pops up in the future we can reconsider a change in the hierarchy of types. So far we don't have a good reason to refactor the type hierarchy. 👍🏽

[2021-03-22 21:55] #89 closed, assigned to nobody

[2021-03-22 21:56] serenity4 commented on #89
Whether an object is a primitive or a polytope is independent of the other. Primitive objects are "simple" objects, though it's a bit blurry what is a primitive or not. It is what may compose more complex geometries. So, mixing them would not make sense, I agree with that. Though some geometries are both. If we need to dispatch on both for the same type, we may consider using traits.

[2021-03-22 22:16] juliohm opened #90 "Lines and Planes"
Opening this issue to discuss the definitions and representations of lines and planes. The literature is vast on these objects and so we need to be careful to define something practical still. For some people, the term "line" refers to curved objects in non-Euclidean geometry. For others, a line is a straight line with parametric dimension 1. We need to list all these definitions we know, start gi

[2021-03-22 22:16] juliohm commented on #90
cc: @serenity4 @stillyslalom

[2021-03-22 22:24] stillyslalom commented on #90
We might need one more parameter for `Geometry{Dim,T}` describing the type (`Euclidean`, `Elliptic`, `Hyperbolic`, `...`) of geometry being described, with appropriate primitives for each type of geometry.

[2021-03-22 22:37] juliohm commented on #90
Yes, I think we need to be careful to not over-complicate things prematurely. The issue of non-Euclidean geometry is a world in itself. We need focus to handle the `Line` and `Plane` situation first.

Let me add the first definitions of Line and Plane I find useful:

1. A straight line is the set of all points expressed as `t*a + (1-t)*b` with `a` and `b` points and `t` a free parameter. Hence, in

[2021-03-22 22:46] stillyslalom commented on #90
A plane can be given parametrically as the set of points expressed as `p₀ + a*u + b*v`, with `p₀` a point, `a` and `b` vectors, and `u, v` free parameters. Under this notion, the plane has parametric dimension 2 (this is the notion I had in mind for https://github.com/JuliaGeometry/Meshes.jl/pull/88).

Spherical geometry is a subset of elliptic geometry, and it seems important to handle at least s

[2021-03-22 22:51] juliohm commented on #90
Nice. Let's keep adding definitions and then we can give time to digest all the alternatives and design decisions. It is nice to have a group of people thinking about it.

[2021-03-24 15:50] lassepe opened #92 "Segment can be constructed from more than 2 points?"
To my surprise the following does not error:

[code]

Is this intended?

[2021-03-24 15:59] juliohm commented on #92
Please ask questions in our Zulip channel if possible. The link is in the README. I think you need a `Chain` of points instead of a single line `Segment`.

[2021-03-24 15:59] #92 closed, assigned to nobody

[2021-03-24 16:01] lassepe commented on #92
I understand that I need a Chain. I am just surprised that you can even construct a Segment from three points and thought it would be considered a bug.

[2021-03-24 17:05] juliohm commented on #92
Yes, this is an issue we discussed before on Zulip. We could in theory check the lenght of the input vector and thrown an error, but that is an expensive check in general. If your are using the Segment with `Segment(a, b)` that is fine because it creates a static vector under the hood. But in some cases (meshes) we just take a view from a global vector of points and so the internal vector becomes

[2021-03-24 17:24] serenity4 commented on #92
I think we really should investigate the impact of potential checks. I think the overhead may be close to nothing (just like when we check for the input range when evaluating parametric types). The less assumptions on the user side, the less likely users will have bugs. I think we should avoid silent bugs claiming that it's the user responsibility when it happens wherever possible, particularly if

[2021-03-24 17:32] juliohm commented on #92
I think the problem is that the user doesn't have control of this. When we are taking views of the global vector of points in a unstructured mesh, these views won't be static.

Another alternative would be to add checks that are deactivated with a macro. Something like a global variable or environment variable that forces a fast version of things without safety checks. Similar to an `@assertion` b

[2021-03-24 17:37] juliohm commented on #92
In other words, if people are using a `Segment` in a GIS context where they care about staticness of a few segments, then it is fine to use the constructor that leads to an internal static vector. Maybe in this case the check makes sense, just for a particular constructor. If, however, people are manipulating segments from a mesh with billions of segments this check can start to annoy users that w

[2021-03-24 17:57] serenity4 commented on #92
Well, any code that is produced is bound to be used in ways we don't expect. Mostly due to typos/silly errors, but maybe due to misconceptions or another failure somewhere else.

At least, views of static arrays won't be affected. For views of dynamic arrays, yes, that's why we need to investigate the cost. But there again, it is pretty easy to produce silent bugs, e.g. you construct your segment

[2021-03-24 21:02] serenity4 commented on #90
The nature of geometries (Euclidean, non-Euclidean) has to do with how distance between two points is measured. I would define a line as the geodesic joining two points (the shortest path in terms of distance). With this definition, we get straight lines in Euclidean geometry, and the curved lines in non-Euclidean geometry. Well, this is only useful at the condition that we use the right distance

[2021-03-24 21:22] stillyslalom commented on #90
The constructor for three points is straightforward, but not so much for the point-normal form, since it leaves the orientation of the plane's component vectors indeterminate. I arrived at a deterministic solution, but it's a bit ugly, and I'd be happy to take suggestions.
[code]

[2021-03-24 22:03] BrianGun opened #93 "Moving surface types from OpticSim.jl into Meshes.jl"
@juliohm suggested perhaps it would be a good idea to put some of our geometry code from OpticSim.jl in Meshes.jl.

We currently support Bezier and NURBS patches, and Zernike, QType, and Chebyshev polynomials. I've never seen the last three surface types used anywhere except in optics so they may not be great candidates for inclusion in Meshes.jl. Bezier and NURBS patches are used in many fields.

[2021-03-24 22:22] juliohm commented on #93
Thank you @BrianGun for moving the discussion here. We have a very broad scope in Meshes.jl and the more primitives we have the better (unless they come with heavy dependencies, is it the case?). In the future, we can assume that maintainers will be distributed across different downstream applications, including OpticSim.jl for example.

How do you feel we should proceed here? We can certainly ass

[2021-03-24 22:46] BrianGun commented on #93
@juliohm if by dependencies you mean package dependencies then no there are not heavy dependencies. The code is largely self contained. Most of the algorithms are taken from the [ NURBS book](: https://www.amazon.com/NURBS-Book-Monographs-Visual-Communication/dp/3540615458/ref=asc_df_3540615458/?tag=bingshoppinga-20&linkCode=df0&hvadid=&hvpos=&hvnetw=o&hvrand=&hvpone=&hvptwo=&hvqmt=e&hvdev=c&hvdvc

[2021-03-24 22:53] juliohm commented on #93
That is a very good plan @BrianGun , thank you for sharing the pointers. We will take a look and get back to you afterwards.

[2021-03-25 22:06] lassepe commented on #53
I am also seeing this warning. However, it seems to happen non-deterministically; or at least it may depend on the include order?

[2021-03-27 22:15] juliohm commented on #93
Hi @BrianGun , I had a chance to take a look at the curves defined in OpticSim.jl, thanks for the pointers. In Meshes.jl, @serenity4 has recently added `BezierCurve` with two methods of evaluation. Do you think we could extend our implementation to include the partials and normals necessary to your use case in OpticSim.jl? I think that could be a good starting point.

[2021-03-28 19:36] serenity4 opened #95 "Define neighborhoods from primitives"
I saw that there are two neighborhood types defined: `Ellipsoid` and `NormBall`. I think it would make more sense to derive neighborhoods directly from a distance function defined on geometrical objects dependent on a metric.

`NormBall` is defined from a metric and a radius. Instead, we could use the functionality it offers directly from a `Sphere` and a `metric`.
`Ellipsoid` is in fact a rotated

[2021-03-28 19:50] juliohm commented on #95
There is a difference between the concept of neighborhood and the concept of simple geometries like balls and ellipsoids. A neighborhood is not attached to any specific location and is free to move around, whereas a geometry is georeferenced to a specific location (e.g. sphere center). We use this difference in GeoStats.jl in order to write algorithms with a moving neighborhood. Please let me know

[2021-03-28 19:51] serenity4 commented on #93
Hi @BrianGun,
This migration would be very much appreciated. We were actually just thinking of defining B-splines/NURBS in Meshes, among others. I'm not an expert in these domains, but I'll take a look when I have some time and then we can figure out how to make the transition.

[2021-03-28 20:13] BrianGun commented on #93
Sounds good. Will wait to hear from you then.

One other thing that is extremely important for us is that the number of allocations when evaluating the surfaces be essentially zero otherwise multithreaded performance in our ray tracer is terrible. I think we had hand unrolled loops in some of these functions for that reason.

I also have code for computing analytic intersections between lines and

[2021-03-28 21:15] #95 closed, assigned to nobody

[2021-03-28 21:49] serenity4 commented on #95
The problem is that I'd like an `Ellipsoid` as a primitive too. Without specifying a rotation. The difference you point out (one is defined at a point in space, one only at the origin) stems from embedding the location inside the primitive itself. I'll have to think more about this, but it would be nice to differentiate between geometry and translated geometry. Else we'll have more duplication pop

[2021-03-29 12:42] hameye opened #96 "Typo in getindex for Cartesian Grid"
p3 and p7 are duplicates, formula might be wrong. It then leads to wrong centroid.
[code]
![node_juli](https://user-images.githubusercontent.com/57682091/112836713-3943b000-909b-11eb-8a39-213941c2e7b0.png)

[2021-03-29 12:47] juliohm commented on #96
Thank you for catching that. Appreciate a PR fixing the issue.

[2021-03-29 16:38] #96 closed, assigned to nobody

[2021-03-30 11:50] juliohm opened #98 "Refactor distances between geometries"
Currently we have a single `evaluate(distance, g1, g2)` but as pointed out by @lassepe over Zulip, we could refactor this into at least two types of distances between geometries: `mindistance` and `maxdistance`. We could also consider Hausdorff distances in the future.

I think we can preserve `evaluate(distance, p1, p2)` where `p1` and `p2` are points, and also provide the `colwise` and `pairwise

[2021-03-30 11:54] juliohm opened #99 "Documentation examples"
Following the work initiated by @atreyamaj , we need more examples in the documentation. Here is a list of features that we could illustrate with plots:

- [x] Douglas-Peucker simplification of polygonal chains and areas
- [x] Migrate partitioning and sampling examples from GeoStats.jl to here

PRs are very welcome.

[2021-03-30 11:55] serenity4 commented on #98
What should `maxdistance` do? Return the distance between a point and e.g. the farthest part of another geometry? Or is it intended for a particular set of metrics (non-Euclidean for example)?

Also, from a naming perspective, why was `evaluate` chosen instead of simply `distance`?

[2021-03-30 11:56] serenity4 commented on #98
For example, I could have seen `distance(metric, p1, p2)`, or am I wrong about the use of `metric` and `distance`?

[2021-03-30 11:59] juliohm opened #100 "Add sideof method for closed Chain and PolyArea"
We have all the ingredients to check if a point lies inside or outside a closed chain. Let `w = windingnumber(point, chain)`. If `w == 2pi` or `w==-2pi` then the point is inside. If `w == 0` then the point is outside.

We need to implement `sideof` with this logic. After we have the method for Chain, we can easily check all rings in a polygonal area and say that a point is inside whenever it is in

[2021-03-30 12:02] juliohm commented on #98
Exactly. The distance between the point and the farthest point in the geometry.

I tried to follow the Distances.jl API so that whenever we pass points as inputs we can call `evaluate`, `colwise` and `pairwise` with any of the distances in that package.

[2021-03-30 12:13] juliohm opened #101 "Add shuffle option to FIST algorithm"
We can easily create less sliver triangles in FIST if we shuffle the result of `ears` inside the algorithm before pushing to the queue of ears to be clipped. We just need to expose an option that does the shuffle by default. We can then write tests using shuffle=false.

[2021-03-30 12:54] lassepe commented on #98
Here are two cents from my perspective:

1. The correct way to implement the `Distances` seems to be to add a dispatch to the functor for the metric, rather than `Distances.evaluate`. By this means, the generic fallbacks for `evaluate` and `pairwise` et al should work out of the box.

2. I would vote for only using the metric types from `Distances` but not implement their distance API for anything

[2021-03-30 16:28] juliohm commented on #87
I've renamed the verbose `UnstructuredMesh` to `SimpleMesh`. This simple mesh is the greedy representation where we are free to insert faces of any rank in the connectivity list. I will start working on different representations.

[2021-03-30 16:30] juliohm commented on #98
All very good points @lassepe. Can you submit a PR to each item separately so that we can more easily review and brainstorm? That would be great. There are lot of breaking changes, and we want to make sure we are not missing anything in the transition.

[2021-03-30 19:01] juliohm opened #102 "Add intersection between two Line objects"
We have a method for intersecting two Segment objects. We could add a similar method for Line objects.

[2021-03-30 19:01] juliohm commented on #82
Superseded by #99

[2021-03-30 19:01] #82 closed, assigned to nobody

[2021-03-30 19:04] serenity4 commented on #102
This should be simpler than for segments. Since lines are infinite, there are only three cases:
- overlapping lines
- non-intersecting lines
- intersecting lines

[2021-03-30 21:09] #102 closed, assigned to nobody

[2021-03-30 21:09] serenity4 opened #104 "Change representation of Line"
I know this is breaking, but I have a suggestion for the `Line` data structure. Currently, it stores two points which it crosses. I was thinking of changing the structure as a `Point` and a `Vec`, similar to the `Plane` but in 1D. I feel it would look more natural, be more consistent with the `Plane` object, facilitate evaluation (you won't need to do `b - a` every time) and would make the orienta

[2021-03-30 21:12] juliohm commented on #104
The benefit of `b - a` is that we get back a `Vec` which is a normal `SVector` that works with other Julia functions out there. Also, it seems more usual to construct a line from two points as opposed to a point and a vector. We have `Ray` that is more natural with point and vector. We already have an issue open to discuss Line and Plane representations #90 and so I will close this one.

[2021-03-30 21:12] #104 closed, assigned to nobody

[2021-03-30 21:14] juliohm opened #105 "Implement equality for Line"
We need a method `l1 == l2` that tells when two lines `l1` and `l2` are equal.

[2021-03-30 21:20] juliohm commented on #12
I think this issue overlaps with #87 . The ultimate goal is to be able to represent the connectivities efficiently without copying vertices. There is a lot of literature on this, and I will try to address things as I progress with my research.

Closing this one for now.

[2021-03-30 21:20] #12 closed, assigned to nobody

[2021-03-30 21:23] juliohm commented on #18
Unfortunately, VoronoiDelaunay.jl is very buggy and is not user-friendly. I checked StarTIN.jl but couldn't find an easy method to get the connectivity list. Is there a method already exposed?

Fortunately, I could use MiniQHull.jl in some of my current research assignments. It is simple and to the point.

[2021-03-30 21:25] serenity4 commented on #12
Yes and no. This issue was not about defining an optimal polytope structure. It was about defining a full structure without implicit assumptions so that the poset it represents can be exploited. There is a potential for doing arbitrary queries on the structure of the polytope without having to switch between (efficient) data structures.

[2021-03-30 21:29] juliohm commented on #12
Can you compare this full structure you have in mind to what we currently
have in SimpleMesh?

On Tue, Mar 30, 2021, 18:25 Cédric Belmant ***@***.***> wrote:

[2021-03-30 21:35] serenity4 commented on #12
SimpleMesh allows any structure but it is highly inconvenient to work with in a general setting. For example, in a polytope a 2-face is defined by its relation to 1-faces, but the current connectivity logic only associates k-faces to vertices. If I want to find face loops (an extension of Chain but for general faces, not just 0-faces aka vertices), I don't see any convenient way to do that in Simp

[2021-03-30 21:42] juliohm commented on #12
Makes total sense and I think some of the data structures I mentioned will
help with that too.

On Tue, Mar 30, 2021, 18:36 Cédric Belmant ***@***.***> wrote:

[2021-03-31 19:40] evetion commented on #18
Not yet. Is there a preferred way of getting such a list? The structure in StarTIN is a star, so from a vertex to all other vertices. Or do you want the actual triangles like [a, b, c]?

[2021-03-31 19:42] juliohm commented on #18
The connectivities of the triangle would be ideal. It will be nice to compare all these different well-established implementations as we evolve our own pure Julia implementations in Meshes.jl.

[2021-03-31 21:38] sjkelly opened #106 "Integration of other packages in JuliaGeometry"
First off, great job on this package, I'm looking forward to testing it out. This is a followup to the discussion in https://github.com/JuliaGeometry/GeometricalPredicates.jl/issues/36 .

I maintain a few packages that use Mesh and Polytope types heavily:

- [x] PolygonOps.jl
- [x] TriangleIntersect.jl
- [ ] Meshing.jl
- [ ] Contour.jl
- [ ] DistMesh.jl
- [ ] Descartes.jl

The current integrations

[2021-03-31 21:53] juliohm commented on #106
Thank you for testing the package and for joining the effort @sjkelly. Your expertise is much needed to improve the situation we currently face in JuliaGeometry.

Regarding the packages listed, I think we can start working on the migration of the basic building blocks like PolygonOps.jl. As I mentioned in that issue, we may already have the operations in Meshes.jl but we can certainly double check

[2021-03-31 22:09] sjkelly commented on #106
I have not looked into GeometricalPredicates in a while, but have taken a few stabs at porting it to GT/GB in the past, with not good results. I think a more modern approach is to use Interval math for predicates in floating point, with fallbacks. I did some experiments in the past and intervals were faster with modern SIMD optimizations and rounding modes. Would be good to double check (code exam

[2021-03-31 22:35] juliohm commented on #106
We have a professor at our institute that works actively with interval math. I have never used it myself, but it is good to know that it works well with these predicates. We also have JuliaIntervals at our disposal if we decide that some of these predicates are better implemented with interval math.

Regarding PolygonOps.jl, I see you have two methods implemented for point in polygon queries. Shou

[2021-04-02 12:11] #100 closed, assigned to nobody

[2021-04-02 12:18] juliohm opened #107 "Normalized winding number"
The winding number is often defined as the "integer" number of "turns": https://en.wikipedia.org/wiki/Winding_number

Our current implementation returns the sum of angles without dividing the result by `2pi`. We need to consider this normalization for educational purposes.

[2021-04-04 21:35] juliohm opened #109 "Consider merging GeometrySet and PointSet"
Currently we have these two types to differentiate a collection of geometries from a collection of points. However, it seems that a simple type parameter would suffice to accommodate both cases. We could introduce a `Collection` of geometries and then have type aliases for `PointSet` and `GeometrySet` if necessary.

[2021-04-05 11:10] #53 closed, assigned to nobody

[2021-04-06 08:17] lassepe commented on #98
In  view of @juliohm's comment in #108

I would argue that we should not implement `Distances.evaluate` at all for `Point`. The README explicitly states that `Distances.evaluate` et al. is meant to be called on iterators or vectors. In fact, the design of the package makes it hard to properly add additional distances because much of the functionality is created using `@eval` to add dispatches for

[2021-04-06 08:42] lassepe opened #115 "CI pipeline fails on MacOS"
The CI fails consistently on MacOS due to some instantiation error of the plotting dependencies.

[2021-04-06 10:47] juliohm commented on #115
This issue is not specific to Meshes.jl. Let's open it in Plots.jl if necessary.

[2021-04-06 10:47] #115 closed, assigned to nobody

[2021-04-06 15:29] juliohm commented on #98
Instead of thinking in terms of distance metrics, maybe we should think in terms of the underlying geometric objects involved. For example, the minimum distance between two geometries is the length of the arc connecting these geometries. In a Euclidean space, this arc is a `Segment` and the length is the `Euclidean` distance between the segment endpoints. If we were on a spherical domain, this seg

[2021-04-06 17:27] #101 closed, assigned to nobody

[2021-04-06 17:30] juliohm commented on #99
@atreyamaj are you still interested in contributing more examples to the documentation?

[2021-04-06 17:33] atreyamaj commented on #99
I am interested!
 I'm a bit caught up with some uni work, I'll start working as soon as my load lightens up a bit!

[2021-04-06 17:49] serenity4 commented on #98
I like the idea, but there are situations where such an arc [isn't unique](https://en.wikipedia.org/wiki/File:Manhattan_distance.svg). I don't know if it would be guaranteed to exist either.

In general, I am quite uncomfortable with the idea of discussing `mindistance` and `maxdistance` as if both were distances. Fundamentally, a distance (or metric, it's the same) is expressed between points. No

[2021-04-06 17:52] #107 closed, assigned to juliohm

[2021-04-06 17:59] juliohm commented on #98
Very good thoughts as usual @serenity4 and I fully support the idea of encoding somehow the metric space as a type that we can pass to algorithms. I wonder if we should open a separate issue to discuss this metric space representation before we come back to this issue on distances. We could also discuss it here directly since distances and metric spaces are intimately connected.

I started thinkin

[2021-04-06 19:22] serenity4 commented on #98
In the picture I linked above, if you take a Manhattan/taxicab metric, you have multiple shortest paths (all red/orange/blue paths yield the same distance). It's a figure on a discrete domain, but in the continuous case it's the same; just that you have an infinite number of shortest paths.
You can also take the example of antipodal points on a sphere using the Haversine distance. Their distance i

[2021-04-06 19:53] serenity4 opened #116 "Parametrize on the metric space"
Originating from #98, it was discussed that we probably should parametrize the library according to a particular metric. Even if not all algorithms may work with arbitrary metrics, it would surely be nice to just have to set a global parameter or package option to have some algorithms work with non-Euclidean metrics.

Concretely, I think we need to:
1. implement custom metrics or reuse those from

[2021-04-06 20:00] juliohm commented on #116
I think we need to have a formal definition of non-Euclidean geometries stated in this issue before we can progress with implementations. I will try to find the time to re-read a book I have to share the definition here.

[2021-04-06 20:04] serenity4 commented on #116
I find Wikipedia to be a very good source of information regarding this kind of topics. They have [an article](https://en.wikipedia.org/wiki/Non-Euclidean_geometry) about it, though to understand it properly it is required to know a lot more things which revolve around the notion of metrics, manifolds, curvature, and all that. I don't know of a book that summarizes it nicely, I personally go throu

[2021-04-06 20:19] lassepe commented on #98
FWIW: I ended up drafting the `nearest` feature in #113  (there called `closest_point`) and while doing so I also realized that even the nearest point is not necessarily unique (which of course is obvious as soon as one considers non-convex geometries).

[2021-04-06 20:44] serenity4 commented on #98
Yes, that's not going to be easy. If we just want distances it's fine, but otherwise it is more involved. Hopefully we'll be able to rely on primitives for the most part where solutions are easy to find. Just as a quick note for later, we may want to define something like `nearest_any` and `nearest_all` when there is more than one solution.

[2021-04-06 20:48] #109 closed, assigned to nobody

[2021-04-12 13:11] hyrodium commented on #105
I'm  trying to solve this issue, and I have one question.

Does a line have a parameter or a direction?

* If have a parameter: `Line(p1, p2) == Line(p1, p2)` holds. (in this case, we don't need additional implimentations.)
* Or, if have a just direction: `Line(p1, p2) == Line(p1, p1+2*(p2-p1))` holds.
* Or, if don't have both: `Line(p1, p2) == Line(p1+2*(p2-p1), p1)` holds.

[2021-04-12 14:23] juliohm commented on #105
Thank you @hyrodium , did you read the docstring already? What is not clear? If I remember correctly our current implementation uses two points on the line to define it.

[2021-04-12 14:44] hyrodium commented on #105
Sorry for my confusing English.

Yes, I've already read the docstring of `Line`, but I was misreading:bow:
My updated question is, "Do we need additional implementation?"

It seems like the following properties are already satisfied.
[code]

sorry if I misunderstood something.

---

At first, I thought `Line(Point(1,2), Point(2,4)) == Line(Point(1,2), Point(3,6))` should be satisfied and we have t

[2021-04-12 15:38] juliohm commented on #105
We are aiming for equality of lines so even though two lines may be specified with different pairs of points they may be the same line. Makes sense? That is what is not implemented yet and would be a good contribution for a first-time contributor.

[2021-04-12 15:52] hyrodium commented on #105
Let me use an example to confirm this.
Do you think, the following `l1 == l2` should be `true`?
[code]
![image](https://user-images.githubusercontent.com/7488140/114423198-e6690d00-9bf1-11eb-8a2b-3da63d2bee3b.png)

But, the lines `l1` and `l2` are different as map, so I thought `l1 ≠ l2` should be `true`.
[code]

[2021-04-12 15:56] juliohm commented on #105
The parameter `t` can vary from -inf to +inf so they are the same line.

[2021-04-12 16:14] hyrodium commented on #105
Okay, I understood.
Maybe it's better to add docstring to `(l::Line)(t)` like this:

[code]

[2021-04-12 16:18] hyrodium commented on #105
It seems like that we also need equality for `Segment`.
[code]

[2021-04-12 16:18] serenity4 commented on #105
Indeed `l1` and `l2`  represent the same set. Their parametrization is however different as you pointed out. I think this `Line` type aims to represent sets spanned by undirected lines. Under these terms, they are equal, even if instances are not identical. Therefore I would recommend implementing an equality operator `==` that checks whether both lines represent the same set, and an identity oper

[2021-04-12 16:23] serenity4 commented on #105
`Segment` is, however, an oriented line segment, so `s1` and `s2` should not be equal. This makes it a bit weird since a `Line` is not simply the continuation of a `Segment`, differing by the fact that a `Line` is not oriented.

[2021-04-12 16:32] hyrodium commented on #105
Okay, but, how can I check these inequality?
[code]
* `==` is for checking as set
* `===` is for checking as map

Is there any other equatility symbol?
I thought we need some operator that check as map, but not type.

[2021-04-12 16:42] hyrodium commented on #105
And also, I suspect the checking equality as set will be hard because of floating number, and the transitivity of `==` would be broken.
Should we use `isapprox` method instead?

(Sorry for many questions, someone can solve this issue smarter than me:wink:)

[2021-04-12 16:56] serenity4 commented on #105
Hmm, indeed if we overload `===` to check for equality between the parametrization (points) of lines, then we'd be missing an operator to check for true identity (in the sense that types and contents are the same). Might also break some code that rely on `===` to be related to the true identity. I think we do want to have three different operators. I don't have a solution in mind at the moment tho

[2021-04-12 16:58] serenity4 commented on #105
`isapprox` looks very much related to `==` to me (in that it only adds tolerances), so using it as the "third" operator to implement something semantically different than `==` doesn't seem like a good solution to me.

[2021-04-13 01:06] hyrodium commented on #105
I really agree with that.

How about adding methods `equalasset(A,B)` and `∼(A,B) = equalasset(A,B)`(\sim) for equality as a set? (Another option is `≃`(\simeq).)

* `∼` (or  `≃`) equality as a set (apploximately)
* `≈` equality as a map (apploximately)
* `==` equality as a map
* `===` equality as a true identity, i.e. as a map including types

[2021-04-13 01:57] juliohm commented on #105
Let't keep it simple @hyrodium , it is the best approach to start here. Simply define `==` to mean equality as described above regardless of parametrization and implement this equality with a given tolerance using `isapprox` like we do in other places. We have `atol(T)` in the library for that.

[2021-04-13 03:10] hyrodium commented on #105
Thanks for the suggestion.
Yes, I love simplicity, but I think sometimes it can't be.

Sorry for repeating, but there're two reasons for my concern.

* `==` should have transitivity (i.e. `a==b` and `b==c`, then `a==c`).
  * But, it can't be because of floating number.
  * Julia language really care about the transitivity of `==`. ([example1](https://codewords.recurse.com/issues/one/when-is-equali

[2021-04-13 11:40] juliohm commented on #105
@hyrodium what I am trying to say is that this issue of sorting out a transitive `==` seems much deeper than what we had in mind originally for this specific issue where we are sharing thoughts. The discussion around `==` is super important but it touches the entire codebase, and you would need a massive pull request to fix.

Just helping with an approximate `==` for lines (even if it is not trans

[2021-04-13 13:13] hyrodium commented on #105
Ah, Okay, I understoold.
I'll make a PR!

[2021-04-13 15:09] #105 closed, assigned to nobody

[2021-04-13 15:13] hyrodium commented on #93
I'm also developing a package for B-spline, so I can help this issue. :muscle:
https://github.com/hyrodium/BasicBSpline.jl

[2021-04-13 15:24] serenity4 commented on #93
Great! I am currently working to figure out a good way to integrate transforms into the library and my bandwidth won't really let me focus on this issue for now. Your help would be definitely appreciated, especially since you seem to have more experience than me in these topics.

Sure! We intend to provide as many tools as possible for geometry processing to avoid fragmentation of functionality an

[2021-04-13 15:37] hyrodium opened #120 "Add new operator for "equal as a set""
(This issue is a continuation from #105.)

Currently, some `==` operator doesn't have transitivity. For example:

[code]

But, the julia language really care about the transitivity of `Base.==`, so we would like to deal with this problem!

---

What we have to do is the following:
1. Decide a new operator for "equal as a set" (maybe `\sim` or `\simeq`?).
2. List up all `==` methods for equallity a

[2021-04-13 15:56] juliohm commented on #120
Amazing plan @hyrodium. I would like to discuss which properties of these relations we are after.

In general we can talk about properties such as symmetry, transitivity, reflexivity in an [equivalence relation](https://en.wikipedia.org/wiki/Equivalence_relation). "equal as a set" seems to be just another equivalence relation on these objects. Julia has `\equiv` for equivalence relations for examp

[2021-04-13 17:40] BrianGun commented on #93
It might be a while before I can get around to this. OpticSim is keeping me busy, among other things. Ping me in a month and I'll see if there is time in my schedule.

[2021-04-13 17:45] BrianGun commented on #93
@hydrodium it looks like your package supports non-uniform knots. Does it also support rational B-Splines? If it doesn't I've got code for this case [NURBS](https://github.com/microsoft/OpticSim.jl/blob/main/src/Geometry/Primitives/Curves/BSpline.jl) which you are welcome to swipe if it is useful.

[2021-04-14 01:38] juliohm commented on #87
We now have `HalfEdgeStructure` and `ExplicitStructure` in the master branch. Next step consists of refactoring `SimpleMesh` to use `ExplicitStructure` before moving forward with other implementations.

[2021-04-14 10:07] hyrodium commented on #93
@BrianGun Thanks for the comment! I'll check the code. No, the current BasicBSpline.jl doesn't provide methods for NURBS, but I was planning to add them (and also [T-spline](https://en.wikipedia.org/wiki/T-spline)) in the future.

I think B-spline basis function is not just for geometry, so it's better to depend on other B-spline package, I guess.

[2021-04-16 10:36] alok opened #124 "Should these be abstractvectors instead?"
https://github.com/JuliaGeometry/Meshes.jl/blob/b668e79f7a26ebba8d07d0ced4bf4d9a8024f89f/src/mesh/simplemesh.jl#L15

seems like a free bit of genericity

[2021-04-16 11:56] juliohm commented on #124
Can you comment on the use case you have in mind? We plan to refactor this type to use a `ExplicitStructure` for the topology instead of a raw vector of connectivities.

[2021-04-17 11:29] #124 closed, assigned to nobody

[2021-04-21 04:51] jackbeagley opened #125 "Calculate ray mesh intersection"
We can already find the intersection between lines, segments and boxes. It would be good to find the intersection between a mesh and a line too (naturally this would involve first finding the intersection, if it exists, between a line and a triangle).
Could use https://github.com/JuliaGeometry/TriangleIntersect.jl

[2021-04-21 11:03] juliohm commented on #125
Thank you @jackbeagley for the feature request. Would you like to submit a PR with the proposed method? Notice that we have three different concepts in the codebase already: Line, Segment, Ray. These are not the same concept and it seems that the TriangleIntersect.jl package provides an intersection between Ray and Triangle. Make sure you implement the correct method in the PR if you are willing t

[2021-04-21 11:24] jackbeagley commented on #125
Point taken regarding the different concepts! I'll have a crack at it and hopefully have a PR at some point to it.

[2021-04-24 13:43] juliohm opened #126 "Drop dependency on CategoricalArrays.jl"
CategoricalArrays.jl has finally merged a PR with plot recipes. We can drop this dependency in Meshes.jl and assume that categorical vectors can be plotted just fine moving forward.

[2021-04-25 18:27] juliohm commented on #126
Fixed on master.

[2021-04-25 18:27] #126 closed, assigned to nobody

[2021-04-25 20:02] juliohm opened #128 "Rename NeighborhoodSearch to BallSearch"
The name predates the major refactoring of the code. `BallSearch` is a more descriptive name for the search method.

[2021-04-29 12:37] #128 closed, assigned to nobody

[2021-04-29 12:38] juliohm commented on #55
Fixed on master.

[2021-04-29 12:38] #55 closed, assigned to nobody

[2021-05-05 20:20] cgscheidle opened #131 "Simple mesh returning empty for 3D input"
I am currently trying to create a triangular mesh for points in 3D. I am using Julia 1.6.0 with Meshes v0.12.8 and Pluto v0.14.4. However, the code only returns a SimpleMesh without elements.

[code]

How can I fix the problem as I really like the overall package?

Thank you in advance!

[2021-05-05 20:51] juliohm commented on #131
Hi @cgscheidle you created two triangles in 3D space, that doesn´t make a 3D mesh. You have to use 3D polytopes such as Tetrahedron, Pyramid, etc to create 3D meshes. Please feel free to ask more questions on Zulip.

[2021-05-05 20:51] #131 closed, assigned to nobody

[2021-05-16 11:00] SimonDanisch opened #132 "Table interface and Metadata for meshes"
I'm not sure if the mesh types are under documented, or this is simply not possible.
How can I attach metadata to mesh vertices and access them via the tables interface?

[2021-05-16 11:51] juliohm commented on #132
You are correct that vertex tables are currently not implemented. We have ideas on how to accommodate tables for all k-faces (vertex (k=0), segment (k=1), triangle (k=2), tetrahedron (k=4)). One idea is to store a table for each k. Another idea is to store only the table for the top-face (e.g. triangles) and derive the other tables using Whitney basis and other provably optimal interpolation metho

[2021-05-16 11:59] juliohm commented on #87
This issue is fixed. We have all the machinery in place to keep adding more topological data structures.

[2021-05-16 11:59] #87 closed, assigned to juliohm

[2021-05-16 12:58] SimonDanisch commented on #132
I'm not sure if that will solve my use case...
I need a simple way to do:

[code]
And this also then needs to work with all mesh operations like:
[code]
Also, its pretty important to store the metadata as array of structs or struct of arrays.
So it should be possible that positions lay like this in memory:

[code]
Or
[code]

[2021-05-16 14:04] juliohm commented on #132
For illustration purposes, this is how you can achieve a similar result with the current design:

[code]

In order to cover your use case, we need to:

1. Add a method to map a table with metadata for points besides the table for triangles. The code snippet above is for metadata on triangles. The way I would proceed here is first introduce a default `Meshes.Data` implementation in Meshes.jl withou

[2021-05-16 14:36] juliohm commented on #132
Another reason why we separated the metadata from the mesh is that many data structures for optimal search in meshes doesn't necessarily store the connectivities explicitly. For example, we have the `HalfEdgeStructure` that only stores half-edges for which metadata doesn't make sense. There is always a mapping from the data structure to the actual faces of rank k, but that is implicit. The StructA

[2021-05-17 12:20] SimonDanisch commented on #132
Yeah, so 90% of the work & design of GeometryBasics went into enabling both memory layouts with as few disadvantages as possible... One could say, that it's the main point of GeometryBasics and it can be very important for the GPU and compat with C libraries ;) It's usually quite difficult to add this to a package in retrospective, so I wonder how that would work in Meshes.

[2021-05-17 12:30] juliohm commented on #132
Yes, we also had that in mind in Meshes.jl and the metadata part is still very minimal and open to development. I don't think it will be a problem to change where the metadata is saved in memory because currently it is completely decoupled from the geometries themselves, which is more flexible than a design that couples the two from the start.

Notice that saving metadata next to the geometry is o

[2021-05-17 22:24] serenity4 commented on #132
As @juliohm pointed out, support for the storage of separate vectors of metadata values can be fairly easy to develop (with one array for positions, one for colors, uv, etc).
For the other memory layout, it can be converted with something like `collect(zip(positions, colors[, other_attributes]))`. I believe the point is that, since metadata is not required for most geometry processing algorithms (

[2021-05-18 17:29] juliohm commented on #132
An update regarding this general representation of meshes.

We are very close from having an intrinsic representation that can be "instantiated" with different types of "vertices": https://github.com/JuliaGeometry/Meshes.jl/blob/c0b11f72e18d90a7c8e71d0ec7f3092909cc6f6a/src/mesh/simplemesh.jl#L5-L23

As you can see in the definition above, our `SimpleMesh` is just a composite type that puts togethe

[2021-05-24 18:20] juliohm commented on #132
An update regarding this issue. We should have a working implementation by the end of the day. The implementation will allow the association of metadata to any rank of the mesh. The advantage of this design is that we will be able to load large tables (or databases) lazily from disk, which do not fit into RAM, and still visualize parts of it depending on user interaction.

[2021-05-24 23:53] juliohm commented on #132
The feature is now available in the master branch under the name `metadata`. Below is an example of usage where we attach metadata to vertices and elements of a simple mesh:

[code]

As you can see, the function returns a `SpatialData` object, which implements the `Data` trait. In this example, it stores a table for the vertices (rank = 0) and a table for the elements (rank = maximum rank = 2), wh

[2021-05-25 15:19] juliohm commented on #132
A new minor release is now available with the proposed changes.

[2021-05-25 15:19] #132 closed, assigned to nobody

[2021-05-25 21:10] juliohm opened #134 "Add option to disable PolyArea orientation check"
The inner constructor of PolyArea always fixes the orientation of the outer and inner chains. For very large datasets with hundreds of thousands of polygonal areas this may be too slow. We should add an option `check` to the constructors that is enabled by default for backward compatibility and safety.

[2021-05-25 21:51] juliohm opened #135 "Fix angle between 3D vectors"
We need to fix the current implementation to return the correct oriented angle.

Feel free to tackle the issue if you have time available.

[2021-05-25 21:53] juliohm opened #136 "Finish hasintersect implementation for non-convex geometries"
The current implementation assumes convexity of the geometries. To handle the non-convex case we can just split the geometries into convex parts and run the existing algorithm.

[2021-05-26 11:05] SimonDanisch commented on #132
Thank you!
I think I have to put this on hold though... I hoped Meshes would have taken more of the backbone + features of GeometryBasics, so that it would be easier to switch out, but the APIs, concepts and features are just too different.
I guess we have to go the conversion + recipe route for now ;)

[2021-05-26 11:12] juliohm commented on #132
Sounds like a good plan. The recipe route will help identify where to go next.

[2021-05-26 15:47] juliohm opened #137 "Implement algorithm for fixing the orientation of cell complexes"
Currently we assume that the list of connectivities is given with coherent orientation, i.e. all n-gons are CCW. At some point we will need to fix orientation for the end user. An example method is described in Borodin et al 2004:

https://ieeexplore.ieee.org/document/1309188

[2021-05-26 18:42] #134 closed, assigned to nobody

[2021-05-27 14:03] cormullion opened #138 "Documentation: styling in dark mode"
The documentation looks like it's good, but it needs more attention to the styling when viewed in Dark Mode (which I suspect is increasingly common):

Links too dark:

<hr />

<img width="829" alt="Screenshot 2021-05-27 at 14 50 24" src="https://user-images.githubusercontent.com/52289/119837891-dfc0fb80-befa-11eb-9aae-f486b88deb25.png">

<img width="864" alt="Screenshot 2021-05-27 at 14 59 15" src

[2021-05-27 14:06] juliohm commented on #138
Thank you @cormullion for pointing the issue. Do you have suggestions for improving the dark theme? I am not very good with themes so any help is highly appreciated.

[2021-05-27 15:35] cormullion commented on #138
I'm not very good with CSS, and you've got CSS and SCSS files in action, but according to a quick look with the Web Inspector:

<img width="1248" alt="Screenshot 2021-05-27 at 16 32 50" src="https://user-images.githubusercontent.com/52289/119854706-35040980-bf09-11eb-9ff8-0182431339ee.png">

you're picking up dark blues and purples for the anchors. Changing that to `#eee` or similar should get you

[2021-05-27 16:49] juliohm commented on #138
Thank you @cormullion , mind submitting a PR with improvements? You know much better how to choose these. I'd be happy to merge the changes.

[2021-05-27 22:12] heliosdrm opened #139 "interoperability with MeshIO.jl"
Related to https://discourse.julialang.org/t/ann-announcing-meshes-jl/53973/19

It's great that packages like PlyIO provide easy-to-manage arrays and dictionaries, from which `Mesh`es can be easily made, and I agree that it would be good to extend that model to other file formats (OBJ, OFF, etc.). However, regardless of how MeshIO.jl reads/stores data, I would like that Meshes.jl was also able to

[2021-05-27 22:17] juliohm commented on #139
Hi @heliosdrm I think you misunderstood the connection between the different projects. The fix should go in MeshIO.jl not in Meshes.jl We can't add GeometryBasics.jl as a dependency because Meshes.jl is am improved version of GeometryBasics.jl.

MeshIO.jl could be refactored to accommodate Meshes.jl types but that is not part of this repository here.

[2021-05-27 22:17] #139 closed, assigned to nobody

[2021-05-28 08:08] visr opened #140 "`length(::Point)` not defined"
Would it be useful to add something like below?
[code]

Same for `getindex`.

[2021-05-28 08:52] cormullion commented on #138
I made some attempts at doing this, but it looks like the docs use SCSS as well as CSS and uses also Documenter tools I'm not familiar with, so a simple edit to the CSS (like I do for my packages) didn't work.So  I'll have to bow to someone else's expertise here...:)

[2021-05-28 11:13] juliohm commented on #140
We have the `embeddim` trait that returns the dimension of the space where points and geometries live. A point is an abstract construct that is independent of coordinate reference systems so we can't `getindex` into it. We can however `getindex` into the coordinates of the point in a given CRS. Currently our `coordinates` function simply returns the coordinates used to instantiate the point but th

[2021-05-28 11:56] visr commented on #140
Ok yeah I was working on https://github.com/JuliaGeo/Proj4.jl/pull/51 and noticed that

[code]

Would fail for Meshes, but works for GeometryBasics. I'm aware you don't want a Point to be an AbstractVector, but I thought something like `length` can't really return something else than this definition. Though first taking out the `coordinates` would work as well.

Yeah right now in most places CRS i

[2021-05-28 14:48] juliohm commented on #140
The challenge is finding the right level of granularity. The most flexible design is one in which a CRS is stored per each point but that can quickly become inefficient in terms of storage. Storing the CRS in geometries seems flexible enough and will likely enable features that QGIS doesn't support.

How many CRS exist out there more or less? I will close the issue and open a thread on Zulip to co

[2021-05-28 14:48] #140 closed, assigned to nobody

[2021-05-29 19:03] juliohm commented on #138
I remember we only need to edit the SCSS file. Documenter.jl will consume this file and will produce the CSS file in the correct folder. Do you know where in the SCSS file the changes are necessary? We could try to open a PR and see if the build is successful updating the docs dark theme.

[2021-05-29 19:04] juliohm opened #141 "Add GridTopology"
This should be a trivial data structure to implement with zero storage requirements and fast topological relations. It is needed in order to generalize some algorithms downstream.

[2021-05-30 14:30] cormullion commented on #138
If you change line 12 of `meshes-dark.scss` to a brighter color, like this:

<img width="840" alt="Screenshot 2021-05-30 at 15 28 03" src="https://user-images.githubusercontent.com/52289/120108137-c23e9c80-c15b-11eb-9fff-06a647cdb066.png">

you can get more visible links:

<img width="852" alt="Screenshot 2021-05-30 at 15 27 20" src="https://user-images.githubusercontent.com/52289/120108138-c4a0f6

[2021-05-30 14:35] juliohm commented on #138
Will test locally, thanks for the suggestion :)

[2021-05-30 14:52] juliohm commented on #138
Much better indeed! Fixed on master 👍🏽

[2021-05-30 14:52] #138 closed, assigned to nobody

[2021-06-08 19:06] henry2004y opened #143 "Mesh plotting"
Hi,

I see there's now a recipe for plotting meshes. However, why can't I reproduce the mesh plot in the documentation with Plots.jl GR backend?
[code]

What I see is the following:
![mesh](https://user-images.githubusercontent.com/20110816/121241560-3f78b880-c8a4-11eb-8bd5-26a061bd91f4.png)

I also tried some other meshes, but still there were only filled planes. Do I need another plotting method

[2021-06-08 19:24] juliohm commented on #143
Hi @henry2004y , we set a few options by default in the docs to show the edges:

[code]

However we don't know if we should maintain these Plots.jl recipes now that we have MeshViz.jl for plotting 3D meshes with Makie: https://github.com/JuliaGeometry/MeshViz.jl

[2021-06-08 19:26] #143 closed, assigned to nobody

[2021-06-09 01:23] juliohm commented on #120
@hyrodium do you have any update regarding this issue? We should probably convert it into a Zulip thread otherwise. There are no clear action items because we still miss the properties of interest for these relations.

[2021-06-09 08:01] henry2004y commented on #143
Glad to see the recipes for Makie! Makie is still quite slow to start, but the 3D figures looks so much better. One thing that confused me in MeshViz.jl was that `import GLMakie` seemed to be required: `using Makie` would not work. Is that how the recipe system for Makie behaves currently?

[2021-06-09 08:20] visr commented on #143
Yes, to be able to plot you need to use one of the Makie backends directly, see also https://makie.juliaplots.org/stable/.

[2021-06-09 15:38] hyrodium commented on #120
@juliohm Sorry for being late. I couldn't have enough time to deal with this issue. Let's discuss this on Zulip.

[2021-06-09 15:47] juliohm commented on #120
Sure, we can polish these ideas further on Zulip and then if it becomes a pressing issue with clear action items we can reopen it here on GitHub and start working on a PR.

[2021-06-09 15:47] #120 closed, assigned to nobody

[2021-06-09 19:46] juliohm opened #144 "Rename subsets to indices"
For consistency across the codebase we should:

1. Rename `subsets(partition)` to `indices(partition)`
2. Rename `viewindices(object, geometry)` to `indices(object, geometry)`

[2021-06-16 18:33] #141 closed, assigned to nobody

[2021-06-16 20:10] juliohm commented on #99
Fixed on master.

[2021-06-16 20:10] #99 closed, assigned to nobody

[2021-06-17 13:08] #136 closed, assigned to nobody

[2021-06-17 13:54] juliohm opened #145 "Add split for polygons"
It would be useful to define a split function that takes a polygon (possibly with holes), builds bridges to transform it into a single outer boundary, and then splits it into two "halves" with an algorithm similar to the algorithm implemented in Dehn1899. This split operation can be used to speed up the `hasintersect` implementation which currently checks all triangles in a triangulation. We shoul

[2021-06-17 14:30] serenity4 commented on #145
So the idea is to use this feature to apply a dichotomy for finding intersections?

[2021-06-17 15:25] juliohm commented on #145
Exactly, like a binary search on geometries. Currently we just triangulate and query every triangle which is not ideal. We could simply split in half and perform two queries recursively.

[2021-06-17 15:51] juliohm commented on #145
Just to clarify even further, the triangulation is only performed for non-convex geometries. Convex geometries are tested directly with the GJK algorithm.

[2021-06-17 20:09] juliohm commented on #145
The original algorithm I had in mind doesn't work in general, for example in the presence of holes. After we split, there is no clear method to undo the bridges. Perhaps we will need to stick with the triangulation for non-convex geometries for now. If you know some clever split of a polygon with holes into two halves, please let me know. I will close the issue tomorrow otherwise and focus on othe

[2021-07-05 20:20] #145 closed, assigned to nobody

[2021-07-25 06:48] mohdibntarek opened #147 "Iterators make the world a better place"
I think it would be great to have more iterators here.
- Element/face/edge/node iterators for a  grid
- Face/edge/node iterator for an element
- Edge/node iterator for a face, and
- Node iterator for an edge

Is there such functionality already in other packages?

[2021-07-25 08:30] mohdibntarek opened #148 "Should a Segment use a 2-tuple instead of a vector?"
A Segment is currently a wrapper around a vector but its description implies it's a collection of 2 points.

[2021-07-25 11:35] mohdibntarek opened #149 "topology doesn't support CartesianGrid"
[code]

[2021-07-25 11:36] mohdibntarek commented on #149
Renamed the issue.

[2021-07-25 11:42] juliohm commented on #149
We are in the process of adding a method for CartesianGrid. Take a look at GridTopology. You should be able to add a method `topology(grid::CartesianGrid) = GridTopology(size(grid))`. It would be nice if you could submit a PR with this addition and a couple of tests.

[2021-07-25 11:43] juliohm commented on #148
A SVector is a tuple with support to LinearAlgebra. So whenever we are storing objects that will be subject to algebraic calculations, we use a SVector. There is no performance penalty and you can convert back and forth between the two, for example `Tuple(svec)`.

[2021-07-25 11:43] #148 closed, assigned to nobody

[2021-07-25 11:44] juliohm commented on #147
Yes, we have most of these iterators for SimpleMesh already. We are in the process of adding them to CartesianGrid if not available yet. Can you please share some example that is not working?

[2021-07-25 11:52] mohdibntarek commented on #149
Sure, this is great!

[2021-07-25 11:52] mohdibntarek commented on #147
I was looking for an edges iterator for elements so I created #150 .

[2021-07-25 12:57] juliohm commented on #147
If you can point out specific iterators that are not working, we can work on them, and help is super welcome. I will close the issue and we can continue the discussion over Zulip.

[2021-07-25 12:57] #147 closed, assigned to nobody

[2021-07-25 13:23] juliohm commented on #149
@mohamed82008 can I assign this issue to you? It should be easy to fix. We just need the method above and a couple of tests to make sure things are working.

[2021-07-25 13:57] mohdibntarek commented on #149
Sure

[2021-07-25 16:25] mohdibntarek opened #151 "Centroid of domain doesn't weigh the element centroids by their measures"
I am assuming this is by design but should it be?

[2021-07-25 16:44] juliohm commented on #151
That is a good point. Can you double check where the method is being called
before submitting a PR?

On Sun, Jul 25, 2021, 13:26 Mohamed Tarek ***@***.***> wrote:

[2021-07-25 16:53] mohdibntarek commented on #151
Not many places, I think only in the intersection and partition functions.

[2021-07-25 16:53] mohdibntarek commented on #151
The multi-element centroid I mean.

[2021-07-25 19:05] juliohm commented on #151
I am thinking about this. The centroid currently works with any kind of domain, even when the elements are points in a PointSet (i.e. 0 measure). Can you share a pathological case where the current centroid fails badly?

[2021-07-26 02:13] jackbeagley opened #153 "Helper function to return the normal of a triangle"
I have written a function useful for some other code I am writing to calculate the normal of a triangle in three dimensions (normal(t::Triangle{3})), is this something that belongs in Meshes.jl? And if so where?

[2021-07-26 02:44] mohdibntarek commented on #151
Depends on how you define failure. An incorrect centroid is possible. Think of a large element and a very thin one. The centroid returned will be way off its true value.

[2021-07-26 10:29] juliohm commented on #153
Definitely. It would be nice to have this function implemented 💯 Given that we don't have other normal methods implemented yet, I think it is fine to add the function to ngon.jl directly. We can find a different source file later if necessary.

[2021-07-26 10:31] juliohm commented on #151
Yes, I was just wondering about the use cases, but I think using measures as weights makes sense in general. Happy to review a PR with this adjustment. 👍🏽

[2021-07-26 11:17] #149 closed, assigned to mohdibntarek

[2021-07-26 22:10] jackbeagley opened #156 "utils.jl tests not included"
`utils.jl` is not included in `testfiles` in `runtests.jl`:

`testfiles = [
  "points.jl",
  "angles.jl",
  "polytopes.jl",
  "primitives.jl",
  "multi.jl",
  "collections.jl",
  "connectivities.jl",
  "topologies.jl",
  "toporelations.jl",
  "mesh.jl",
  "meshdata.jl",
  "traits.jl",
  "paths.jl",
  "distances.jl",
  "neighborhoods.jl",
  "neighborsearch.jl",
  "supportfun.jl",
  "laplacian.jl",

[2021-07-26 22:36] #156 closed, assigned to nobody

[2021-07-26 23:30] juliohm commented on #153
Fixed on master.

[2021-07-26 23:30] #153 closed, assigned to nobody

[2021-07-27 01:03] jackbeagley commented on #125
So I have written most of the code for this, but while testing `intersect(segment, mesh)` or equivalently `intersect(ray, mesh)`. I found that `SimpleMesh` is not a subtype of `Geometry`, which seems strange to me, surely an object made up of `Geometry` is itself `Geometry`? At any rate is it best to define another method for `intersect`, something like `Base.intersect(g::Geometry, m::SimpleMesh)`

[2021-07-27 01:10] juliohm commented on #125
Currently we have methods for `intersect(geometry, domain)` [here](https://github.com/JuliaGeometry/Meshes.jl/blob/6d5d758adf98bf75545e4ab0b89561b7e4d11a31/src/intersections.jl#L164). The current design makes a distinction between collections of geometries (a domain) such as meshes and the geometries themselves. We can always revise the design if there is a good reason. Experience has shown that w

[2021-07-27 01:18] jackbeagley commented on #125
That method only checks if there is an intersection though (returning `true` or `false`), rather than returning the actual intersection. Seems like the way forward might be to implement `Base.intersect(g::Geometry, d::Domain)`?

[2021-07-27 01:21] juliohm commented on #125
Yes, I think it is a good way to get it started.

On Mon, Jul 26, 2021, 22:18 Jack Beagley ***@***.***> wrote:

[2021-07-27 10:37] juliohm commented on #18
Update. We can now sample points homogeneously on an initial mesh with blue noise. That means that we can enforce a minimum distance between points and consequently produce good triangles during tesselation.

Next step consists of introducing a `tesselate(pointset, method)` function and adding methods. We can introduce a separate package to integrate existing tesselation libraries written in other

[2021-07-29 14:02] mohdibntarek opened #159 "Lattice meshes"
It would be great to support lattice meshes. For example, a lattice can be a simple mesh or Euclidean grid of elements where each element is of equal size and is actually a mesh itself. All the lattice elements must have the same pattern though.

[2021-07-29 14:03] mohdibntarek commented on #159
There are https://github.com/Gregstrq/LightLattices.jl and https://github.com/JuliaPhysics/Lattices.jl which seem active.

[2021-07-29 14:14] juliohm commented on #159
Can you elaborate on the differences? I thought that the GridTopology
behind the CartesianGrid is what people usually call lattices in other
fields.

On Thu, Jul 29, 2021, 11:03 Mohamed Tarek ***@***.***> wrote:

[2021-07-29 14:18] mohdibntarek commented on #159
Well lattices have a high level GridTopology but the element can be of arbitrary structure. Think of a GridTopology of turtles.

[2021-07-29 14:20] juliohm commented on #159
But how do you think such structures could be useful in the context of
Meshes.jl? Also isn't the GridTopology already agnostic to element types ?

On Thu, Jul 29, 2021, 11:18 Mohamed Tarek ***@***.***> wrote:

[2021-07-29 14:23] mohdibntarek commented on #159
Well GridTopology doesn't care about the nodes or faces inside the element so yes it is element-agnostic in that sense. What I want is something that is a GridTopology of FullTopologies sort of. Then I can iterate over the elements inside a lattice element or inside all the lattice elements.

[2021-07-29 14:32] mohdibntarek commented on #159
As for usefullnes, it is useful in a topology optimization setting where I want to optimize the micro-structure of a design/shape. So I optimize the element design and then build a mesh out of this custom element and simulate the physics of the whole structure.

[2021-07-29 14:33] mohdibntarek commented on #159
I think a custom element type is probably the way to go.

[2021-07-29 14:48] juliohm commented on #159
Yes, I think that is a bit out of scope for Meshes.jl given that it is agnostic to applications. Maybe the lattice concept turns out to be useful in a more general context later on and then we can reconsider adding it here 👍🏽 Given that there are packages with the functionality already available I think you can start combining the concepts in a separate package and then when something is more conc

[2021-07-29 14:48] #159 closed, assigned to nobody

[2021-07-29 21:31] jackbeagley opened #160 "Instantiate Segments with point, direction and length"
For a project I am working on it is more intuitive for me to describe segments as a starting point, direction and length. Would creating segments in this manner be a welcome feature in Meshes.jl?

[2021-07-29 21:41] juliohm commented on #160
I think it is a bit unnatural to instantiate a segment like this. You should probably create a helper function locally to make the conversion: `create_segment(start, dir, len) = Segment(start, start + len*dir)`

[2021-07-29 21:42] juliohm commented on #160
Maybe you are interested in a `Ray` instead?

[2021-07-29 21:57] #160 closed, assigned to nobody

[2021-07-30 00:15] jackbeagley commented on #160
I definitely want a segment, mostly for the fact they have a finite length, will just use a local helper function, that's easy. Cheers!

[2021-08-08 12:44] zekeriyasari opened #161 "Constructors with Integer literals should convert to floating point coordinates"
If I try to sample from a triangle whose vertices are float points, nothing is wrong.
[code]
However if types of the vertices are integer, then I get a DomainError.
[code]
I think this looks awkward and worths opening an issue here,

[2021-08-08 12:58] juliohm commented on #161
Thank you for reporting the issue. I think we need to consider converting integer literals to floating point numbers in some of the Point constructors. We have many users reporting issues like that because we assume float point arithmetic in many places.

Could you help submitting a PR to improve the Point constructors? Whenever someone types `Point(1, 2)` this should be converted to `Point(1., 2.

[2021-08-11 12:43] GunnarFarneback commented on #161
I guess this is another manifestation of the same problem:
[code]
Maybe useful as an additional testcase.

[2021-08-11 12:45] juliohm commented on #161
That is true. I will rename the issue to be more general. We definitely need a fix for this.

[2021-08-11 16:33] juliohm commented on #144
Fixed on master.

[2021-08-11 16:33] #144 closed, assigned to nobody

[2021-08-20 10:54] henry2004y opened #166 "meshdata construction display error and questions"
Hi,

I encountered some display issue when playing with `meshdata`:
[code]
[code]
This is slightly strange since dictionary key of 3
[code]
seems ok
[code]
but not key 0 or 1.

---

Another question is about the size of attached data. For example, as shown in the manual, the data does not necessarily have to be of the same size as the mesh, whether it's the number of vertices or elements:
[code]
T

[2021-08-20 11:02] juliohm commented on #166
Please use the Zulip channel for questions, I am happy to answer there.

Regarding your IO issue, it is because you are using an invalid table `3 => (t = 1,)`. First you have a 1D domain made of line segments so you can't attach data to 3D geometries (`3 =>`). Second, the column `t = 1` is not valid. A column is an iterable collection of numbers not a scalar.

[2021-08-20 11:02] #166 closed, assigned to nobody

[2021-09-07 17:25] juliohm opened #167 "Missing Makie recipe for Box"
We need a recipe for Box in MeshViz.jl. This could be accomplished by simply providing a method to convert Box to Quadrangle or Hexahedron.

[2021-09-07 17:26] juliohm opened #168 "Add transparency option to Makie recipes"
We need to add an option in MeshViz.jl to plot with transparency.

[2021-09-07 20:25] juliohm opened #169 "Fix offset in Makie recipe for data on CartesianGrid"
CartesianGrid and image data should align perfectly, and that is not the case currently.

[2021-09-08 00:42] juliohm commented on #169
Fixed on master.

[2021-09-08 00:42] #169 closed, assigned to nobody

[2021-09-08 20:24] xiuliren opened #170 "compilation error"
I am using latest Julia 1.6.2, but can not install and compile Meshes. This prevent me to use Makie.

[code]

[code]

[2021-09-08 20:25] juliohm commented on #170
Please double check your Julia environment. I just installed the latest stable release of Meshes.jl in a clean environment on Julia v1.6.2 and everything worked fine.

[2021-09-08 20:25] #170 closed, assigned to nobody

[2021-09-09 02:15] xiuliren commented on #170
yes, it works after I removed the whole `.julia` folder and do a fresh install.
Somehow, I got this error again after installing JuliaDB. JuliaDB forced some version of packages and that might caused this problem.

it works again after removing JuliaDB

[2021-09-17 02:04] goretkin opened #171 "promotion of underlying scalar type"
[code]

the idea of promotion comes to mind, but `promote(::Point, ::PolyArea)` doesn't make sense, since it "Convert all arguments to a common type, and return them all (as a tuple)."

Here is a rough idea of how this could work:

[code]

result
[code]

[2021-09-17 16:21] juliohm commented on #171
We are still undecided on what is the best approach here. Throw an error to enforce maximum speed and non-intended promotions or provide all these conversions to end-users. I've been working with the first approach implementing the algorithms and it seems to work fine on the expense of more careful treatment of coordinate types in functions.

I think we can sort this out after the coordinate refer

[2021-10-19 03:12] deltaeecs opened #177 "SimpleMesh fails with generic Vector{Connectivity}"
With
`vertices = Point3[(0, 0 , 0), (1, 0, 0), (1, 1, 1), (0, 1, 0)]`
`elements = connect.([(1,2,3,4),(3,4,1)], [Tetrahedron, Triangle])`
`SimpleMesh(vertices, elements)`

I got output

of type FullTopology{Connectivity{Tetrahedron, 4}}
Stacktrace:
 [1] SimpleMesh (repeats 2 times)
   @ C:\Users\delta\.julia\packages\Meshes\LXhFZ\src\mesh\simplemesh.jl:20
[inlined]
 [2] SimpleMesh(points::Vector{P

[2021-10-19 10:40] juliohm commented on #177
Thank you for reporting the issue @deltaeecs , it seems like a simple issue with inner vs. outer constructors in SimpleMesh + FullTopology, but I will try to find the time look at it soon.

@serenity4 do you have any free time available to take a look at it today? I ran the example quickly in the debugger and for some reason the Julia compiler is trying to call a convert method for `FullTopology`

[2021-10-19 11:38] serenity4 commented on #177
I am a bit busy at the moment but I might be able to take a look at it this week-end.

[2021-10-20 00:54] juliohm commented on #177
@deltaeecs feel free to submit a PR if you have time and knowledge to fix the issue. We are both quite busy this week and so will only be able to take a look at this over the weekend.

[2021-10-20 03:27] deltaeecs commented on #177
I find that this bug happens when mixed meshes are used in Connectivity, like triangle and  tetrahedron/tetrahedron.
The _elms_ in  FullTopology will just count the 3D ones when using mixed Connectivity.
Therefore I located the problem in the bolded line below.

`
But I'm not sure what does _elms_ exactly mean here, and therefore unable to fix it. Could you provide some tips here so that I can con

[2021-10-20 07:35] deltaeecs commented on #177
Sorry for the incomplete conclusion above, it seems to be a convert related problem as you mentioned earlier.
I tried this
[code]

it outputs correct results

  6 vertices
    └─Point(0.615631852114589, 0.8805637239819214, 0.8934766577896559)
    └─Point(0.3245135056703887, 0.13901388286531857, 0.7539999536877902)
    └─Point(0.5667319178567357, 0.8999722406298878, 0.40825801340369283)
    └─Point

[2021-10-20 11:28] juliohm commented on #177
Thank you @deltaeecs, I am also wondering why the convert method is being called here given that the type of the field in `SimpleMesh` is a parameter `TP <: Topology` and should accept any type of `FullTopology` even the one with heterogeneous types of elements.

Notice that the code also fails when you replace `Tetrahedron` by `Quadrangle`, and that discards the hypothesis that the bug is specifi

[2021-10-20 12:30] serenity4 commented on #177
I had a brief look and defining `Base.convert(::Type{T}, t::T) where {T<:Topology} = t` seems to fix the issue.
I have no idea why this overload is necessary though, as we already have `Base.convert(::Type{T}, ::T)` in `Base`. Looks like the `convert` method you linked is indeed found to be more specific, which expectedly triggers a bug.

[2021-10-20 13:50] juliohm commented on #177
Interesting @serenity4, should we double check with the community why the conversion is being attempted by the compiler before we submit a fix here? I also find it strange that we need to manually define a conversion method for Polytope given that the Base method is a catch-all method.

[2021-10-23 20:55] juliohm commented on #177
@serenity4 I tried adding the convert method as you described but it didn't fix the issue for me. Could you please double check?

[2021-10-24 08:15] serenity4 commented on #177
Oh, indeed, sorry the overload should be for `FullTopology`:
[code]

[2021-10-24 08:25] serenity4 commented on #177
MWE for the issue:

[code]

[2021-10-24 08:39] serenity4 commented on #177
Posted on [Discourse](https://discourse.julialang.org/t/specificity-of-binary-method-with-diagonal-type-specification-for-dispatch/70281). There's probably a reason for this behavior, but I have no idea what would be the logic to back this up.

[2021-10-25 18:35] serenity4 commented on #177
Alright, so it seems diagonal type restrictions are less specific than subtype relations. An alternative and possibly better fix for the issue is to change [this line](https://github.com/JuliaGeometry/Meshes.jl/blob/master/src/topologies/full.jl#L59) with `function Base.convert(::Type{FullTopology}, t::Topology)`. It would make sense to me as we don't know what connectivity type will be present in

[2021-10-25 19:17] juliohm commented on #177
Awesome, thank you for the help. Mind submitting a PR fixing all convert
methods for Topology types?

On Mon, Oct 25, 2021, 15:35 Cédric Belmant ***@***.***> wrote:

[2021-10-25 21:58] #177 closed, assigned to nobody

[2021-10-27 04:07] ErickChacon opened #182 "Does it exist a function to sample irregular points from a chain?"
Hi, thank you for the effort on *Meshes.jl*. I was considering to use it for a project I am working on and I would appreciate if you can answer the following questions.

- Is there a function to sample points irregularly from a segment? I was able to do it with something like
[code]
but is that it the intended approach?
- Is there a function to sample points irregularly from a Chain? I thought the

[2021-10-27 13:05] juliohm commented on #182
The `Segment` supports evaluation at a parameter `t` so you can write `s.(0.0:0.1:1.0)` to get regularly spaced samples.

Regarding irrregularly spaced samples, we first need to add a method for `Segment` similar to this one for `Triangle`:

https://github.com/JuliaGeometry/Meshes.jl/blob/126817df414f80b619a093e72e84e313a96b2d13/src/sampling/homogeneous.jl#L29-L40

Can you submit a PR with this fe

[2021-10-27 17:02] ErickChacon commented on #182
Great! I will be working on this then. I think it will be something like the following?

[code]

[2021-10-27 22:20] ErickChacon commented on #182
For the case of sampling from a chain. A homogenous sampling could be achieved by sampling the segments proportionally to their lengths and later the points from the selected segments. Is that the approach you were thinking of? For example the following works.

[code]

![example](https://user-images.githubusercontent.com/7862458/139155430-98ff8ca1-442f-4632-889e-ae7c158c7f9d.png)

I can try to wri

[2021-10-27 22:46] juliohm commented on #182
Exactly the approach I had in mind. After the first PR is merged, we can then start a new PR that adds a method for Chain. The method could simply do `gset = Collection(collect(segments(chain)))` and call the homogeneous sampling method already defined for geometry sets.

[2021-10-28 00:55] ErickChacon commented on #182
I just tested this and it works as expected! I need to explore more this package!

[2021-10-28 01:05] juliohm commented on #182
We can finish that PR and start a new one with this method for Chain. Also, happy to review the other PR with a method in for Segment 👍🏽 :)

[2021-10-28 14:34] ErickChacon commented on #182
I probably should close this issue given that the feature has been included with PR #183 and #184.

[2021-10-28 14:34] #182 closed, assigned to nobody

[2021-10-28 17:38] ErickChacon opened #185 "\in method for Point in Segment"
This method is missing. However, this can be easily achieved by defining a segment with the same point:

[code]
I am not sure if that it is the right approach, might be better to have methods for Point with Segment, and use it in Segment with Segment?

[2021-10-28 17:40] juliohm commented on #185
Yes, I agree that using a complicated intersection algorithm to find if a point is in a segment feels like a big hammer to solve a small problem. If you know a more specific algorithm that is more efficient as well, please use that instead.

[2021-10-28 17:44] ErickChacon commented on #185
Ok, I will consider that. BTW, do you have access to the paper used for segments "A robust method for calculating
  the simplicity and orientation of planar polygons"?

[2021-10-28 17:51] juliohm commented on #185
I present to you the awesome SciHub :D

https://sci-hub.ru/

You can type in any DOI, title, etc and it will return the paper with high chance.

[2021-10-28 17:57] ErickChacon commented on #185
I could not access it previously. Anyway, I think it would be better to start with a collinear method? That is probably being used for the intersection of segments already.

[2021-10-29 00:25] juliohm commented on #185
Feel free to choose a simple method, the simpler the better. We value performance and correctness, and if it is simple, that is the best.

[2021-11-03 15:57] deltaeecs opened #187 "SimpleMesh failed when types of inputs are AbstractVector{<:Point} and ::TP"
When I construct a volume cell with view of points and then use function **_boundary_** to generate its boundaries
[code]
I get error message
[code]

Clearly **SimpleMesh** does not accept view, I can fix it by modifying **SimpleMesh** to
[code]
But will this lower the performance? Is there a better way?

[2021-11-03 16:08] juliohm commented on #187
I am surprised how you are finding these corner cases 💯 I don't know why the default constructor of SimpleMesh is not taking care of the conversion from view to actual vector. Asking our Julia expert @serenity4 for guidance =)

A better quick fix would be to call the `collect(t.vertices)` in the boundary method, but let's see if someone else knows why the conversion didn't happen.

[2021-11-03 16:10] juliohm commented on #187
Alternatively, you can add an extra type parameter

[code]

 so that any vector is accepted without performance penalties. Mind submitting a PR?

This type is quite mouthful but I think that is it.

[2021-11-04 01:24] deltaeecs commented on #187
I'm working with electromagnetic problems,  the basis functions are constructed on the boundaries of tetrahedron and hexahedron, therefore I need Meshes to construct the mesh and then extract there boundaries. Which is the reason I met these bugs 😄.

I'll have a try and submit a PR if it works~

[2021-11-04 02:14] deltaeecs commented on #187
Actually it works, but I'm still confused about why it's better than this
[code]

[2021-11-04 02:17] juliohm commented on #187
`V<:AbstractVector{Point{Dim,T}}` is Julia's way of saying: `V` should be inferred by the compiler as any subtype of `AbstractVector{Point{Dim,T}}`. If you just write `points::AbstractVector{Point{Dim,T}}` directly in the field the compiler won't try to figure out the type.

[2021-11-04 04:02] jackbeagley opened #189 "`origin` function for `Plane`"
I am just working on a pull request for `intersecttype(s::Segment{3,T}, p::Plane{3,T}) where {T}` and it has occurred to me that I want to be able to access the fields of `Plane`. For calculating the intersection between a segment(/line/ray) and a plane, the origin and normal of the plane is needed.

@juliohm what do you think about two functions `origin` and `normal` for planes, defined as:
[code

[2021-11-04 06:42] deltaeecs opened #193 "Measure function for Hexhedron incorrect."
**measure** function for Hexahedron outputs wrong results when the input hexahedron is not a regular cube
The correct one should be divided like this
![image](https://user-images.githubusercontent.com/48714525/140268304-3e1cce17-5243-412e-a797-4cec8c3998f3.png)

More, the test case in lline 145 of
https://github.com/JuliaGeometry/Meshes.jl/blob/master/test/polytopes.jl , which is
[code]
is incorre

[2021-11-04 09:38] #189 closed, assigned to nobody

[2021-11-04 09:59] juliohm commented on #193
I divided the hexahedron as illustrated in the picture, maybe some indices were flipped? Notice that our ordering convention for indices is different. We make the bottom and top faces with CCW orientation.

Regarding the test, you are correct, we should fix it 👍🏽  Could you please submit a PR fixing this issue?

[2021-11-04 10:15] deltaeecs commented on #193
okay, I'll fix it with the SimpleMesh one

[2021-11-04 10:16] juliohm commented on #193
Please keep the two fixes separate, I mean different PRs. 👍🏽

[2021-11-04 10:54] deltaeecs commented on #193
By two branches? I’m not familiar with git... 🤣

[2021-11-04 10:59] juliohm commented on #193
Yes, you may find this link useful: https://github.com/firstcontributions/first-contributions

You can create two separate branches and push to your fork, then start two separate PRs.

[2021-11-05 01:58] #187 closed, assigned to deltaeecs

[2021-11-05 02:04] juliohm commented on #185
@ErickChacon any update on this?

[2021-11-05 20:31] #193 closed, assigned to deltaeecs

[2021-11-06 08:36] GuoHaoxuan commented on #84
For `Triangle` and `Quadrangle` is should be solved via barycentric coordinate system. (Same as `Segment`)

But in `Triangle`, it will has 2 parameters due to u+v+w=1. Which point is special that not included in the parameters in a triangle? Is it reasonable to use the 2 points in the front?

It is the same question in `Quadrangle`.

[2021-11-06 11:05] juliohm commented on #84
@HaoxuanGuo the first two points of the triangle are a good simple choice :) Would you mind submitting a PR for that? We have barycentric coordinates in some methods like [this one](https://github.com/JuliaGeometry/Meshes.jl/blob/982b902e635c1789850400cdcd3b2781592c8c67/src/sampling/homogeneous.jl#L38-L44). If you could add a functor method to the `Triangle` with two arguments and could replace th

[2021-11-07 12:04] #84 closed, assigned to nobody

[2021-11-08 14:35] GuoHaoxuan opened #197 "Why Point in Segment restrict in 2d?"
https://github.com/JuliaGeometry/Meshes.jl/blob/54a9d967fd45faf31bf8146ffa6385b6ad434962/src/polytopes/segment.jl#L37-L43

I think it is method is compatible in 3d. Maybe it is either OK in higher dimension?

[2021-11-08 14:39] juliohm commented on #197
I think the cross-product for 3D vectors returns a vector so we would need to update the code accordingly. Could you please confirm @ErickChacon ?

[2021-11-08 14:40] juliohm commented on #185
This is fixed on master.

[2021-11-08 14:40] #185 closed, assigned to ErickChacon

[2021-11-08 14:50] GuoHaoxuan opened #198 "Is it appropriate to add the BVH algorithm to this package?"
The BVH algorithm is used to calculate the intersection of the ray and the scene. Cache all objects in the scene, and calculate for different `Ray`s.

It is a bit similar with #125 . But this is a large project. Is it appropriate to be added in this package?

[2021-11-08 14:55] juliohm commented on #198
Can you please provide a reference to the method? Any paper or book describing it?

[2021-11-08 15:10] GuoHaoxuan commented on #198
@juliohm Sorry I have not found the reference on the principle algorithm instead of some improvements.

What about

Lauterbach, Christian, et al. "Fast BVH construction on GPUs." Computer Graphics Forum. Vol. 28. No. 2. Oxford, UK: Blackwell Publishing Ltd, 2009.

and

https://pbr-book.org/3ed-2018/Primitives_and_Intersection_Acceleration/Bounding_Volume_Hierarchies

[2021-11-08 15:22] GuoHaoxuan commented on #167
I tried this and find it works perfectly.

[code]

No error. Was it forgot to close?

[2021-11-08 15:28] GuoHaoxuan commented on #168
I think transparency is a part of color.

[code]

Works well.

[2021-11-08 15:29] juliohm commented on #167
Oh yes, we fixed that one as well :) Thanks for going through the issues, really helpful.

[2021-11-08 15:29] #167 closed, assigned to nobody

[2021-11-08 15:36] GuoHaoxuan commented on #161
Is it possible that some users really want to use integer types? Such as in a grid?

[2021-11-08 15:36] juliohm commented on #168
I think an attribute like `transparency` or `alpha` would still be useful to do this behind the scenes for the user. This is particularly useful when we are visualizing a full mesh and want to color elements with a given color each.

Right now we are specifying `color` as a generic attribute that can contain either Colors.jl or normal `Number` values. I think we need to solve this issue in two ste

[2021-11-08 15:40] juliohm commented on #161
Yes, that is the entire reason why we are taking so long to decide on this one. I think for integer coordinates we could provide a separate function. The cases are very rare that people actually need to create with discrete coordinate systems. Maybe these exotic use cases can be properly handled with what we already have like the `topology(grid)`.

[2021-11-08 15:46] ErickChacon commented on #197
Hi @juliohm. Yes, we only need to compare all cross-product elements with zero for the 3d case. I was going to do that, but also I had to start integrating my work with Meshes.jl. For higher-dimensional cases, the code does not work because the cross-product is only defined for 3d (but it is also adapted to 2d). For higher dimensions, I think we need to compute all cross-products for all possible

[2021-11-08 15:47] ErickChacon commented on #197
I can update the 3d case today, and work on higher dimensions later.

[2021-11-08 15:49] juliohm commented on #197
Thank you @ErickChacon 💯

[2021-11-09 01:21] #197 closed, assigned to nobody

[2021-11-09 02:26] thchr commented on #54
I was having a look at the code in `src/intersections/[...].jl` and this design struck me as odd. While there are some cases where two types might be warranted (e.g., multiple intersections vs. single), it does seem that most of these cases could be handled by having a (possibly input-type dependent) intersection type akin to
[code]
or, if there are finitely many possible intersection types and po

[2021-11-09 10:57] juliohm commented on #54
Agree @thchr that we need to refactor the `intersecttype` somehow to avoid the type instability. It is making our triangulation algorithms much slower than needed for example. The main challenge here is coming up with a design that is easy to maintain and that overcomes this limitation of the language with multiple return types.

I was thinking about making `intersecttype` a C-like function that r

[2021-11-09 11:07] Arkoniak commented on #54
One can try inplace calculations approach: https://discourse.julialang.org/t/how-to-work-with-type-unstable-functions/56389

[2021-11-09 11:08] juliohm commented on #198
This is a data structure for accelerating intersection between multiple objects, right? I am used to R-trees and minimum bounding rectangles (MBRs): https://en.wikipedia.org/wiki/R-tree Maybe the BVH is a similar data structure?

Julia has https://github.com/alyst/SpatialIndexing.jl for R-trees, but I didn't use the package seriously yet. What we could do is experiment with the concept and then fi

[2021-11-09 11:15] juliohm commented on #54
That is a very clever trick @Arkoniak 👏🏽 If I understood correctly you are forcing a function call at the return site to force re-evaluation of types? So we could pass `identity` as the first argument in place of `f` and the intersection type will be returned with the correct type inferred?

[2021-11-09 11:17] juliohm commented on #54
Appreciate if you can help with an initial PR so that we can assess the design and performance. We have a benchmark bot that we can run in PRs to compare the performance compared with master.

[2021-11-09 12:03] thchr commented on #54
If you pass `f = identity`, the type-instability will just reappear: it only works if `f` maps the different types to a single type (in the discourse example, an `Int`). So I think it is not applicable here, unfortunately (unless one depends on a fully functional interface for processing the results of whatever the intersection type is).

I think a reasonable design could be as indicated in my `Ma

[2021-11-09 12:12] GuoHaoxuan commented on #198
@juliohm Yes. This is a data structure for accelerating intersection between multiple objects. Compared to R-tree, is is not balanced.

In traditional case, it only contains `Triangle{3}`. But it may could be designed more generic. I think warping it over a separate package is better.

[2021-11-09 12:12] #198 closed, assigned to nobody

[2021-11-09 12:15] thchr commented on #54
Also worth noting that it seems inevitable that the users need to branch on the kind of intersection type themselves: e.g., there's no generic way to handle, say, a face intersection vs. a point intersection - you'd definitely want to do very different things in the two situations.

[2021-11-09 13:04] juliohm commented on #54
Can we try an `(enum, buffer)` where `enum` is a `@enum` const and `buffer` is a `BitVector` with a low-level representation of the geometry? That way we could stabilize the return type of `intersecttype`. The problem is that at some point later we will need to materialize the `buffer` into a struct using the `enum` information, and the type instability issue will be back?

[code]

Is there really

[2021-11-09 13:41] serenity4 commented on #54
The solution @Arkoniak mentions is probably the best one. In this way you can fully leverage multiple dispatch by providing a function that has multiple methods depending on the type of intersection. Of course, if the return type of the function you are providing depends on the intersection type, and you need the return value, you'll still have type instability occurring (though on another level).

[2021-11-09 13:49] juliohm commented on #54
@serenity4 I am not sure I followed the difference between what we currently have and the proposed approach by @Arkoniak. You mean that we should create a first argument `f` and always return `f(CrossingSegments(p))` in our `intersecttype` methods? That way end users will be able to pass in a specific `f` for what they want to achieve with the intersections later? Appreciate if anyone can clarify

[2021-11-09 13:56] serenity4 commented on #54
Yep, if I understood you right that's the idea. Having a `intersecttype(f, seg1, seg2)` and possibly a `intersect(f, seg1, seg2)` that would call `intersecttype(f, seg1, seg2)`. We can have keep the current methods by providing `identity` by default.

[2021-11-09 15:24] ErickChacon opened #201 "Can we expand a CartesianGrid adding vertices to the left?"
Imagine that you define a CartesianGrid.
[code]
You do some operations, but now you need to do another operation with one additional vertex to the left. I can create the new grid as follows:
[code]
In theory, there are 201 vertices that are common in both grids, but in practice they are not because of computational precision.
[code]
For my use case, this leads to problems. There is no problem if y

[2021-11-09 16:05] ErickChacon opened #202 "RectilinearGrid type"
Would be of interest to have a RectilinearGrid type? See an example at https://en.wikipedia.org/wiki/Regular_grid. This type of grid might not be so useful for applications, but it can be used to test the flexibility of models without further complications.

[2021-11-09 19:50] thchr commented on #54
I think the type-based encoding of intersection kinds is an ill-fated approach. Basically, when encoding multiple (say, >2) outcomes in the type-domain, you are really just using multiple dispatch as a very expensive branching strategy - this is analogous to the warning [raised for misusing parametric types](https://docs.julialang.org/en/v1/manual/performance-tips/#The-dangers-of-abusing-multiple-

[2021-11-09 20:11] juliohm commented on #54
@thchr I think this imperative style could be achieved with the other solution because of Julia's do syntax. Assuming we have implemented the function `intersect(f, t1, t2)` with `f` as the first argument as in your example, we can write:

[code]

So syntax-wise we are not missing anything I guess. Let's experiment with all ideas and see what is more Julian and nice to play with. :)

[2021-11-09 20:12] serenity4 commented on #54
Indeed, if you pass in `identity`, that defeats the whole purpose of the optimization in the first place. The function should return a smaller union (ideally just a single type, e.g. `Float64` or `Nothing`) for this setup to be useful.

Furthermore, you can have a function with just one method, specialization will take care of the rest. It is up to the user to pass in a function with a method for

[2021-11-09 20:53] juliohm commented on #201
You probably have good reasons for this feature in your use case. I am not familiar myself with the StepRangeLen mechanism that leads to robust numerical comparisons. If you can sketch a PR, we can see how much of the code would need to change in order to accommodate the feature.

Before starting the PR, can you please share examples of this API you have in mind for constructing grids with offsets

[2021-11-09 20:59] juliohm commented on #202
Yes, that would be a nice addition. We should think carefully about it because maybe we can implement both rectilinear and curvilinear in a single struct. That could save a lot of code repetition. Do you have experience implementing these grid types?

[2021-11-09 21:49] ErickChacon commented on #201
Thanks for kindly receiving feature requests. The idea behind `StepRangeLen(ref::R, step::S, len, [offset=1])` is to return a range `r` such as the reference value `ref` is not necessarily the origin but it is equals to `r[offset]` and is used as a reference value to compute any other element of the range.  For example:

Using an `offset = 1` is the same as the usual range.
[code]
Using an `offset

[2021-11-09 22:01] ErickChacon commented on #202
I only have experience with rectilinear grids in a naive way (not as sophisticated as in `Mehes.jl`). The way I construct them, is by defining a minimum Point, a maximum Point, and a tuple of knots for each axis. However, I have not thought about methods that might be required apart from the computation of vertices and centroids.

[2021-11-09 22:15] ErickChacon commented on #201
Once the CartesianGrid accepts an `offset` value, then we can create an expand method as follows:
[code]