[2021-11-10 11:21] juliohm commented on #202
I think we need to define ranges for each dimension an a mapping function that takes these ranges and converts to actual points on the manifold. I think this feature is not high-priority compared to other open issues, but good to keep in mind in case someone finds time to work on it.

[2021-11-10 11:37] juliohm commented on #201
Thanks, let me see if I understood it correctly. The proposal consists of changing the internal `origin` field of the `CartesianGrid` struct to a `reference` + an `offset` field, and then adjust the implementations in terms of `StepRangeLen`? It sounds like a nice generalization and we don't loose anything in terms of memory space. Happy to review a PR :)

Regarding the `expand` function, maybe it

[2021-11-10 13:03] ErickChacon commented on #201
@juliohm that is exactly the proposal, use `reference` and `offset` instead of `origin`. With respect to the `expand` function, no problem at all, I can define that for my use case. I will start the PR soon.

[2021-11-10 13:18] Arkoniak commented on #54
I think `identity` function is fine, at least for backward compatibility. I mean, one can just define
[code]
and thanks to multiple dispatch both versions will work just fine. One can even set up `intersect(f, t1, t2)` and `f` in such a way, that resulting `intersect(t1, t2)` returns `IntersectionEnum` or any other structure you desire. It'll kill two hares with one stone, a fast version with more

[2021-11-10 13:23] juliohm commented on #54
I will try to work on this additional `f` argument in the following days because it is backward compatible with what we currently have. Then we can assess performance with the FIST implementation which is a very good test bed for intersection of segments. If the problem is solved performance-wise we can release a minor version with the improvement along with other breaking changes that are already

[2021-11-11 07:34] mdmaas commented on #106
Hi! Good job on this package. I'm interested in joining efforts, if the very long-term idea is to create a pure-julia version of CGAL ;-). I'm not an expert in Computational Geometry, but always liked the field.

For what is worth, ExactPredicates.jl looks more promising than GeometricalPredicates.jl. It implements robust predicates with Interval arithmetic and code generation. It looks like the v

[2021-11-11 10:27] juliohm commented on #106
Amazing @mdmaas , looking forward to your contributions 😃 The ExactPredicates.jl package indeed looks very interesting and self-contained 💯 Appreciate if you can compare our current method for `point \in polygon` with PolygonInBounds.jl, and if the latter method has major benefits, we can figure out how to incorporate it here.

[2021-11-11 11:06] #161 closed, assigned to nobody

[2021-11-11 11:10] juliohm commented on #125
@jackbeagley did you solve this issue already or still missing some methods? :)

[2021-11-11 11:12] juliohm commented on #93
Hi everyone, any update on this integration? It would be really nice to have all these spline models united :)

[2021-11-11 14:56] GuoHaoxuan opened #206 "force Float64 for Ray"
Due to `Ray` use a `Vec{Dim,T}` as its member. #199 not affected `Ray`. But I tried

[code]

as a inner construct method.

Sadly, it not worked. So, I hope someone could tell me why and write the right code for it.

[2021-11-11 15:03] juliohm commented on #206
Yes, I was thinking about `Vec` when you contributed the `Point` improvement. Currently our `Vec` is simply an alias for `SVector` from StaticArrays.jl. What we really need is a custom static vector type following the `StaticArrays.jl` interface where we can force the same conversion to float. They provide a base struct that you can inherit most methods, it would be nice if you could review their

[2021-11-11 15:06] juliohm commented on #206
Maybe this is the parent type we need to use to inherit most methods: https://github.com/JuliaArrays/StaticArrays.jl/blob/fa17430f8c3e6a83551946e830ee40c434d72854/src/StaticArrays.jl#L75

[2021-11-11 16:24] BrianGun commented on #93
i have no objection to the integration but don't have time right now to look at this. Is there somebody working on meshes.jl who wants to take this on?

[2021-11-11 19:07] juliohm commented on #54
The `f` as first argument (or Andrey's trick 😎) worked nicely:

[code]

As we can see the `Any` type is gone, but the new return type is `Union{Nothing,String}`? Appreciate if someone can play with the master branch to clarify where this `Nothing` is coming from.

[2021-11-11 19:13] serenity4 commented on #54
We have `if`/`elseif` branches in `intersecttype` for segments, we need to finish with an `else` (otherwise, if no condition is satisfied for all these branches, you'll get `nothing`)

[2021-11-11 19:21] juliohm commented on #54
Nice, let me try to fix that now.

[2021-11-11 19:25] juliohm commented on #54
Fixed. What kinds of tests should we add now to our test suite to ensure that all these type instabilities are gone? I am considering `isconcretetype` but I wonder if there is a stronger test that checks the internals of the function like `@code_warntype` does.

[2021-11-11 19:53] serenity4 commented on #54
From [this Discourse thread](https://discourse.julialang.org/t/whats-the-usual-practice-about-type-stability-testing-in-packages/64113) it looks like there aren't great tools for that, `Test.@inferred` might be useful but I'm not sure.

[2021-11-11 19:57] serenity4 commented on #54
We can also try `Core.Compiler.return_type`. I think in the case we're trying to infer a concrete type it should do what we want.

[2021-11-12 01:48] mdmaas commented on #106
Hi @juliohm. Indeed, ExactPredicates.jl could be integrated at no cost, just by `using ExactPredicates`. As for PolygonInBounds.jl, I believe the package is a port of a matlab code which is the "simple" version of a state-of-the-art algorithm to solve massive multiple-points-in-multiple-polygons problems, like the ones we often face in geospatial data. I haven't checked which algorithm was impleme

[2021-11-12 20:23] thchr commented on #54
I just wanted to add one more perspective on why I think this approach of encoding each intersection kind as its own type is a bad idea: from a user perspective, it is very undiscoverable; from a developer perspective, it is very tedious to document properly.

Right now, there are 14 subtypes of `Intersection`: as far as I can see, none of them have documentation. To find out what I need to do to

[2021-11-12 20:31] juliohm commented on #54
Are you aware that all intersection outputs implement `get(I)` to get the actual content of the intersection type? So the latest master branch looks like the following inside an algorithm:

[code]

I understand that this current behavior may be difficult to follow for first-time users, and we are still experimenting with ideas. The next minor release will include this improvement we discussed with

[2021-11-12 20:46] juliohm commented on #43
Finally found the time to fix this 🙏🏽 Now we need to wait for some open issues in ReferenceFrameRotations.jl to decide on what to do next.

[2021-11-12 20:46] #43 closed, assigned to nobody

[2021-11-13 10:47] juliohm opened #207 "Make Vec a new type of StaticArrays.jl vector"
Currently our `Vec` type is an alias to `SVector` and that helped us get off the ground and move fast with implementations. The only problem with `SVector` is that it doesn't force `AbstractFloat` coordinates. When the user types `Vec(1,2)` this will generate a vector with integer coordinates and many algorithms will break assuming that the vectors live in R^n.

We need a new definition for `Vec`

[2021-11-13 10:47] juliohm commented on #206
Closing in favor of #207

[2021-11-13 10:47] #206 closed, assigned to nobody

[2021-11-13 15:51] juliohm commented on #54
After the next minor release I would like to consider the following alternative design:

[code]

I think we can assume that any intersection algorithm will always return a list of points in a buffer to be materialized later as a geometry. We only need to give these points some useful meaning via the `TYPE` field. We could for example implement the new `get` as something like:

[code]

Please let m

[2021-11-13 18:40] jackbeagley commented on #125
@juliohm I think everything else is implemented in my fork (for segment and mesh at least), but I'm leaving civilisation tomorrow for four weeks, so even though it's close I just really don't have time to sort it out till then!

[2021-11-14 13:22] juliohm commented on #125
Enjoy your vacation @jackbeagley ! 🎉

[2021-11-14 14:00] juliohm commented on #106
@sjkelly we have ray-triangle intersection now. The algorithm was implemented by @HaoxuanGuo and it seems to be slightly faster than TriangleIntersect.jl. I've added the package to the list above and checked it as done 👍🏽

[2021-11-14 14:02] juliohm commented on #125
@HaoxuanGuo I think we are ready for the grand finale here? We have ray-triangle intersection and can do it for all triangles in a mesh right? The result would be a new mesh with only the triangles intersected?

[2021-11-14 14:11] juliohm commented on #125
I am actually wondering if we should provide such an intersection method between a `ray` and a full `mesh` or let the users do the loop by hand on their scripts. If we provide an intersection method here then the proposed design in #54 would be problematic. Maybe we could assume that users will write `[intersect(ray, triangle) for triangle in mesh]` to get what they need?

[2021-11-14 14:12] GuoHaoxuan commented on #125
@juliohm  Yes, we are only one step away from the finale. But I am thinking about how to complete this last step. Should we treat the mesh as a surface or a solid? If it is a surface, the intersection of the ray and the grid should be a series of points; if it is a solid, it should be a series of line segments. Obviously, intuitively it should be considered a solid, but sometimes the grid is not c

[2021-11-14 14:15] GuoHaoxuan commented on #125
In addition, in most cases. The user should build a scene with multiple grids, and then calculate the intersection of the ray and the scene. The scene is not moving at this time, and there will be many rays. At this point, the scene can be cached with an efficient data structure to make the whole faster. But this should not be a problem we are discussing here, but a problem that needs to be solved

[2021-11-14 14:16] juliohm commented on #125
Very interesting point @HaoxuanGuo. I think we have surface meshes `paramdim(mesh) == 2` and volume meshes `paramdim(mesh) == 3` in our design, so each case would require a different algorithm. I was thinking about the surface case first, which is simpler I think. Still, in the surface case I think we can just let users use our intersection methods between geometries to build intersection in a ful

[2021-11-14 14:26] GuoHaoxuan commented on #125
Users may write code below:

[code]

But `RTree` or others data structures should not be implemented in our package.

If he just want to calculate one ray intersects one mesh, he can write `[intersect(ray, triangle) for triangle in mesh]` easily.

[2021-11-14 14:36] juliohm commented on #125
That is true. We could wrap some of these packages containing efficient data structures implemented in terms of StaticArrays.jl to provide a high-level interface in the future. For now, I think it makes sense to leave this feature to end users, specially because it seems very specific to visualization pipelines. Should we close this issue for now then?

[2021-11-14 14:37] GuoHaoxuan commented on #125
Yes, we should close this issue.

[2021-11-14 14:38] juliohm commented on #125
Closing for now 👍🏽

[2021-11-14 14:38] #125 closed, assigned to jackbeagley

[2021-11-14 16:18] jackbeagley commented on #125
Interesting discussion! @HaoxuanGuo your assumptions were the opposite of mine, my use case was propagating sound waves throughout a basin (an open mesh), so I was looking for a single intersection (a point) and assuming the mesh to be a surface. I think that is more evidence that it should be left to the user though. (Unless we allowed multiple options to choose from in the future?)

Thanks guys!

[2021-11-15 14:20] sjkelly commented on #106
Great! DistMesh and Descartes are now registered as well, so it would be nice to add compatibility to those as well.

[2021-11-16 00:35] juliohm commented on #171
The latest stable release converts all coordinates to `AbstractFloat` so these errors with `Integer` literals are gone for the most part. We still need to fix #207 to fully fix the problem. I will close this issue as a specific case.

[2021-11-16 00:35] #171 closed, assigned to nobody

[2021-11-16 00:40] goretkin commented on #171
I don't know if I understand all of the consequences of converting coordinates to `AbstractFloat`. It seems that it would impose some limitations, like not allowing forward differentiation using dual numbers.

[2021-11-16 00:46] juliohm commented on #171
We only force Integer coordinates to Float64. Any other type will work as
before. The problem with Integer is that it is discrete and only creates
InexactError in algorithms that assume continuous R^n

On Mon, Nov 15, 2021, 21:40 Gustavo Goretkin ***@***.***>
wrote:

[2021-11-16 11:59] juliohm opened #209 "Add Makie recipe for Partition"
This recipe should be easy to implement now that we have recipes for all types of domains working smoothly. We basically need to loop over the partition and plot each subdomain in a loop using different colors.

[2021-11-16 12:04] juliohm opened #210 "Add boundary for all Primitive geometries"
Given a primitive geometry, we should be able to construct its boundary mesh (or geometry). For example, the boundary of a `Ball` is a `Sphere`. The boundary of a `Cylinder` is a `SimpleMesh` with two disks and the wall of the cylinder. We can already sample these geometries using our sampling methods, we just need to connect the dots to return a mesh.

- [x] Box
- [x] Ball
- [x] Sphere
- [x] Line

[2021-11-16 12:07] juliohm opened #211 "Generalize Cylinder geometry to represent oblique cylinders"
Currently our `Cylinder` is right. We need a more general parameterization that allows oblique cylinders:

![image](https://user-images.githubusercontent.com/3345261/141982586-8ca876f9-b81b-41b5-bd61-b276052f21d6.png)

[2021-11-16 23:54] lmejn commented on #135
I'd be happy to have a go at this, but I can't seem to reproduce an incorrect result. Are you referring to the `∠` function? https://github.com/JuliaGeometry/Meshes.jl/blob/f78377cc83cb3dc3976aee425faaf8031de3a6ee/src/angles.jl#L25-L28
Would you able to provide an example of when the angle calculation is incorrect?

[2021-11-17 10:06] juliohm commented on #135
Hi @lmejn , thanks for checking the issue. If I remember correctly we would like to have this angle function behaving like it behaves in 2D. That is, we wanted it to return the angle in a specific orientation, but I guess it depends on arbitrary choices of reference. In 2D when you type `∠(A, B, C)` that is different than `∠(C, B, A)`. Maybe we should forget about this behavior in 3D and always re

[2021-11-19 07:50] GuoHaoxuan commented on #167
@juliohm I found `showfacets` not worked while showing a `Box`. Is this issue should be re-open?

[2021-11-19 08:28] GuoHaoxuan opened #212 "A special mesh can not be shown in MeshViz"
An error occurred when the following mesh was shown and `showfacets=true`.

[code]

Obviously, this is a cube. The following  error is shown.

[code]

The following code can re-show this error.

[code]

[2021-11-19 08:48] GuoHaoxuan commented on #212
Besides, this mesh will get a infinite running without an end. Also, it **COST ALL MY 64GB RAM**. Looks like a dead loop.

[code]

[2021-11-19 10:47] GuoHaoxuan commented on #210
So, what is the method name? Use the `SimpleMesh` construction method? As we know, some geometry has many different represent of mesh. For example, sphere has UV sphere, ico sphere, quad sphere and Goldberg polyhedra. How to choose that?

[2021-11-19 10:54] juliohm commented on #167
It is because the option shows the facets of the mesh, which are the
polytopes with dimension N-1 where N is the parametric dimension. In this
case a 3D box has 2D facets that are already shown. To see the edges you
can viz(boundary(box), showfacets=true)

On Fri, Nov 19, 2021, 04:51 Haoxuan Guo ***@***.***> wrote:

[2021-11-19 10:58] juliohm commented on #212
This is probably caused by inconsistent orientation of the faces. We have
an open issue describing an algorithm that fixes the orientation of all
faces in an input mesh. The halfedge data structure used in the showfacets
option assumes all faces are oriented consistently. That is why it is not
on by default.

On Fri, Nov 19, 2021, 05:48 Haoxuan Guo ***@***.***> wrote:

[2021-11-19 11:00] juliohm commented on #210
In the case of Ball the boundary is a Sphere primitive. In the case of
other primitives we can use a SimpleMesh.

On Fri, Nov 19, 2021, 07:47 Haoxuan Guo ***@***.***> wrote:

[2021-11-19 11:05] GuoHaoxuan commented on #210
@juliohm For `Cylinder` the number of faces of the wall (Or the number of the edges of the disks) is not exactly as well. In another word, we may require some other parameters to generate the boundary. What about using a kw args?

[2021-11-19 11:10] juliohm commented on #210
Sounds like a good idea. I would create a separate PR for each primitive so
that we can more easily assess the design differences.

On Fri, Nov 19, 2021, 08:05 Haoxuan Guo ***@***.***> wrote:

[2021-11-19 22:04] juliohm commented on #212
I will close this assuming the issue is indeed orientation of the faces that is inconsistent. We should implement #137 first.

[2021-11-19 22:04] #212 closed, assigned to nobody

[2021-11-20 03:00] lmejn commented on #135
Ah I see. Yes, this would depend on the arbitrary choice of reference: the angle from `∠(A, B, C)` could be measured about either normal vectors, `BA × BC` or `BC × BA` (which of course equals `-(BA × BC)`).

[One way to get a signed angle](https://stackoverflow.com/a/33920320) would be to give a reference unit vector (`vref`):
[code]
To get the angle between vectors, `vref` should be the vector n

[2021-11-20 08:33] GuoHaoxuan opened #214 "Intersection between `Polygon`s and `Sengment`s and `Ray`s."
This is an extra step towards #125 . Moved from #213 to here. Make `[intersect(ray, triangle) for triangle in mesh]` works.

This may require 2 tiny steps.

- [x] Triangulate `Polygon`. Make Discretization to 3D.
- [ ] Check intersections to every triangle.

[2021-11-20 12:54] juliohm commented on #214
For the 3D discretization, maybe we can project the polygon onto a 2D plane using least squares with the vertices, then rotate the plane to a horizontal plane to discard the 3rd coordinate, perform triangulation, and then return the mesh with the original vertices. It shouldn't be very difficult to implement given our current API for triangulation.

[2021-11-20 12:55] juliohm commented on #214
I will open a separate issue just for the 3D triangulation because it is a major feature.

[2021-11-20 12:57] juliohm opened #218 "Add 3D discretization of polygons"
Our current discretization methods (e.g. FIST, Dehn1989) are defined for 2D `Polygon`. We can easily generalize these methods to 3D with the following steps:

1. Project 3D `Polygon` onto a 3D `Plane`
2. Rotate `Plane` to a horizontal 2D `Plane`
3. Perform discretization method
4. Return `SimpleMesh` with original vertices

[2021-11-20 12:57] juliohm commented on #214
Linking the issue here #218

[2021-11-21 22:26] juliohm commented on #135
You are correct @lmejn , I think this behavior is not motivated by any algorithm we've implemented so far. I will close the issue and we can re-open if it becomes relevant.

[2021-11-21 22:26] #135 closed, assigned to nobody

[2021-12-03 00:56] lmejn opened #221 "Subtype Point with AbstractVector"
To increase the versatility of `Point`, it could be a subtype of `AbstractVector`.

In my personal case, I only came across Meshes.jl when I was looking for better 3D support in my project. A lot of code I had already written consisted of manipulating point positions and using their position to compute quantities at that particular point (*e.g.* `fi = f(p::AbstractVector)`), where `p` was a vector

[2021-12-03 01:09] juliohm commented on #221
There are very good reasons to distinguish between the concept of Point and the concept of coordinates and we won't change this behavior. A single point can be referenced in different coordinate systems and so there is no single set of coordinates to describe it. You can use lat/lon if you are on the sphere or x,y,z if you embed the sphere on R^3. You should write functions that dispatch on Point,

[2021-12-03 01:09] #221 closed, assigned to nobody

[2021-12-03 03:24] lmejn commented on #221
Thanks for clarifying! Are these reasons explained somewhere? I'd be curious to learn more!

[2021-12-03 11:16] juliohm commented on #221
For one you can't add two points, this operation is not defined. You can only add coordinates if they support such operation. We are still working on the interface for coordinates and transformations so very little documentation is available.

[2021-12-03 12:46] juliohm opened #222 "Rename `RandomPartition` to `UniformPartition`"
`RandomPartition` is too generic and we can be more consistent to match `UniformPartition` with `UniformSampling`.

[2021-12-04 11:35] juliohm commented on #210
I've implemented a couple of different discretization methods. Now we can discretize the sphere with quadrangles + triangles using any sampling size:

[code]
![image](https://user-images.githubusercontent.com/3345261/144707913-ef4cae16-9f18-4145-b511-9a2ca01b023c.png)

and we can pass this polygonal mesh to `triangulate` to create a triangle mesh:

[code]
![image](https://user-images.githubusercon

[2021-12-04 12:29] GuoHaoxuan commented on #210
Line and Ray has a infinite volume. Are these boundary exist?

[2021-12-04 12:33] juliohm commented on #210
For line we should return `nothing` and for Ray the origin point. Makes
sense? That is how the Makie recipes will figure out if there is something
to plot.

On Sat, Dec 4, 2021, 09:29 Haoxuan Guo ***@***.***> wrote:

[2021-12-04 12:41] GuoHaoxuan commented on #210
@juliohm Sounds great.

[2021-12-04 12:51] juliohm commented on #210
Ok, just registered a patch release where the following works:

[code]
![image](https://user-images.githubusercontent.com/3345261/144710064-2ad005fe-3389-4e79-9862-29237e9b5929.png)

[2021-12-04 13:02] juliohm commented on #210
Now we are only missing the boundary of `Cylinder` which is a cylindrical surface plus two disks and the boundary of `BezierCurve`. In the first case we need a new struct to represent the cylindrical surface, like we do with `Ball` -> `Sphere`. In the last case we can return the two end points as a `PointSet`.

Let me know if you want to work on that @HaoxuanGuo 👍🏽

[2021-12-05 10:13] GuoHaoxuan commented on #210
@juliohm I am not familiar on the topologic of mesh. But I would like to have a try.

[2021-12-05 11:34] juliohm commented on #210
@HaoxuanGuo I will work on the cylinder case now, it should be ready by the end of the day. If you can help with the BezierCurve to add a boundary and maybe review the recipe in MeshViz.jl that would be great.

[2021-12-05 12:07] GuoHaoxuan opened #224 "julia 1.7 compatible"
Test in julia 1.7 may not passed.

1. Wrapping `Vararg` directly in UnionAll is deprecated.
2. Random engine changes (Xorshift for now)
3. Some Colors type deprecated?

[code]

[2021-12-05 14:07] juliohm commented on #211
Fixed on master.

[2021-12-05 14:07] #211 closed, assigned to nobody

[2021-12-05 14:49] juliohm commented on #210
Now all primitives have boundary. I did refactor the solid `Cylinder` type and also introduced a new `CylinderSurface` type. We need to review these primitives in the future and try to use more constructive geometry to avoid code repetition.

[2021-12-05 14:49] #210 closed, assigned to nobody

[2021-12-05 14:51] juliohm commented on #224
Yes, Julia v1.7 was released this week, we didn't have time to port the code. The test suite is already very promising, only a few tests failed because of the chainges to the default random number generator.

[2021-12-07 03:13] ErickChacon opened #226 "Is there a way to obtain neighbors for each element of a GeometrySet??"
For some models (mainly in 2d), 1st order neighbors are those elements that share borders (edges). Given a 2d GeometrySet (which is part of a GeoTable), can we obtain the neighbors' indices for each element?

[2021-12-07 03:59] juliohm commented on #226
Hi @ErickChacon , a geometry set doesn't store the relationship between the geometries in the set. In order to find these neighbors (e.g. geometries that share boundaries) we need to first convert the geometry set to a different data structure. A similar question was asked in our Zulip channel months ago. It is related to the point location problem: https://en.wikipedia.org/wiki/Point_location

[2021-12-07 13:01] #226 closed, assigned to nobody

[2021-12-09 09:30] yakir12 opened #227 "Better IO support 📥"
Might not be what you hoped people would use this for, but I want to 3-print something (I think) I can build with your package. But to do so I'll need to save it to disk first. The file formats most commonly used are stl, obj, and 3mf.

Feel free to close this is you feel this is off topic.

[2021-12-09 11:15] juliohm commented on #227
Definitely on topic 💯 I think we should document here in the issue the steps to achieve these goals.

Currently I've been using PlyIO.jl, which is an excellent package to read PLY meshes from disk. We need similar packages for STL, OBJ and 3mf. After that we can try to update MeshIO.jl to load these modules in a single clean API.

Another format that is quite popular in the scientific domain is VT

[2021-12-09 17:30] #222 closed, assigned to juliohm

[2021-12-10 13:55] yakir12 commented on #227
ooo, I would probably not have time. I'll soon post something on Discourse for how I got it done, with the results and all though.

[2021-12-10 15:38] juliohm commented on #218
This is already implemented for polygons without holes. We can take any polygon with 3D coordinates and discretize it with any  discretization method. The problem with holes is that we need to build bridges between the outer and inner chains of the polygon, and this algorithm needs to be refactored before we can consider the 3D case. For most practical applications, users won't need 3D discretizat

[2021-12-10 15:39] juliohm commented on #214
@HaoxuanGuo the 3D discretization is already implemented for polygons without holes. Would you like to tackle the intersection algorithm with rays now? Polygons with holes only appear in 2D GIS work anyways so we got these covered when it comes to intersection.

[2021-12-10 19:05] juliohm commented on #218
Exotic examples where "invalid" polygons with 3D coordinates just work:

[code]
![image](https://user-images.githubusercontent.com/3345261/145627498-06ae4357-9ee2-47d5-beb7-ace6189bc961.png)

[code]
![image](https://user-images.githubusercontent.com/3345261/145627559-055c7f96-935a-4f18-b358-0c07f710aae2.png)

[code]
![image](https://user-images.githubusercontent.com/3345261/145627625-6a11d82e-ebd5

[2021-12-10 19:59] #151 closed, assigned to nobody

[2021-12-10 20:06] juliohm commented on #77
I think this is a very nice exercise that someone can do in a research paper. In terms of the development of Meshes.jl itself it is very low in the priority list, and not actually a new feature. Benchmarks can be run by the community if they are interested in learning more about these methods or interested in improving the current implementations.

[2021-12-10 20:06] #77 closed, assigned to nobody

[2021-12-10 20:21] juliohm commented on #70
Similar to the issue #77 , this issue is research-oriented. We will only find the need to implement such metrics when a bug is encountered in any of our triangulation algorithms. In that case we will fix the bug, and implement a test function as described above to avoid reintroducing the bug in the future. To keep our issue tracker clean with issues that reflect the current needs of the community,

[2021-12-10 20:21] #70 closed, assigned to nobody

[2021-12-10 22:56] juliohm commented on #209
Fixed on master. Given any partition of a domain, we can visualize it and the recipe will choose distinguishable colors automatically using Colors.jl:

[code]
![image](https://user-images.githubusercontent.com/3345261/145651088-2a040d9c-de2e-418a-ae8d-9f54a2abd1e9.png)

[code]
![image](https://user-images.githubusercontent.com/3345261/145651252-b6d1e444-879e-4fde-a927-b81ce69a31ac.png)

[2021-12-10 22:56] #209 closed, assigned to nobody

[2021-12-10 22:56] juliohm commented on #218
I will mark this issue as solved. We can open a new issue if the discretization of polygons with holes embedded in R^3 becomes important.

[2021-12-10 22:56] #218 closed, assigned to nobody

[2021-12-11 10:14] GuoHaoxuan commented on #214
@juliohm Yes, I would like to.

[2021-12-14 14:36] #214 closed, assigned to nobody

[2021-12-15 08:21] GuoHaoxuan commented on #227
@yakir12 @juliohm If you are urgent to do this, look at [MeshBridge.jl](https://github.com/HaoxuanGuo/MeshBridge.jl). Although it is uglier and does not leave behind the burden of history, it is at least usable. What I means is convert it to [GeometryBasics.jl](https://github.com/JuliaGeometry/GeometryBasics.jl) mesh and then load or save via [MeshIO.jl](https://github.com/JuliaIO/MeshIO.jl).

[2021-12-15 08:38] GuoHaoxuan opened #230 "Should we add a distance method for points, point/line and etc."
Although we have `evaluate` method, but it is hidden from users. Should be make it visible or create another method called distance?

[2021-12-15 11:10] juliohm commented on #227
That is a great resource, thank you for sharing it. It will help other
users while things get organized.

On Wed, Dec 15, 2021, 05:22 Haoxuan Guo ***@***.***> wrote:

[2021-12-15 11:11] juliohm commented on #230
We have an open issue discussing distances. We need to refactor it more and
consider a more general API first I think.

On Wed, Dec 15, 2021, 05:38 Haoxuan Guo ***@***.***> wrote:

[2021-12-15 11:21] yakir12 commented on #227
and here it is:
https://discourse.julialang.org/t/3d-printing-apriltags

[2021-12-15 11:34] GuoHaoxuan commented on #230
Duplicate with #98 .

[2021-12-15 11:34] #230 closed, assigned to nobody

[2021-12-15 14:07] #224 closed, assigned to nobody

[2021-12-15 15:32] kylebeggs opened #233 "Add function to compute normals and add angle method for Vec"
Sorry if I am somehow missing this, but I don't see a function to compute normals of a surface. Something like `n = normals(m::Mesh)`. After getting the normals of a surface, it is also useful to be able to compute the angle between them sometimes, so add a method of `\angle(v::Vec)`. I can add these, just read that I should open an issue first to confirm it is a good idea before making a PR.

[2021-12-15 15:49] juliohm commented on #233
We designed the package so that any domain is an iterable of elements. If
you have a mesh of triangles it should suffice to call normal.(mesh) and
rely on Julia's broadcast. Regarding the angle we have angle functions
defined, can you please double check?

On Wed, Dec 15, 2021, 12:32 Kyle Beggs ***@***.***> wrote:

[2021-12-15 15:58] kylebeggs commented on #233
`normal.(mesh)` is exactly what I wanted. Sorry I missed that. I did look at the source and only methods for points are in src/angles.jl. I also created 2 vectors and tried to call it, but received a MethodError.

[2021-12-15 16:13] juliohm commented on #233
Can you clarify what angle exactly do you need? Angles are defined between rays usually. The functions in src/angles.jl are for rays, but expressed directly in terms of Point because they show up in many algorithms.

[2021-12-15 16:15] juliohm commented on #233
I will close the issue meanwhile, feel free to ask more questions in the Zulip channel.

[2021-12-15 16:15] #233 closed, assigned to nobody

[2021-12-15 21:51] VEZY opened #234 "Operations on meshes: translation, rotation, scaling"
Hello, I'm migrating my package to Meshes.jl but I didn't find any functions for translation, rotation or scaling. Is this a planned feature or is it out of the scope of this package ? I was particularly interested on doing that for `SimpleMesh`es.

[2021-12-15 22:27] juliohm commented on #234
Yes, it is definitely planned. We've delayed this issue for a while, but it is certainly one of the major ones that we want to take seriously next year. Meanwhile, you can try to reuse pieces of code from CoordinateTransformations.jl Geodesy.jl Rotations.jl ReferenceFrameRotations.jl etc. All these packages handle a specific subset of a more general solution.

[2021-12-16 10:06] VEZY commented on #234
Awesome ! Yes OK I think I'll implement something myself waiting for a more efficient one in Meshes.jl.

[2021-12-16 10:06] #234 closed, assigned to nobody

[2021-12-16 17:36] juliohm opened #236 "Add extrema fallback for any kind of domain/geometry"
We can make extrema available to all geometries/domains with a simple fallback `extrema(object) = extrema(boundingbox(object))`. We just need tests. Good first issue for anyone interested in contributing.

[2021-12-20 11:59] iajzenszmi opened #237 "ERROR: LoadError: MethodError: no method matching generate_benchmark_definition(::Module, ::Vector{Symbol}, ::Vector{Any}, ::Expr, ::Nothing, ::Nothing, ::Parameters)"
ian@ian-HP-Stream-Laptop-11-y0XX:~/meshes.jl/Meshes.jl/benchmark$ julia benchmarks.jl
ERROR: LoadError: MethodError: no method matching generate_benchmark_definition(::Module, ::Vector{Symbol}, ::Vector{Any}, ::Expr, ::Nothing, ::Nothing, ::Parameters)
Closest candidates are:
  generate_benchmark_definition(::Any, ::Any, ::Any, ::Any, ::Any, ::Any, ::Any, ::Any, ::Any) at ~/.julia/packages/Benchma

[2021-12-20 12:12] juliohm commented on #237
Are you following the instructions in the docs on how to run benchmarks? I am busy at the moment, but please confirm this is the expected way of running benchmarks.

cc: @serenity4

[2021-12-20 12:21] serenity4 commented on #237
Please read the docs [here](https://juliageometry.github.io/Meshes.jl/stable/contributing/devguide.html#Running-benchmarks-locally) to run benchmarks. I tested the instructions locally and everything worked fine. If it doesn't for you, make sure to include more information (at least your Julia version, and versions for BenchmarkTools/Meshes).

[2021-12-20 13:16] juliohm commented on #237
Thank you @serenity4 for checking.

[2021-12-20 13:16] #237 closed, assigned to nobody

[2021-12-20 19:29] iajzenszmi opened #238 "ERROR: failed process: Process(`/opt/julia-1.7.0/bin/julia -Cnative -J/opt/julia-1.7.0/lib/julia/sys.so -g1 --project=/home/ian/.julia/environments/v1.7 --depwarn=no -e 'using PkgBenchmark"
julia> BenchmarkCI.judge()
   Resolving package versions...
    Updating `/tmp/BenchmarkCI_jl_hPkxHU/Project.toml`
  [6e4b80f9] + BenchmarkTools v1.2.2
  [eacbb407] + Meshes v0.19.2 `~/meshes.jl/Meshes.jl`
    Updating `/tmp/BenchmarkCI_jl_hPkxHU/Manifest.toml`
  [79e6a3ab] + Adapt v3.3.1
  [6e4b80f9] + BenchmarkTools v1.2.2
  [324d7699] + CategoricalArrays v0.10.2
  [d360d2e6] + ChainRulesCore v1

[2021-12-20 19:51] juliohm commented on #238
@iajzenszmi please read the docs before opening an issue. Also we can't help when you don't describe what you are trying to do. Use our Zulip channel for support, the GitHub issues are for well-defined bug reports and feature requests with more information and context.

[2021-12-20 19:51] #238 closed, assigned to nobody

[2021-12-21 00:06] iajzenszmi commented on #238
julia  ~/meshes.jl/Meshes.jl/benchmark/benchmarks.jl  does not work, but reports an error.
julia ~/meshes.jl/Meshes.jl/test$ julia runtests.jl  does work with the results
Test Summary:       | Pass  Total
Meshes.jl (Float64) | 1868   1868
For your information and remediation.  It would be good to have a  julia benchmarks.jl command line that works.

[2021-12-21 00:38] juliohm commented on #238
This is now how users are supposed to run tests or benchmarks. Please check the Pkg.jl documentation to activate the environments and run tests for example.

[2021-12-22 00:24] juliohm opened #239 "Specify broadcast behavior for Point"
This code should work fine but it doesn't currently:

[code]

We need to add a method for broadcast with Point so that it works. I think we want to add a method for this function: https://docs.julialang.org/en/v1/base/arrays/#Base.Broadcast.broadcastable that returns a Ref. But it is worth double checking.

[2021-12-22 18:08] juliohm commented on #239
Fixed by #241

[2021-12-22 18:08] #239 closed, assigned to nobody

[2021-12-22 21:41] kylebeggs commented on #207
Why do you need a new type altogether? Don't we just need another constructor that converts to Float like with Point? Something like:
[code]
It seems to accomplish what we want here, but then again I am still trying to learn about structs, types, etc..

[2021-12-22 21:45] juliohm commented on #207
It is because in Julia it is not good practice to define methods for types
that are not defined in the same module. It is called type piracy. We are
not the "owners" of SVector and SVector has a lot of behavior that is
defined for 1-dimensional arrays but maybe not vectors in Rn (as in math)

On Wed, Dec 22, 2021, 18:42 Kyle Beggs ***@***.***> wrote:

[2022-01-01 13:15] cdsousa opened #242 "Why Point always converts integers to floats?"
[code]

[2022-01-01 13:22] cdsousa commented on #242
Ok, I've noticed somewhere (https://github.com/JuliaGeometry/Meshes.jl/issues/207) that this is a design choice 🤷‍♂️. But then this seems inconsistent:
[code]

[2022-01-01 13:22] #242 closed, assigned to nobody

[2022-01-01 13:44] cdsousa commented on #207
Hi!
I would say that that is how usually dynamic types work in Julia, if a function only works with some subtypes then one restricts it at the function argument types, not at the object constructions level. Or else, even more common, one just lets the function break if the input types are not compatible.

I came here because I was wondering how the "small/static linear algebra" landscape in Julia

[2022-01-04 10:54] juliohm commented on #207
@cdsousa we had some design iterations and thought that end users should see errors as early as possible with Integer coordinates. We assume that coordinates live in R^n, which is continuous. Discrete coordinates aren't supported.

Although some projects use <:Integer for exact representation, this is flawed. What we really want is Continuous<:X<:Real but Julia doesn't have this concept. It has Ab

[2022-01-11 16:14] VEZY opened #243 "Missing cylinder triangulation"
Hello, I think there is no implementation of `triangulate` for the `Cylinder` primitive.
I found the issue when trying to plot a simple cylinder with MeshViz:

[code]

[2022-01-11 16:29] juliohm commented on #243
We have the `boundary(cylinder)` implemented as a `CylinderSurface` already. We just need to add a RegularDiscretization method for this surface. Do you think you can help with that? There are examples with spheres to serve as a base.

I can try to work on that after some deadlines this month in case you don't know how to proceed.

[2022-01-11 17:19] VEZY commented on #243
Just to be sure, you mean we need to implement:

[code]

But also a RegularSampling right ?

and then:

[code]

I would be happy to help but I'm not sure to understand the package design correctly. I must say I have very little time and I'm not sure to have the skills to do it (though I'm sure there are some resources somewhere online?).

I'll give it a try if I find a little bit of time. Thank yo

[2022-01-11 17:59] juliohm commented on #243
Yes. Everything is very composible and we just need to know how to sample
points on the surface of the cylinder and how to connect these points into
quadrangles + triangles. The rest follows from the other implementations.

What about first submitting a PR for RegularSampling with CylinderSurfsce?
After that we can work on the connectivities.

On Tue, Jan 11, 2022, 14:19 Rémi Vezy ***@***.***> wro

[2022-01-14 11:02] VEZY commented on #243
OK, I just did a PR (#244). I didn't have time to check the validity domain of the implementation yet. Hope this helps.

[2022-01-21 20:00] CameronBieganek opened #246 "Stack overflow when intersecting a triangle and a ball"
I'm not surprised that taking the intersection of a polygon with a primitive shape like a ball is not supported, since that's more in the realm of constructive solid geometry, but it might be nice if we could get a method error (or some other error) instead of a stack overflow:

[code]

[2022-01-21 20:08] juliohm commented on #246
If you are only interested in knowing if they intersect you can do `hasintersect(t, c)` to get true or false as result. But I agree we should provide a better error message and avoid StackOverflow if the code changes aren't severe. Mind submitting a PR?

[2022-01-21 20:10] CameronBieganek opened #247 "Use promotion in constructors for `Ball`, `Sphere`, and `Cylinder`"
This ought to work:

[code]

You could either use promotion in the constructor, or even just wrap `radius` with `float()` in the constructor.

Similarly for `Sphere`, and also for `Cylinder`:

[code]

I've used function signatures like the following before (quoted from [your code here](https://github.com/JuliaGeometry/Meshes.jl/blob/fe768d7a4fc3442c3b856617fdae8320276ff368/src/primitives/cylinder.

[2022-01-21 20:21] juliohm commented on #247
Definitely! The promotion rule seems appropriate. We want to convert all Integer to Float64 to avoid errors downstream. Exact representaions willl demand a different abstract type that is not Integer.

[2022-01-21 20:22] CameronBieganek commented on #246
I'm interested in making some contributions. But I can't make any guarantees that I'll find the time. :sweat_smile:

[2022-02-08 18:58] CameronBieganek opened #249 "Add `union`, `intersect`, and `setdiff` for `Polygon{Dim,T}`"
[code]

[2022-02-12 14:49] #236 closed, assigned to nobody

[2022-02-24 19:20] CameronBieganek opened #250 "Stack overflow error when using `hasintersect` on 3D triangles"
[code]

The same example works if I drop the third dimension and make the triangles 2D.

[2022-03-16 19:01] jondea opened #251 "Support for constructive geometry"
As part of a FEM project I have implemented an `Annulus<:Primitive` type and several related functions. Does this count as a primitive, as in there isn't some clever way to make it from two balls? And if not, is this something that would be welcome for a PR?

[2022-03-16 19:17] juliohm commented on #251
Hi @jondea thank you for proposing the primitive. I think what we really need is an API for constructive geometry. There are some packages out there already like

- https://github.com/plut/ConstructiveGeometry.jl
- https://github.com/JuliaGeometry/Descartes.jl

implementing subtraction, intersection and union of primitives. Ideally, we will be able to introduce these same operations in Meshes.jl r

[2022-03-16 22:36] jondea commented on #251
Hi @juliohm, thank you for the pointers! That approach is certainly more elegant. I've made a branch with the `Annulus` type so I don't lose it https://github.com/jondea/Meshes.jl/tree/add-annulus-primitive, and I hope to be able to come back to this when I have more time.

[2022-03-22 18:24] cjwyett opened #252 "Is there a nice way to evaluate a function at some points?"
Say I have some function
[code]
And some points
[code]
The way I'm going about evaluating the function at the points seems a little untidy to me:
[code]
Is there a nice clean built in method that can handle this kind of stuff for me?

Thanks

[2022-03-22 18:26] juliohm commented on #252
Hi @cjwyett please direct questions to the Zulip support channel.

[2022-03-22 18:26] #252 closed, assigned to nobody

[2022-04-07 13:44] jakubMitura14 opened #253 "Nvidia warp as backend"
Hello I wonder wheather it would be feasible to use NVIDIA warp [1] as CUDA accelerated backend for meshe computations?

https://github.com/NVIDIA/warp

[2022-04-15 11:44] juliohm commented on #253
Hi @jakubMitura14 , I am not familiar with the framework, so someone with more experience in it needs to jump in and write down a concrete proposal. In general, we want to provide options for all audiences, but that may require additional packages to avoid explosion of dependencies.

[2022-04-15 11:44] #253 closed, assigned to nobody

[2022-04-15 11:45] juliohm commented on #250
Yes, currently we only have GJK implemented for 2D geometries. We are probably missing a method dispatching on 3D geometries to avoid recursion and show an error message that is more descriptive: not implemented for 3D.

[2022-04-15 18:06] juliohm commented on #54
After a long hiatus I finally got some time to refactor the API in terms of an enum as described above. The only missing step is the conversion of the geometry into a buffer to avoid the type inference issue with Union types. @Arkoniak @serenity4 @thchr appreciate if you can take a look at the current state of the PR, or just scan it quickly to spot any possible issue: https://github.com/JuliaGeom

[2022-04-18 12:14] juliohm commented on #54
Dear all, I merged the PR in the master branch and now instead of having multiple types representing intersections, I followed the alternative design where we simply introduce an Enum as proposed by @thchr. The code is already cleaner compared to the previous version, but I am still stuck with regards to type stability issues.

The current version of the code is still using the function evaluation

[2022-04-21 14:00] dorn-gerhard commented on #54
Some thoughts on possible intersections:
We could clear the question whether an enum `IntersectionType` and a Vector of `Points` is sufficient if we have a better picture of possible intersections.
In the end (thinking of an end user not so much interested in performance) there should be a way to intersect any kind of two geometries and get a resulting Geometry, which can be returned via the `mate

[2022-04-21 14:12] juliohm commented on #54
@dorn-gerhard that is precisely what we are doing. The only missing step is figuring out if we really need to move away from the function-as-first-argument to a Vector{Point} approach for type stability. Our current version with functions works well and it may be enough for most cases. I am tempted to live with the function approach unless someone can point out a major limitation.

[2022-04-21 14:14] thchr commented on #54
Thanks for your efforts with this @juliohm. As you mention, and as @dorn-gerhard also notes, I think it will be hard to do completely general things with only a `Vector{Point}` to hold the intersection details.
Let me suggest a variation on the interface I mentioned before, namely:
[code]
Depending on the `kind`, the caller would then know which of the fields are definitely not `nothing` - and whe

[2022-04-21 14:29] thchr commented on #54
A different approach could be something like:
[code]

Each type-combination of calls to `intersect` would then specialize the type of `NT`: i.e., `NT` would be fixed for fixed input types to `intersect` but can differ for different input types to `intersect`.
As examples:
[code]

This approach seems like it could probably be completely general while retaining type-stability (for type-stable inputs

[2022-04-21 14:39] juliohm commented on #54
Thank you @thchr for sharing your thoughts. I share your opinion that the design with specific types hard-coded as fields won't be easy to maintain. Our current design is agnostic to the type of the intersection (it is a type parameter like in your named tuple design) and we can still get the performance we need by using the do syntax with the function as first argument.

Let's wait until next wee

[2022-04-24 19:18] #246 closed, assigned to nobody

[2022-04-24 19:18] juliohm commented on #249
Closing in favor of #251

[2022-04-24 19:18] #249 closed, assigned to nobody

[2022-04-24 19:21] juliohm commented on #54
Marking the issue as solved. We can reopen it again in the future if necessary.

[2022-04-24 19:21] #54 closed, assigned to nobody

[2022-04-24 20:43] juliohm opened #261 "Bug in nvertices of SimpleMesh"
As reported by @mipals [here](https://github.com/JuliaGeometry/MeshViz.jl/pull/26).

MWE:

[code]

[2022-04-24 20:53] #261 closed, assigned to nobody

[2022-04-25 19:51] juliohm commented on #90
I believe we already addressed the concrete issue here, which is the representation and construction of lines and planes.

The remaining discussion is still too open and about non-Euclidean geometries and geometric algebra. I will close the issue and we can open a separate one in the future when we start to work on such generalizations.

[2022-04-25 19:51] #90 closed, assigned to nobody

[2022-04-26 20:37] juliohm commented on #168
Fixed in the master branch of MeshViz.jl. Now we can pass a global transparency `alpha = 0.5` for all elements of the mesh or a vector of transparency for individual elements:

[code]
![grid](https://user-images.githubusercontent.com/3345261/165387871-0b00ecd4-0cf7-4be7-bc00-1dafc48a6715.png)

[2022-04-26 20:37] #168 closed, assigned to nobody

[2022-04-26 21:09] juliohm opened #262 "Handle categorical and missing values in recipes"
The latest release of MeshViz.jl can properly handle transparency in all situations. Now we need an extra step to handle categorical values from CategoricalArrays.jl and `missing` and `NaN` values.

[2022-04-27 12:33] juliohm commented on #262
We can now plot categorical values, and more generally any Julia object that can be converted into a colorant, optionally using a color scheme. 💯

The only missing step is handling of missing values. I should be able to look into it over the week.

[2022-04-27 12:56] juliohm commented on #262
It was easier than I thought. Now we have full support for colors with `missing` values. A patch release has been triggered.

There is still the question if we should support `NaN` values as indicative of missing values in `Array{<:Number}`. I will think about it more before closing the issue.

[2022-04-27 15:05] juliohm commented on #262
Fixed all cases. Now we also handle missing and NaN values in numeric vectors.

[2022-04-27 15:05] #262 closed, assigned to nobody

[2022-05-09 12:19] GuoHaoxuan opened #264 "Incomplete modification from intersecttype to intersection"
https://github.com/JuliaGeometry/Meshes.jl/blob/83aa55978077b09f39f411e83b9e4fa0a79554cd/src/discretization/fist.jl#L84

I noticed that intersecttype was being changed to intersection three weeks ago, but there is a possible omission here.

[2022-05-09 12:32] juliohm commented on #264
We should also add a test for that because the tests didn't cover it
apparently :/

Em seg., 9 de mai. de 2022 09:19, Haoxuan Guo ***@***.***>
escreveu:

[2022-05-09 17:01] #264 closed, assigned to juliohm

[2022-05-11 20:04] ErickChacon commented on #201
Thanks to PR #208. Now it is possible to expand `CartesianGrids` with intersecting vertices and elements numerically equivalent to those of the original `CartesianGrid`. See an example in the tests:
https://github.com/JuliaGeometry/Meshes.jl/blob/bcc08b0b53622f2578c61561fef91153c05c393b/test/mesh.jl#L131-L137

[2022-05-11 20:04] #201 closed, assigned to nobody

[2022-05-19 20:34] maxfreu opened #265 "Intersection between two triangles results in StackOverflowError"
Meshes v0.22.5, julia 1.7.2
[code]
Expected outcome: I get `t`.

The same goes for PolyAreas btw. Oh and I spot `triangulate` in the call-stack; I don't know if it is already, but shouldn't that be a noop?

[2022-05-19 20:44] juliohm commented on #265
Please read the documentation. There are multiple functions related to intersection. You probably want `hasintersect`? There is also Base.intersect for some geometries, but we don't have that implemented for Triangle yet.

[2022-05-19 20:44] #265 closed, assigned to nobody

[2022-05-20 11:06] maxfreu commented on #265
Sorry, maybe I have been a bit too harsh. I read the documentation and I also found `intersect`, which of course throws the same error. The documentation says "Intersections are implemented for various geometries such as [Segment](https://juliageometry.github.io/Meshes.jl/dev/geometries/polytopes.html#Meshes.Segment), [Line](https://juliageometry.github.io/Meshes.jl/dev/geometries/primitives.html#

[2022-05-20 11:31] juliohm commented on #265
@maxfreu to make the intersection work for arbitrary polygons we need a general algorithm like the one provided in packages like Polyhedra.jl: https://github.com/JuliaPolyhedra/Polyhedra.jl

The polygon can be represented as the intersection of half-planes and then an optimization problem is defined to find the subspace with all valid constraints. Basically a constraint solver.

[2022-05-27 10:22] ederag opened #267 "Out of memory with 8 triangles"
Uncommenting the last line eats about 1Gb per second, with no end (it froze my desktop once),
so be prepared to interrupt.

[code]

Another clue:
`MeshViz.viz(mesh)` works fine, but `viz(mesh, showfacets=true)` eats all the RAM as well.

Tested with `Meshes v0.22.5` and `julia-1.6.5`.

[2022-05-27 10:30] juliohm commented on #267
You are not ordering the connectivities coherently. Please make sure that they are all counter-clockwise, otherwise the underlying half-edge structure will break in undefined ways. See also #137.

[2022-05-27 10:30] #267 closed, assigned to nobody

[2022-05-27 11:22] ederag commented on #267
Thanks, I had read the manual (nicely written, by the way) but overlooked
https://juliageometry.github.io/Meshes.jl/stable/geometries/polytopes.html#Meshes.Ngon
and
https://juliageometry.github.io/Meshes.jl/stable/geometries/polytopes.html#Meshes.PolyArea
and did not find #137.

But as a feedback, I'm surprised that this is not considered as a bug
and kept open to warn other users.
Crashing a whol

[2022-05-27 11:27] juliohm commented on #267
Most errors like this happen simply because we didn't implement a method yet and there is some recursion involved. There are other issues already open like this. We could add methods to introduce nicer error messages or actually implement the missing features. I tend to devote my time to the latter option.

If you feel that you can submit a PR with a better error message, we are happy to review. A

[2022-06-03 20:05] nick-adamowicz opened #270 "Unclear documentation: subtracting Points"
https://github.com/JuliaGeometry/Meshes.jl/blob/11855a2aaf0688fffae4678635bef08b377fb4d4/src/points.jl#L98-L104

The current documentation lists:

"Return the Vec associated with the direction from point A to point B."

wouldn't it be more accurate to say:

"Return the Vec associated with the direction from point B to point A."

since, e.g.:

[code]

... or am I just confused :) ...

[2022-06-03 20:10] juliohm commented on #270
Good catch @fujiwara-tofu-tm , could you please submit a PR with the fix?

[2022-06-03 20:22] nick-adamowicz commented on #270
this is the first time I've ever made a pull request, so please bear with me. Did I do it correctly?

[2022-06-03 21:11] juliohm commented on #270
You did it perfectly 💯 Merged and should be included in the next release. Thank you!

[2022-06-03 21:11] #270 closed, assigned to nobody

[2022-06-05 16:38] nick-adamowicz opened #272 "documentation issue, RegularSampling"
https://github.com/JuliaGeometry/Meshes.jl/blob/4be3b986e7988cd61157f81b193964b0204f44fe/src/sampling/regular.jl#L5-L19

slight typo in ``... `np` poitns along ...`` -> ``... `np` points along ...``

also, the provided example:

[code]

throws an error since the following constructor doesn't convert the provided radius to a Float32 or Float64 (depending on the form of the constructed Point):

http

[2022-06-05 19:41] juliohm commented on #272
Thank you @fujiwara-tofu-tm for catching these small typos and issues ❤️ These are super helpful contributions. Would you mind submitting a PR to fix the Sphere constructor? We need to fix many constructors that are still using integer arguments to convert to floating point.

Also, feel free to submit a separate PR with the typo fix in the RegularSampling docstring to replace poitns -> points

[2022-06-07 21:41] juliohm commented on #247
@fujiwara-tofu-tm would you like to work on this issue?

[2022-06-07 22:35] juliohm commented on #250
@CameronBieganek this issue was actually more serious than I thought. The `isconvex` trait was failing for triangles. It is alaredy fixed on master and should be available soon in a next patch release. Thank you for reporting 👍🏽

[2022-06-07 22:35] #250 closed, assigned to nobody

[2022-06-08 00:18] nick-adamowicz commented on #247
@juliohm sounds fun, I'll give it a shot this weekend

[2022-06-23 17:34] juliohm commented on #272
Fixed on master.

[2022-06-23 17:34] #272 closed, assigned to nobody

[2022-06-23 17:34] juliohm commented on #247
@nick-adamowicz did you have a chance to look into that?

[2022-06-27 14:46] dorn-gerhard opened #275 "Reconsider behavior of issimple for Ngon"
The triangulation of a Quadrangle (with crossing sides - blue color)
returns overlapping parts outside that quadrangle:

Not sure, if this is intended
![grafik](https://user-images.githubusercontent.com/67096719/175968882-483dae29-0732-4796-bde4-c01d47336789.png)

[2022-06-27 17:17] juliohm commented on #275
`Ngon`s are assumed simple, i.e. without self-intersections:

[code]

The default discretization method for simple quadrangles is `FanTriangulation`. If you want to consider non-convex quadrangles, you need to use the `PolyArea` type instead, which is a more flexible type of `Polygon`:

[code]

In this case, the default discretization method is `FIST`. Can you please use MeshViz.jl instead for plo

[2022-06-28 08:08] dorn-gerhard commented on #275
Thanks for the feedback,
I was wondering whether `issimple(Ngon)` cannot be adopted in such a way to check whether a given Ngon is really simple.
such as
`issimple(n::Ngon) = issimple(PolyArea([vertices(n); first(vertices(n))]))`

MeshViz.jl is not an option for me at the moment. Not yet familiar with Makie and I have to stick to Plots.jl for various reasons.

[2022-06-28 19:49] juliohm commented on #275
That was a design decision back in the days, but we could reconsider it and refactor the implementations to use a common `issimple` core implementation for all kinds of `Polygon`. Would you like to investigate this further?

[2022-06-30 09:39] dorn-gerhard commented on #275
Yes, I can start a pull request on this feature (adding a core function `issimple(p::Polygon)` in `polytopes.jl` , but first I will continue to work on intersections of rays / the new helper function `intersectparameters` and so on.

Regarding polygons in 3D: I see that 3D polygons lack a check whether they are flat or skew polygons.
Skew polygons consisting of 4 points are not uniquely defined by

[2022-06-30 10:53] juliohm commented on #275
Yes, the triangulation is performed in 3D with MeshViz.jl and you will see
the areas.

Em qui., 30 de jun. de 2022 06:41, dorn-gerhard ***@***.***>
escreveu:

[2022-06-30 12:50] dorn-gerhard commented on #275
my suggestion:
`isskew(p::Polytope{K, Dim, T}) where {K, Dim, T} =
	rank(reduce(hcat, coordinates.(vertices(p))), atol = atol(T)) > K`

returns true if a Polytope with `K < Dim` has vertices spanning a space larger than `K`

[2022-08-01 11:28] jguterl opened #280 "Wrong definition of centroid"
The definition of centroid implemented in Meshes.jl is incorrect.
Here is below a correct implementation:
function compute_centroid(x_::Vector{T}, y_::Vector{T}) where {T<:Number}
    @assert length(x_) == length(y_)
    x = [x_..., x_[1]]
    y = [y_..., y_[1]]
    a = similar(x[1:end-1])
    b = similar(a)
    cx = similar(a)
    cy = similar(b)

    a[:] = x[1:end-1] .* y[2:end]
    b[:] = y[1:

[2022-08-01 11:41] juliohm commented on #280
Can you please provide a minimum example with the current implementation that you think is incorrect? I am only seeing your code in this issue.

[2022-08-05 10:08] #280 closed, assigned to nobody

[2022-08-06 17:04] juliohm commented on #243
Fixed on master. Now we can visualize cylinders and cylinder surfaces that are oblique, for example:

![image](https://user-images.githubusercontent.com/3345261/183258627-614e2201-f63a-44ee-8224-f0e9dc711944.png)

As usual, the code composes really nicely, you can simply do:

[code]
![image](https://user-images.githubusercontent.com/3345261/183258671-77c22a65-f019-41a1-9c0e-bde9485a9b66.png)

[cod

[2022-08-06 17:04] #243 closed, assigned to nobody

[2022-08-10 19:49] juliohm opened #282 "Move Plots.jl recipes to a separate package"
The Makie.jl recipes for this project are way too advanced now and we don't have the need (nor resources) to develop the old Plots.jl recipes in parallel. We need to move the `plotrecipes` folder to a separate package that users can load separately, similar to what we do currently with MeshViz.jl.

[2022-08-12 21:26] kylebeggs opened #284 "getindex for point"
Can we add a method for getindex on point types? Like this `Base.getindex(p::Point2, i::Int) = getindex(p.coords,i)`? I find it cumbersome to have to do p.coords[1], p.coords[2] etc... if so I can make a PR

[2022-08-12 21:32] juliohm commented on #284
Hi @kylebeggs , we had this issue discussed a few times already. The problem is that the notion of indexing pertains to coordinates in a coordinate system, not to a point, which is an atomic concept. This is by design to force users to be explicit about coordinates, and in the future about coordinate systems explicitly (or implicitly) because the system will be able to handle points in different c

[2022-08-12 21:32] #284 closed, assigned to nobody

[2022-08-12 21:46] kylebeggs commented on #284
@juliohm Thanks for explaining. but if I need to access just one coordinate for whatever reason, I still need to do getindex(p.coords,3) anyways which could still make it crash. I suppose your point is we should't be writing code where we might need to access a specific coord in that fashion?

[2022-08-12 21:59] juliohm commented on #284
Exactly! Ideally your code should be agnostic to the number of coordinates, and even to the coordinates themselves. Working with coordinates is a more strict way of working in geometry, you can do entire algorithms with abstract points.

But answering your practical question, whenever you need access to the actual coordinates you can use `coordinates(p)` explicitly. In the future, we should be abl

[2022-08-12 22:31] kylebeggs commented on #284
I see. Thanks for taking the time to explain

[2022-08-14 19:44] juliohm commented on #282
Thank you @eliascarv for fixing this 🙏🏽

[2022-08-14 19:44] #282 closed, assigned to nobody

[2022-08-18 09:32] pzimbrod commented on #227
Hi,

hope I'm not beating on a dead horse by posting here.

I'm currently working on solving PDEs in Julia (mainly flexible FE methods) and came across the same problems that you already addressed with your package. So first of all kudos for the nice work! 🚀

I agree 100%. I think writing outputs to an independent format is the way to go in terms of reproducibility. So naturally I'm interested in

[2022-08-18 09:37] juliohm commented on #227
Contributions are very welcome Patrick, it would be awesome to have
cohesive IO experience on top of the mesh types here. Are you planning to
start the contributions with any specific file format? Let me know if
something needs to be adapted to handle more IO flexibility. Looking
forward to working together on this.

Em qui., 18 de ago. de 2022 06:32, Patrick Zimbrod ***@***.***>
escreveu:

[2022-08-18 09:48] pzimbrod commented on #227
Great! I would prefer starting off with structured and unstructured grids, as they tend to be the most useful in this field. I'll let you know if something comes up.

[2022-08-18 10:12] juliohm commented on #227
I mean specific file formats like VTK and PLY. We currently have PlyIO.jl
which is great for PLY files and could write other IO packages that read
the meshes as simple Julia arrays or dictionaries. Then, combine these
packages into a high level package MeshIO.jl or similar name that convert
these arrays to the final Meshes.jl types.

Em qui., 18 de ago. de 2022 06:49, Patrick Zimbrod ***@***.***>

[2022-08-18 11:44] pzimbrod commented on #227
Oh yeah sorry, I wasn't aware of the fact that you outsourced the IO to other packages.

I was originally referring to structured and unstructured grid formats that VTK specifies, [WriteVTK.jl](https://jipolanco.github.io/WriteVTK.jl/stable/grids/unstructured/) implements them for output already. Depending on the data type, the files have different formats (vtu, vtp, etc.).

I guess to comply with

[2022-08-18 11:56] juliohm commented on #227
So the idea is that all these backend packages only rely on native Julia
arrays and dictionaries. The wrapper package MeshIO.jl will then depend on
these backend packages to post-process these arrays into Meshes.jl types.

So VTKIO.jl sounds like a good plan. It could combine ReadVTK.jl and
WriteVTK.jl under a common interface with arrays.

Em qui., 18 de ago. de 2022 08:44, Patrick Zimbrod ***@**

[2022-08-22 16:37] jguterl commented on #280
The implementation of centroid in Meshes.jl returns the geometric center of the ngon. The geometric center of a ngon is not the centroid of a ngon. See for instance:https://www.wolframalpha.com/input/?i=centroid

[2022-08-23 18:12] juliohm commented on #280
If you can provide a MWE, it will be much easier to evaluate and fix. I don't know which code you has tried that has produced the incorrect result.

[2022-08-24 02:45] jguterl opened #287 "Boundary{2,1} not giving correct result for CartesianMesh"
Boundary{2,1} does not provide the correct index of the facets.
See example below

MWE:
using Meshes
mesh = CartesianGrid((0.,0.),(1.,1.), dims=(2,2));
topo = convert(HalfEdgeTopology, topology(mesh))
v = collect(vertices(mesh))

c12 = Coboundary{1,2}(topo)
b21 = Boundary{2,1}(topo)
b20 = Boundary{2,0}(topo)
c02 = Coboundary{0,2}(topo)
for id in b21(1)
    println("face #$id : ",facet(mesh,id))
en

[2022-08-24 11:16] juliohm commented on #287
@jguterl please use the Zulip chat to ask questions and clarify concepts. The issues you are opening here on GitHub are invalid because you still don't understand some of the concepts. We are happy to help in the chat instead.

[2022-08-24 11:16] #287 closed, assigned to nobody

[2022-08-24 14:58] jguterl commented on #287
My bad. Let me post on Zulip.

[2022-08-24 15:10] jguterl commented on #287
For reference:

A possible way of retrieving correctly the faces (rank 1) is the following:
using Meshes
mesh = CartesianGrid((0.,0.),(1.,1.), dims=(2,2));
topo = convert(HalfEdgeTopology, topology(mesh))
v = collect(vertices(mesh))

c12 = Coboundary{1,2}(topo)
b21 = Boundary{2,1}(topo)
b20 = Boundary{2,0}(topo)
c02 = Coboundary{0,2}(topo)
for id in b21(1)
println("face #$id : ",map(i->v[i],facet(

[2022-09-01 15:58] kylebeggs opened #290 "intersection(::Ray, ::Mesh) broken"
As the title says, this method is broken. Below is a MWE:

[code]

I don't know enough to figure out why it says repeats 2 times.

[2022-09-01 17:48] kylebeggs opened #291 "intersection(r::Ray, t::Triangle{3, Float32, SVector{3, Point3f}}) broken, Float64 version works"
Title. only broken for Float32. Below is MWE:

[code]

Works as expected, but when you construct the triangle using Float32, you get an error:

[code]

[2022-09-01 19:18] #207 closed, assigned to nobody

[2022-09-02 01:19] juliohm commented on #290
Thank you for reporting the issue. I think we should be able to implement a method for Tetrahedron by combining the results of the intersection with the facets. Something along the lines of the following pseudo-code: union(intersection(r, f) for f in facets(t))

[2022-09-02 01:33] juliohm commented on #291
We assume always that all geometries are using the same coordtype. If you try to compute the intersection of Ray with Float64 and Triangle with Float32, there won't be a method and the code enters into a loop with the generic fallback. We can always add fallbacks that say "missing implementation" but that doesn't scale in terms of code maintenance. There are too many geometry combinations to list

[2022-09-02 01:33] #291 closed, assigned to nobody

[2022-09-12 10:16] dorn-gerhard commented on #290
I can help with intersections - currently I finish intersections in 2D:
intersection of
- [x] ray - ray (`rays.jl`) - current PR #297
- [x] ray - segment (`raysegment.jl`) - prepared, coming soon
- [x] line - ray (`lineray.jl`) - prepared, coming soon
- [x] line - segment (`linesegment.jl`) - prepared, coming soon

[2022-09-12 13:01] kylebeggs commented on #290
Can you implement the ray-segment into the ray-triangle to check if the ray hits an edge of the triangle? We should have an option for the user to check this or not. This is needed for some algorithms. I do think there is a way to use some of the information already computed in the current ray-triangle implementation, but I haven't had time to check into it.

[2022-09-20 11:16] #247 closed, assigned to nobody

[2022-09-21 15:52] juliohm opened #299 "Review internal functions intersectpoint, intersectcollinear, ..."
Some of these internal functions are now superseded by the new `intersectparameters` by @dorn-gerhard . We should review and probably remove them from the code base.

[2022-09-24 13:47] DanielVandH opened #301 "facets(mesh) on FullTopology is empty"
The following mesh returns an empty collection of facets:
[code]

[2022-09-24 13:50] juliohm commented on #301
Thank you @DanielVandH for opening the issue. Will try to fix it over the week.

[2022-09-25 21:26] juliohm commented on #301
The issue has been fixed on master. Now the user can specify the option `relations=true` at construction time to change the underlying topology to `HalfEdgeTopology` and build the topological relations that are necessary to compute facets:

[code]

[2022-09-25 21:26] #301 closed, assigned to nobody

[2022-09-28 10:41] juliohm opened #302 "Fix deprecation warnings in doc build"
The following deprecation warnings are being shown during the build of the docs:

[code]

If you have experience with scss, there should be an easy fix.

[2022-09-29 21:37] juliohm opened #304 "Replace StaticArrays.jl by StaticArraysCore.jl"
Try to replace the dependency to see if we can speed up load times.

[2022-09-30 17:47] #304 closed, assigned to nobody

[2022-10-05 21:28] mfsch opened #306 "Handling of duplicate/unused vertices in SimpleMesh"
When loading an STL file with MeshIO.jl and converting it to a SimpleMesh with the code in [MeshBridge.jl](https://github.com/HaoxuanGuo/MeshBridge.jl), I ended up with a mesh that has duplicate vertices, only some of which are referenced in the connectivity list. While it is probably best to avoid creating such meshes, it might be worth improving the way topologies handle this case:

[code]

Mayb

[2022-10-07 12:09] juliohm commented on #306
Throughout the entire source code we assume that the vertices are numbered from 1 to N without missing integers in between. I don't think it is worth moving towards a design where we allow arbitrary enumerations of vertices. These algorithms are really hard to implement already assuming that the indices are 1:N.

I suggest that you fix your IO pipeline to make sure that all vertices are numbered c

[2022-10-07 12:12] juliohm commented on #306
Wait a minute. You are saying that the topology itself is not doing the right thing, correct? That HalfEdgeTopology should have identified the maximum number of vertices 6 and assume that this is the number of vertices?

The issue is probably somewhere else. I think if you can share the overall goal, we can track down what needs to be fixed, if anything needs to be fixed on the Meshes.jl side.

[2022-10-07 12:21] juliohm opened #307 "Some of our Point constructors are allocating"
Our recent changes to the Point constructors are allocating. We need to refactor it once again to avoid these issues with large data sets downstream.

[2022-10-07 13:24] mfsch commented on #306
The issue arises when you construct a SimpleMesh for which the connections do not reference all indices from 1 to `length(points)`, or similarly just construct a topology that does not reference all indices from 1 to the maximum index. You could argue that these are invalid topologies/connectivities, but since it’s relatively easy to end up with such a case, I thought it might be worth handling it

[2022-10-07 14:07] juliohm commented on #306
Yes, it makes total sense. Thanks for looking into it. Can you help with these two PRs? :)

[2022-10-07 14:20] mfsch commented on #306
I’ll look into it :+1:

[2022-10-08 13:36] juliohm commented on #137
This is no longer an issue! 🎉 We can fix the orientation of polygons at construction time in our HalfEdgeTopology constructor: https://github.com/JuliaGeometry/Meshes.jl/commit/f4b1fd1162d50140a3029f5462c5e2a62f35febb

[2022-10-08 13:36] #137 closed, assigned to nobody

[2022-10-08 14:11] juliohm commented on #299
@dorn-gerhard did you have a chance to take a look into this?

[2022-10-10 20:35] dorn-gerhard commented on #299
I was thinking of generalizing intersectparameters to define intersections of any two affine subvectorspaces, e.g. two planes in a 3, 4, or n-dimensional space.
This could be used to prepare intersections of lines with planes (thinking of using this as basis for triangle-ray intersection) and so on.

It boils all down to defining the subvectorspace through a set of points (function input could be

[2022-10-10 20:45] dorn-gerhard opened #308 "Suggestion for new intersection types"
I am planning to work on the intersection of Ray - Triangle to provide more
intersection types. Currently it just works in 3D which is basically fine though I don't see issues with a 2D implementation.

But most important if a Ray is parallel to a triangle in the sense that they lie in the same plane, then the
intersection should be a segment.

So basically there are two main cases, namely whether

[2022-10-10 21:42] juliohm commented on #299
@dorn-gerhard I am not sure I am following all the details but I trust you are considering all the downsides of different designs. Why returning vectors of lambdas would be type unstable? Wouldn't that always be the return type in all cases?

[2022-10-10 21:44] juliohm commented on #308
You are the master of intersections, I am trusting the type hierarchy you designed carefully. Thank you for putting the time into it.

[2022-10-11 11:21] dorn-gerhard commented on #299
Regarding **design**: I wanted to prevent to have several functions if one function could do everything.
I started thinking to discuss line - plane intersection and generalized it to any intersection of affine subvectorspace - i think the design is quite appealing.

Main design ideas are:
- representation of affine subvectorspaces by a set of points (contradicts a bit the primitive plane, which us

[2022-10-11 22:38] kylebeggs commented on #308
Just wanted to say thanks for working on this. With these planned updates, #293 will finally be able to be finished!

[2022-10-12 11:03] juliohm commented on #299
@dorn-gerhard can you please confirm that we need to decide on this design now in order to fix the issue? I thought that the fix to the current issue was orthogonal to the design of the new intersectparams? If you can replace the intersectpoint and intersectcollinear, ... with the current implementation of intersectparams I will be able to provide more helpful feedback.

[2022-10-12 18:43] dorn-gerhard commented on #299
ah okay, you are right, I should focus on the issue topic.

So, currently the two functions just appear in
`intersectpoint`:
- ``segments.jl`` (defined for segments, used - but obsolete)
- ``raysegment.jl`` (defined, only used in tests)
- ``rays.jl`` (only defined for rays, never used``)
- ``lines.jl`` (defined for lines, used in the definition of the other implementations)
- ``test/intersections.

[2022-10-13 21:19] dorn-gerhard commented on #299
Comment:
intersectcollinear has a bug:
[code]
yields
[code]
instead of
[code]

I will repair that.

[2022-10-15 13:25] dorn-gerhard opened #310 "Implement ringequal for polygons and closed chains"
I just figured out that the sequence how polytopes are initialized makes a difference when checking for isequal.

``Segment((1,0), (0,0)) == Segment((0,0), (1,0))`` returns ``false``

This is due to the implementaion in ``polytopes.jl`` in line 60:
``==(p1::Polytope, p2::Polytope) = vertices(p1) == vertices(p2)``
I see that the sequence of points is important but any cyclic permutation should be a

[2022-10-15 13:53] juliohm commented on #310
That is a good question, should we consider polytopes equal up to permutation? In practice I think that can complicate things or at least compromise performance? What is the scenario where we would actually check for equality?

[2022-10-15 17:35] juliohm commented on #310
I thought about it a bit more and the most conservative way forward is to introduce a new function like `ringequal` that compares polygons and closed chains as rings. The default == should be the most simple and performant definition for test purposes. Notice that this ringequal doesn't make sense for 3D geometries, so I will rename the issue to something more specific.

[2022-10-17 12:04] dorn-gerhard commented on #310
a suggestion for a ringequal function:

[code]
respectively
[code]
(Set is slow)

a test:
[code]

[2022-10-17 12:12] juliohm commented on #310
Notice that the function should only accept Polygon and Chain.

Polytope in our terminology includes 3D polyhedra or higher dimensional objects.

[2022-10-17 16:30] EdoAlvarezR opened #311 "Packages using Meshes.jl"
This is more of a feature request than an issue.

Any chance that a list of packages that currently use Meshes.jl could be added to the readme and docs? As I've been considering using Meshes.jl, I've found myself wishing to see how other people implement Meshes.jl to their own use cases.

[2022-10-17 16:32] juliohm commented on #311
You can find this information in the JuliaHub website. They show the dependants of a package.

[2022-10-17 16:32] #311 closed, assigned to nobody

[2022-10-18 07:10] dorn-gerhard commented on #310
yes, you are right.

So after current PR I can add a function ``ringequal`` (or circledequal? there is also ``circshift`` in julia) for Polygons and Chains. A possible symbol could be
- ``\circeq``: ≗
- ``\circledequal``: ⊜

A question will be if we map isequal to ringequal by default, like
``isequal(s1::Segment, s2::Segment) = ringequal(s1,s2)``
No idea about the consequences

[2022-10-18 10:15] juliohm commented on #310
The \circeq looks great 👍🏽

Regarding the case with Segment, I don't think it is a ring (i.e. the begin != end)

[2022-10-30 17:34] hovey opened #314 "Minor punctuation fix."
From
`A domain is an indexable collection of geometries (e.g. mesh) or points`

To
`A domain is an indexable collection of geometries (e.g. mesh) or points.`

[2022-10-30 17:45] juliohm commented on #314
Please consider a more general issues with more docstring fixes instead of a single character.

[2022-10-30 17:45] #314 closed, assigned to nobody

[2022-10-31 16:43] juliohm commented on #299
Fixed by #309

[2022-10-31 16:43] #299 closed, assigned to nobody

[2022-10-31 16:44] juliohm commented on #290
@dorn-gerhard I think you already checked ✅  some of the implementations in your roadmap above?

[2022-11-02 15:07] juliohm commented on #290
I edited the comment above to include a check list.

[2022-11-07 12:46] juliohm commented on #202
Added RectilinearGrid type in https://github.com/JuliaGeometry/Meshes.jl/commit/1ed1e26eb5bab89372038f67a4b510c949c8fc09

[2022-11-07 12:46] #202 closed, assigned to juliohm

[2022-11-09 10:29] henry2004y opened #320 "Precision of segment intersection"
The following code shows difference between version 0.24 and 0.25:

[code]

Analytically, `Point(2.125, 1.875)` lies exactly along `seg1`, so Meshes v0.24 gives the correct result `Nothing`. This seems to be related to precisions of floating numbers?

[2022-11-09 10:33] juliohm commented on #320
@dorn-gerhard as you can see that PR we merged is quite delicate. Can you please take a look at this? It would be great if we could provide a hotfix.

[2022-11-09 10:36] juliohm commented on #320
Thank you @henry2004y for opening the issue. Please let us know if you have a fix, feel free to submit a PR as well.

[2022-11-11 12:40] dorn-gerhard commented on #320
the reason is that we currently use the relative parameter `λ` of a segment which is between zero and one and so indicates intersections relative to the length of a segment.
the intersection of seg1 and seg3 seen from seg3 is `λ = -9.999999999732445e-11` which is rounded according to the tolerance of Float64 (`atol(Float64) -> 10^-10`)

(Use `Meshes.intersectparameters(seg1(0), seg1(1), seg3(0), s

[2022-11-11 12:50] juliohm commented on #320
I remember having to use a squared tolerance somewhere in the old code to avoid these rounding issues because the old algorithm was computing areas. If tol is the tolerance for lengths, then tol^2 is the tolerance for areas.

@dorn-gerhard, if you know a good fix for the new algorithm already, feel free to start a PR. I am happy to review it.

[2022-11-12 10:51] dorn-gerhard commented on #320
PR #321 should solve the problem

[2022-11-15 10:32] Petr-Hlavenka opened #323 "Stack overflow when intersecting a triangle"
Stack overflow when intersecting a triangle with a plane - I don't know if that is implemented yet, but nevertheless a better error should be thrown.

MWE on master:
[code]
[code]

It comes from this "infinity loop" definition: src/intersections.jl:37
[code]

[2022-11-15 10:42] juliohm commented on #323
Your MWE is trying to intersect a triangle with a partition method? Can you please clarify?

This infinity loop has been reported multiple times with different geometries. If there is no implementation available it will enter in a loop and we don't want to add a bunch of method definitions just to say it is not implemented yet.

[2022-11-15 10:42] #323 closed, assigned to nobody

[2022-11-15 14:03] Petr-Hlavenka commented on #323
Hi @juliohm, what is the proper way of intersecting a triangle with a plane? What method should be implemented to allow that?

Would it help to have a generic fallback? I don't know, but the stack overflow seems to me like a bad way to indicate an unsupported operation.

[2022-11-15 14:06] juliohm commented on #323
Hi @phlavenk you can take a look at the available algorithms in the intersections folder. Perhaps you can write a new intersection algorithm for triangle and plane in terms of these simpler components: https://github.com/JuliaGeometry/Meshes.jl/tree/master/src/intersections

If you manage to write one, feel free to submit a PR and we will review and merge.

[2022-11-15 21:02] juliohm commented on #320
Fixed on master. We are in the process of releasing a new minor release with a set of breaking improvements to the interface.

[2022-11-15 21:02] #320 closed, assigned to nobody

[2022-11-15 22:34] dorn-gerhard commented on #308
After finishing intersections between ``rays``, ``lines`` and ``segments``, I will work on intersections of these three geometries with ``plane`` and ``triangles``.

Therefore I will think about a new (more general) `intersectparameters` function

[2022-11-15 22:36] dorn-gerhard commented on #323
I will provide a `planetriangle.jl` intersection soon.

[2022-11-16 11:04] juliohm opened #325 "Ordering convention for intersection pairs"
As discussed in #324 we need to introduce an ordering convention for the various intersection pairs.

@dorn-gerhard do you have a proposal in the form of an algorithm that takes two geometry types and decides which one should come first?

[2022-11-16 15:01] dorn-gerhard commented on #325
Sure.
I would rank geometries according to the following criterias (some first thoughts):

1. According to `paramdim` in ascending order
   - 0: paramdim(::Point) = 0,
   - 1: paramdim(::Line or ::Ray or ::Segment or ::Bezier) = 1
   - ≥ 1: paramdim(::Sphere) = N-1 (1, 2, ...)
   - 2: paramdim(::Plane or ::Triangle or ::Ngon or ::PolyArea) = 2, paramdim(::CylinderSurface) = 2
   - ≥ 2: paramdim(::

[2022-11-16 16:55] juliohm commented on #325
Fixed in https://github.com/JuliaGeometry/Meshes.jl/commit/b5201447e6d049ad2d6ee3071886e3e38ec6f11b

Fixed in https://github.com/JuliaGeometry/Meshes.jl/commit/7f9c763c5a8a04ba9bb310e008dc98067e1ea723

You mean that we should add a `sphere(u, v)` parametrization, correct?

[2022-11-17 12:28] dorn-gerhard commented on #325
thanks for fixing,
regarding not callable geometries, ``sphere(u, v)`` would be great, with u, v being spherical coordinates θ ∈[0, π] and ϕ ∈[0, 2π].

calling a point shouldn't be possible as number of arguments should correspond to paramdims.

Box and Ball should be also callable with N arguments

Pyramid, Cylinder and Tetrahedron  should be callable with 3 arguments

[2022-11-17 12:51] dorn-gerhard commented on #325
but what do you think of this ordering scheme of intersection types?

A. paramdim
B. measure
  1. infinite measure
  2. finite measure

C. domain error
   1. not restricted
   2. restricted

D. nvertices
   - 0: not defined
   - n: actual number of vertices

This would yield the following order:
 - Point (A=0)
 - Line (A=1, B=1, C=1, D=0)
 - Ray (A=1, B=1, C=2, D=0)
 - Segment (A=1, B=2, C=2, D=2)

[2022-11-17 12:58] juliohm commented on #325
Can you please confirm that you are using A, B, C, D for lexicographic comparison? That is, if the criterion A is not available, we use criterion B, then C, then D?

PolyArea and Ngon are both instances of Polygon

[2022-11-17 13:00] juliohm commented on #325
It would be nice to open an issue for these so that we don't forget to fix it at some point :)

[2022-11-20 04:24] Veenty opened #328 "Tutorial on simple meshes"
I would like to add section in the docs on how to create simple meshes.

Maybe a whole section with tutorials with simple docs could be nice

[2022-11-20 11:07] juliohm commented on #328
Thank you @Veenty. You can expand the section we have currently on meshes and add more examples below the basic example with SimpleMesh: https://juliageometry.github.io/Meshes.jl/stable/meshes.html

[2022-11-20 19:46] Veenty opened #329 "RectilinearGrid not available in downloadable?"
So I just updated Meshes using `add Meshes` , however I'm not able to use RectilinearGrid

when I do status I get

[code]

but I also get

[code]

Any idea why it could be?

[2022-11-20 20:02] juliohm commented on #329
We are still working on the next release. In order to use the version in the master branch you can `add Meshes#master`

[2022-11-20 20:02] #329 closed, assigned to nobody

[2022-11-21 08:57] Petr-Hlavenka opened #331 "API change proposal of Partition(..., ::ProductPartition)"
Hi @juliohm, I have a problem with the unstable API of `Partition(..., ::ProductPartition)`. It behaves unpredictably. Where with `BisectPointPartition` I can rely on `left, right = partition(...)`, with ProductPartition I cannot rely on a similar `left, middle, right = partition` pattern. For some unknown reason, it returns a tuple of either one, two or three subsets, depending on how many labels

[2022-11-21 11:28] juliohm commented on #331
@phlavenk your frustration is coming from the fact that you are not understanding the concepts and we should probably improve the documentation. The partition of a set into subsets is a general concept and does not have anything special with your use case with 3 subsets. The returned object is a partition with N subsets. You can access each subset with Π[1], Π[2], ..., Π[N], or you can collect(Π)

[2022-11-21 11:28] #331 closed, assigned to nobody

[2022-11-28 20:28] stillyslalom opened #332 "Interactive point plot broken in docs"
Zooming and panning changes the viewport for tick markers and grid lines, but the points themselves are stuck in position. This is most likely an issue with the underlying plotting library (WGLMakie?). Interactivity works as expected for the sphere and rectangle plots.

https://user-images.githubusercontent.com/4324760/204373396-208e776e-8e5b-4639-8cec-a6a02790bf7b.mp4

Video taken in Google Chrom

[2022-11-28 20:44] juliohm commented on #332
Yes, this is an issue with the Makie stack.

[2022-11-28 20:44] #332 closed, assigned to nobody

[2022-11-28 21:08] stillyslalom commented on #332
This issue, presumably? https://github.com/MakieOrg/Makie.jl/issues/2243

[2022-11-28 21:25] juliohm commented on #332
I think asking the Makie maintainers is the way to go here. We are not following their issue tracker.

[2022-11-28 22:13] stillyslalom commented on #332
I understand wanting to keep issues tightly focused on Meshes.jl, but this issue *does* impact this repo, even if the source is upstream. It's worth tagging issues in dependencies to make downstream impacts visible to a dependency's maintainers.

[2022-11-28 22:23] juliohm commented on #332
But Makie.jl is not a dependency of Meshes.jl. Our only interaction with Makie.jl is through MeshViz.jl, which is a collection of standard Makie recipes.

The issue you linked seems to describe very well the behavior you shared in the video. This behavior should appear in any package documentation that has a 3D scatter with WGLMakie.jl

[2022-11-30 22:34] lstagner opened #333 "`in` fails with StackOverflow with mixed types"
[code]